@font-face {
  font-family: Px-B;
  src: url('../css/fonts/ProximaNova-Black.ttf');
  font-display: swap;
}

@font-face {
  font-family: Px;
  src: url('../css/fonts/ProximaNova-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: Px-S;
  src: url('../css/fonts/ProximaNova-Semibold.ttf');
  font-display: swap;
}

@font-face {
  font-family: Px-T;
  src: url('../css/fonts/ProximaNova-Thin.ttf');
  font-display: swap;
}
//FONTS

@mixin flex-center {
  align-items: center;
  justify-content: center;
}

@mixin flex-jc-cent-col{
  justify-content: center;
  flex-direction: column;
}

@mixin flex-jc-spb-col {
  flex-direction: column;
  justify-content: space-between;
}

@mixin flex-jc-end-col {
  flex-direction: column;
  justify-content: flex-end;
}

@mixin flex-jc-st-col {
  flex-direction: column;
  justify-content: flex-start;
}

@mixin flex-ai-cent-col {
  align-items: center;
  flex-direction: column;
}

@mixin flex-ai-end-col {
  align-items: flex-end;
  flex-direction: column;
}

@mixin flex-ai-start-col {
  align-items: flex-start;
  flex-direction: column;
}

@mixin flex-ai-spb-col {
  align-items: space-between;
  flex-direction: column;
}

@mixin flex-st-cent{
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-end-cent{
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-cent-end{
  justify-content: center;
  align-items: flex-end;
}

@mixin flex-spb-center{
  justify-content: space-between;
  align-items: center
}

@mixin flex-center-spb{
  justify-content: center;
  align-items: space-between;
}

@mixin flex-spb-end{
  justify-content: space-between;
  align-items: flex-end;
}

@mixin image($size, $pos) {
  background-position: $pos;
  background-size: $size;
  background-repeat: no-repeat;
}

@mixin f($font, $size, $color, $lh) {
  font-family: $font;
  font-size: $size;
  color: $color;
  line-height: $lh;
}

@mixin fw($font, $size, $color) {
  font-family: $font;
  font-size: $size;
  color: $color;
}
//MIXINS

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1745px;
  width: 94%;
  margin: 0 auto;
  overflow: hidden;
}

.button-block {

  &__link {
    text-decoration: none;
  }

  &__button {
    border-radius: 46px;
    display: flex;
    @include flex-center;
    @include fw(Px, 30px, white);
    border: none;
  }
}

.button_green {
  background-color: #1fca16;
}

.button_blue {
  background-color: #2eafdf;
}

.title-block {
  width: 100%;
  display: flex;
  justify-content: center;

  &_top {
    margin-top: 150px;
  }

  &__wrapper {
    background-image: url('../img/advantages/greenLine.png');
    @include image(85% 20px, left bottom);
    transform: translateX(-40px);
  }

  &__title {
    @include fw(Px-S, 60px, #403f3f);
    transform: translateX(41px);
  }
}
//MAIN-STYLES

.header {
  width: 100%;
  height: 210px;

  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    &_top {
      margin-top: 36px;
    }
  }

  &-content {
    width: 1100px;
    display: flex;
    @include flex-spb-center;
  }
}

.logo {
  background-image: url('../img/header/logo.svg');
  @include image(169px 169px, center center);
  width: 169px;
  height: 169px;
}

.navigation-block {
  display: flex;
  width: 444px;
  align-items: center;

  &_1 {
    justify-content: flex-end;
  }

  &_2 {
    justify-content: flex-start;
  }

  &__link {
    text-decoration: none;
    @include fw(Px, 26px, #5c5b5b);
    text-transform: uppercase;
    height: 26px;
    transition: 0.4s;

    &:hover {
      color: #969292;
      transition: 0.4s;
    }
  }

  &__slesh {
    width: 4px;
    height: 20px;
    background-color: #1591bf;

    &-wrapper {
      width: 20px;
      display: flex;
      @include flex-center;
    }
  }
}

.button-block {

  &_header {
    position: absolute;
    top: 85px;
    transform: translateX(650px);
    z-index: 1;
  }

  &_button_header {
    width: 390px;
    height: 91px;
  }
}

.navigation-block-sm {
  position: fixed;
  display: flex;
  @include flex-center;
  z-index: 2;
  width: 200px;
  height: 100vh;
  margin-left: 0px;
  top: 50%;
  right: 0;
  transform: translate(5000px, -50%);
  background-color: rgba(0, 0, 0, 0.85);
  border-left: 5px solid rgb(21, 114, 21);
  transition: 0.3s;

  &__links-wrapper {
    display: flex;
    @include flex-jc-spb-col;
    align-items: center;
    height: 250px;
  }

  &__link {
    @include fw(Px-S, 20px, white);
    text-decoration: none;
    height: 23px;
    box-sizing: border-box;
    transition: 0.4s;
    width: auto;
    line-height: 1;

    &:hover {
      transition: 0.4s;

      &:after {
        width: 100%;
      }
    }

    &:focus:after {
      width: 100%;
    }

    &::after {
      display: block;
      content: "";
      background-color: rgb(21, 114, 21);
      width: 0px;
      height: 5px;
      position: absolute;
      transition: width .3s ease-in-out;
      left: 0;
    }
  }
}

.navigation-block-sm_active {
  transform: translate(0px, -50%);
  transition: 0.3s;
}

.navigation-sm-btn {
  position: absolute;
  display: none;
  left: 30px;
  top: 65px;
  width: 40px;
  height: 25px;
  cursor: pointer;

  &__blue-line {
    width: 40px;
    height: 3px;
    background-color: #0e769c;
    transition: 0.3s;
  }

  &__green-line {
    width: 25px;
    height: 3px;
    background-color: #62b61f;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 6px 0;
    transition: 0.05s;
  }
}

.navigation-sm-btn_line_1 {
  &_active {
    transform: rotate(45deg);
    transition: 0.3s;
  }
}

.navigation-sm-btn_line_2 {
  &_active {
    display: none;
  }
}

.navigation-sm-btn_line_3 {
  &_active {
    transition: 0.3s;
    transform: translateY(-2.5px)  rotate(-45deg);
  }
}
//HEADER

.main-information {
  width: 100%;
  height: 862px;
  background-image: url('../img/mainInformation/bg.webp');
  @include image(2500px 862px, center center);

  &-content {
    width: 100%;
    height: 814px;
    display: flex;
    @include flex-spb-end;
  }
}

.information-block {
  width: 760px;
  height: 635px;
  

  &__wrapper {
    width: 760px;
    display: flex;
    @include flex-ai-end-col;
    justify-content: center;
    height: 522px;
    border-left: 20px solid #24a71d;
  }

  &__text-wrapper {
    display: flex;
    @include flex-ai-start-col;
    width: 700px;
    height: 465px;
  }

  &__title {
    @include fw(Px-B, 72px, white);
    letter-spacing: 5px;
  }

  &__description {
    @include f(Px-S, 60px, white, 70px);
    letter-spacing: 8px;

    &-wrapper {
      margin-top: 43px;
    }
  }

  &__bonus {
    @include fw(Px-B, 60px, #1da417);
    letter-spacing: 6px;

    &-wrapper {
      margin-top: 20px;
    }
  }

  &__extra {
    @include f(Px-S, 24px, white, 30px);
    text-transform: uppercase;
    letter-spacing: 1.8px;

    &-wrapper {
      margin-top: 20px;
    }
  }
}

.button-block_main-information {
  width: 700px;
  @include flex-ai-start-col;
  margin-left: 65px;
  margin-top: 23px;
}

.button-block_button_main-information {
  width: 390px;
  height: 91px;
}

.feedback-block {
  transition: 0.3s;

  &__feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 590px;
    height: 696px;
    background-color: #2eafdf;
    border-radius: 25px;

    &-area {
      box-sizing: border-box;
      width: 496px;
      height: 89px;
      border: none;
      padding: 0 60px;
      border-radius: 42px;
      @include fw(Px, 30px, black);
      letter-spacing: 3px;
      margin-top: 60px;
      background-color: white;

      &::placeholder {
        @include fw(Px, 30px, #737272);
        letter-spacing: 3px;
      }
    }
  }
}

.button-block_feedback {
  margin-top: 80px;
}

.feedback-block_active {
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.feedback-btn {
  display: none;
  @include flex-center;
  position: absolute;
  cursor: pointer;
  top: 320px;
  transform: translateY(-50%);
  border-left: 10px solid #0e769c;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; 
  right: 0;
  width: 100px;
  height: 40px;
  background-color: rgba(43, 43, 43, 0.85);

  &__link {
    @include fw(Px-S, 15px, white);
    text-align: center;
  }
}
.overlay {
  background-color: rgba(0, 0, 0, 0.651);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  display: none;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: 0.5s;

  &__close-btn {
    width: 30px;
    height: 30px;
    display: flex;
    @include flex-center;
    background-image: url('../img/mainInformation/close.svg');
    @include image(30px 30px, center center);
    position: fixed;
    left: 15px;
    top: 55px;
  }
}

.overlay_active {
  opacity: 1;
  transition: 0.5s;
  display: block;
}
//MAIN-INFORMATION

.advantages {
  height: 638px;
  width: 100%;
  background-color: #fff;
}

.advantages-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &_top {
    margin-top: 129px;
  }
}

.advantage {
  width: 404px;
  height: 296px;
  display: flex;
  @include flex-jc-end-col;
  align-items: center;
  background-position: center top;
  background-repeat: no-repeat;

  &__text-wrapper {
    height: 105px;
    display: flex;
    @include flex-jc-st-col;
    text-align: center;
  }

  &__text {
    @include f(Px-S, 30px, #414040, 36px);
  }

  &_1 {
    background-image: url('../img/advantages/adv-1.svg');
    background-size: 83px 186px;
  }

  &_2 {
    background-image: url('../img/advantages/adv-2.svg');
    background-size: 260px 146px;
  }

  &_3 {
    background-image: url('../img/advantages/adv-3.svg');
    background-size: 172px 148px;
  }
}
//ADVANTAGES
.offers {
  height: 950px;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

.container_offers {
  max-width: 1760px;
}

.offers-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  &_top {
    margin-top: 150px;
  }
}

.offers-content {
  width: 1760px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer {
  width: 400px;
  height: 393px;

  &__number {
    @include fw(Px-B, 242px, #7ae722);

    &-wrapper {
      position: relative;
      z-index: 1;
      transform: translate(-20px, -55px);
    }
  }

  &_number-wrapper_1 {
    transform: translate(-1px, -55px);
  }

  &__round {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
    width: 336px;
    height: 336px;
    background-color: #60bee1;
    border-radius: 50%;
    transform: translate(35px, -190px);
    @include image(86px 86px,center 30%);
  }

  &_round {
    
    &_1 {
      background-image: url('../img/offers/1.png');
    }

    &_2 {
      background-image: url('../img/offers/2.png');
      background-size: 80px 96px;
    }

    &_3 {
      background-image: url('../img/offers/3.png');
      background-size: 108px 108px;
    }
  }

  &__text-wrapper {
    height: 100px;
    margin-top: 175px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__text {
    @include f(Px-S, 30px, white, 36px);
  }
}

.arrow {
  width: 320px;
  height: 9px;
  background-image: url('../img/offers/arrow.svg');
  @include image(320px 9px, center center);
  transform: translate(0px, 20px);

  &_1 {
    position: static;
    transform: translate(5px, 20px);
  }

  &_2 {
    position: static;
    transform: translate(5px, 20px);
  }
}
//OFFERS

.action {
  height: 946px;
  width: 100%;
  background-image: url('../img/action/bg.webp');
  @include image(2166px 946px, 80% center);
}

.action-main-content {
  width: 977px;
  height: 328px;

  &_left {
    margin-left: auto;
    margin-top: 210px;
  }
}

.action-text-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 133px;
  @include flex-ai-cent-col;

  &__title {
    @include fw(Px-B, 60px, #292929);
    letter-spacing: 6px;
  }

  &__description {
    @include fw(Px-S, 48px, #292929);
    letter-spacing: 2.4px;
  }
}

.action-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;

  &_top {
    margin-top: 98px;
  }
}

.action-benefits-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  &_top {
    margin-top: 120px;
  }
}

.action-benefits-content {
  width: 1509px;
  display: flex;
  justify-content: space-between;
}

.action-benefit-block {
  width: 405px;
  height: 207px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__img-wrapper {
    width: 100%;
    height: 127px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__img {
    background-repeat: no-repeat;
    background-position: center center;
  }

  &_img {

    &_1 {
      background-image: url('../img/action/1.svg');
      width: 126px;
      height: 109px;
      background-size: 126px 109px;
    }

    &_2 {
      background-image: url('../img/action/2.svg');
      width: 120px;
      height: 121px;
      background-size: 120px 121px;
    }

    &_3 {
      background-image: url('../img/action/3.svg');
      width: 127px;
      height: 127px;
      background-size: 127px 127px;
    }
  }

  &__text {
    @include fw(Px-S, 30px, #212121);
    letter-spacing: 1.5px;
  }
}
//ACTION

.calculator {
  height: 1350px;
  width: 100%;
  background-color: white;
}

.calculator-block {
  width: 100%;
  display: flex;
  justify-content: center;

  &_top {
    margin-top: 100px;
  }

  &__content-wrapper {
    width: 1580px;
    height: 1093px;
  }

  &__checkboxes {
    width: 1530px;
    height: 430px;
    display: flex;
    justify-content: space-between;
  }

  &__checkbox-wrapper {
    display: flex;
    @include flex-ai-spb-col;
    height: 415px;
    width: 630px;
  }

  &__title {
    @include f(Px-S, 33px, black, 35px);
    letter-spacing: 3px;
  }

  &__checkbox-group {
    height: 295px;
    margin-top: 30px;
  }

  &__checkbox-item-wrapper {
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__checkbox-item {
    display: none;
  }

  &__checkbox-label {
    cursor: pointer;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      display: inline-block;
      width: 45px;
      height: 45px;
      background-color: #efefef;
      border-radius: 50%;
    }

    &-text {
      margin-left: 20px;
      @include fw(Px-S, 25px, black);
    }
  }

  &__milleage {
    margin-top: 65px;
  }

  &__time {
    margin-top: 65px;
    border-bottom: 3px solid #6598ff;
    height: 190px;
  }

  &__result {
    &-x, &-y, &-z {
      font-size: 15px;
    }
  }

  &_range-wrapper{

    &_hours-and-days {
      width: 745px;
    }
  }

  &__final-price {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;

    &-wrapper {
      width: 245px;
      height: 65px;
      display: flex;
      @include flex-jc-spb-col;
      align-items: flex-end;
    }

    &-text {
      @include fw(Px-S, 25px, #6a667e);
    }
  }

  &__result, {
    @include fw(Px-S, 35px, black);
    letter-spacing: 2px;

    &-r {
      @include fw(Px-S, 26px, black);
      margin-left: 5px;
    }
  }

  &__range {
    height: 18px;

    &-wrapper {
      margin-top: 30px;
    }
  }

  &__checkbox-item:checked + &__checkbox-label::before {
    background-image: url('../img/calculator/symbol.svg');
    color: #f3f3f3;
    background-position: center center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 18px;
    background-color: #6598ff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__time {
    display: flex;
    justify-content: space-between;
  }

  &__sm-ranges {
    display: none;
    justify-content: space-between;
  }

  &__range-sm {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__result-wrapper-sm {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 270px;
    height: 60px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0 6px 0 black;
    transform: translate(-50%, -300px);
    transition: 0.6s;
    display: none;
  }

  &_result-wrapper-sm_active {
    transition: 0.6s;
    transform: translate(-50%, 0px);
  }

  &__result-content {
    width: 210px;
    display: flex;
    height: 60px;
    align-items: center;
    border-right: 1px solid gray;
  }

  &__result-btn {
    background-image: url('../img/calculator/close.svg');
    width: 50px;
    height: 60px;
    @include image(25px 25px, center center);
    cursor: pointer;
  }
}

.v-slider--horizontal .v-slider__track-container {
  width: 100%;
  height: 8px;
}

.v-slider__thumb {
  width: 35px;
  height: 35px;
  left: -15px;
}

.v-slider--horizontal .v-slider__tick .v-slider__tick-label {
  top: 23px;
}

.v-slider__thumb:before {
  display: none;
}

.v-slider__tick {
  background-color: #6195ff;
}

.v-slider__tick-label {
  font-family: Px;
  font-size: 20px;
  transform: translateX(-1px);
}

.v-slider__tick--filled {
  color: #6195ff;
  background-color: #6195ff;
}
//СALCULATOR

.service {
  width: 100%;
  background-color: #fff;
}

.title-block_service_top {
  margin-top: 50px;
}

.services-wrapper {
  display: flex;
  width: 100%;
  height: 2075px;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;

  &_top {
    margin-top: 118px;
  }
}

.service-block {
  width: 509px;
  height: 631px;
  box-shadow: 2px 4px 17px 4px rgba(189, 189, 189, 0.36);
  border-radius: 5px;
  background-color: #ffffff;
  background-position: center 15%;

  &:nth-child(3n) {
    page-break-after: always;
  }

  &:nth-of-type(1) {
    background-image: url('../img/service/one.webp');
  }

  &:nth-of-type(2) {
    background-image: url('../img/service/two.webp');
  }

  &:nth-of-type(3) {
    background-image: url('../img/service/three.webp');
  }

  &:nth-of-type(4) {
    background-image: url('../img/service/four.webp');
  }

  &:nth-of-type(5) {
    background-image: url('../img/service/five.webp');
  }

  &:nth-of-type(6) {
    background-image: url('../img/service/six.webp');
  }

  &:nth-of-type(7) {
    background-image: url('../img/service/seven.webp');
  }

  &:nth-of-type(8) {
    background-image: url('../img/service/eight.webp');
  }

  &__image {
    @include image(cover, center center);
    height: inherit;
    width: inherit;

    &-wrapper {
      height: 225px;
      width: 100%;
      position: relative;
      top: 70px;
    }
  }

  &__text {
    @include f(Px, 24px, #4c4b4b, 30px);
    width: 415px;

    &-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 325px;
      height: 150px;
    }
  }

  &__btn {
    width: 256px;
    height: 60px;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    transition: 0.4s;

    &-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 61px;
    }

    &-link {
      text-decoration: none;
    }

    &-text {
      @include fw(Px-S, 24px, #272727);
      letter-spacing: 1.2px;
      margin-left: 42px;
      transition: 0.4s;
    }

    &-img {
      @include image(74px 36px, center center);
      width: 74px;
      height: 36px;
      transition: 0.4s;
      background-image: url('../img/service/arrow.svg');
    }
  }

  &_btn_active {
    background-color: #458fe8;
    transition: 0.4s;
  }
}

.service-block:hover .service-block__btn{
    background-color: #458fe8;
    transition: 0.4s;
    color: white;
}

.service-block:hover .service-block__btn span{ 
  transition: 0.4s;
  color: white;
}

.service-block:hover .service-block__btn span{ 
  transition: 0.4s;
  color: white;
}

.service-block:hover .service-block__btn-img {
  transition: 0.4s;
  background-image: url('../img/service/arrowActive.svg');
}

.space {
  width: 509px;
  height: 1px;
}
//SERVICE

.callback {
  width: 100%;
  height: 1060px;
  background-color: #dceffc;

  &-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &_top {
      margin-top: 95px;
    }
  }

  &_top {
    margin-top: 50px;
  }
}

.callback-img-wrapper {
  width: 800px;
  display: flex;
  justify-content: center;
}

.callback-img-block {
    width: 609px;
    height: 609px;
    border: 3px solid #c2c2c2;
    border-radius: 50%;
    display: flex;
    @include flex-center;
    position: relative;

    &__green-round {
      width: 405px;
      height: 405px;
      background-color: #adf870;
      border-radius: 50%;
      display: flex;
      @include flex-center;
    }

    

    &__img {
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 50%;
      box-sizing: border-box;
      border: 10px solid white;
      box-shadow: 3px 5px 15px 1px rgba(140, 138, 138, 0.28);
      cursor: pointer;
      transition: 0.8s;

      &:hover {
        border-color: #adf870;
        transition: 0.8s;
        transform: scale(1.05);
      }
    }
  
    &_img_active {
      transform: scale(1.1);
      border-color: #2eafdf;
      transition: 0.5s;

      &:hover {
        transform: scale(1.1);
        border-color: #2eafdf;
        transition: 0.5s;
      }
    }

    &_img {
      &_1 {
        background-image: url('../img/callback/1.webp');
        width: 167px;
        height: 167px;
        background-size: 167px 167px;
      }

      &_2 {
        background-image: url('../img/callback/2.webp');
        width: 150px;
        height: 150px;
        background-size: 150px 150px;

        &_pos {
          position: absolute;
          left: 35px;
          top: 5px;
        }
      }

      &_3 {
        background-image: url('../img/callback/3.webp');
        width: 102px;
        height: 102px;
        background-size: 102px 102px;

        &_pos {
          position: absolute;
          left: -25px;
          bottom: 150px;
        }
      }
      
      &_4 {
        background-image: url('../img/callback/4.webp');
        width: 86px;
        height: 86px;
        background-size: 86px 86px;

        &_pos {
          position: absolute;
          left: 120px;
          bottom: -2px;
        }
      }

      &_5 {
        background-image: url('../img/callback/5.webp');
        width: 150px;
        height: 150px;
        background-size: 150px 150px;

        &_pos {
          position: absolute;
          right: -5px;
          bottom: 30px;
        }
      }

      &_6 {
        background-image: url('../img/callback/6.webp');
        width: 160px;
        height: 160px;
        background-size: 160px 160px;

        &_pos {
          position: absolute;
          right: -45px;
          top: 70px;
        }
      }
    }
}

.callback-person-block {
  width: 827px;
  height: 558px;
  display: flex;
  @include flex-jc-spb-col;
  align-items: center;
  text-align: center;
  display: none;
  opacity: 0;

  &_active {
    display: flex;
    transform: translateX(0px);
    opacity: 1;
    transition: 0.6s;
  }

  &__img {
    width: 176px;
    height: 176px;
    @include image(176px 176px, center center);
    border-radius: 50%;
    box-sizing: border-box;
    border: 7px solid white;
  }

  &_img {

    &_1 {
      background-image: url('../img/callback/1.webp');
    }

    &_2 {
      background-image: url('../img/callback/2.webp');
    }

    &_3 {
      background-image: url('../img/callback/3.webp');
    }

    &_4 {
      background-image: url('../img/callback/4.webp');
    }

    &_5 {
      background-image: url('../img/callback/5.webp');
    }

    &_6 {
      background-image: url('../img/callback/6.webp');
    }
  }

  &__title {
    @include fw(Px-S, 48px, #363535);
  }

  &__text {
    @include f(Px-S, 24px, #696969, 35px);
  }

  &__link {   
    text-decoration: none;
    box-sizing: border-box;

    &:visited {
      color: #036db8;
    }
    

    &-text {
      @include fw(Px-S, 30px, #036db8);
      border-bottom: 5px solid #036db8;
      height: 40px;
    }
    
    &-wrapper {
      height: 50px;
    }
  }
}
//CALLBACK

.map {
  height: 890px;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

.map-content-block {

  &__variants {
    &-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 407px;
    }

    &-content {
      display: flex;
      justify-content: space-between;
      width: 1720px;
    }
  }

  &__variant {
    background-position: center center;
    background-repeat: no-repeat;
    width: 450px;
    height: 270px;
    opacity: 0.4;
    transition: 0.4s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &_variant {

    &_1 {
      background-image: url('../img/service/seven.webp');
      background-size: 322px 91px;
    }

    &_2 {
      background-image: url('../img/service/one.webp');
      background-size: 120px 225px;
    }

    &_3 {
      background-image: url('../img/service/two.webp');
      background-size: 293px 131px;
    }

    &_4 {
      background-image: url('../img/service/six.webp');
      background-size: 352px 78px;
    }

    &_active {
      opacity: 1;
      transition: 0.4s;
      transform: scale(1.05);
    }
  }

  &__map {
    display: none;
  }

  &_map_active {
    display: block;
  }
}
//MAP
