@media (max-width: 1870px) {
  .offer__round {
    width: 296px;
    height: 296px; }
  .offer__number {
    font-size: 180px; }
  .offers-content {
    width: 153 0px; }
  .arrow {
    width: 260px;
    background-size: 260px 9px; }
  .arrow_1 {
    transform: translate(15px, -50px); }
  .arrow_2 {
    transform: translate(15px, -50px); }
  .offer__text {
    font-size: 25px;
    line-height: 30px; }
  .offer__text-wrapper {
    margin-top: 165px; }
  .offers-wrapper_top {
    margin-top: 180px; }
  .offers-wrapper {
    width: 100%; }
  .offer {
    width: 335px; } }

@media (max-width: 1756px) {
  .button-block_button_header {
    width: 270px; }
  .header-content {
    width: 1100px; }
  .button-block__button {
    font-size: 25px; }
  .button-block_button_main-information {
    width: 310px; }
  .information-block__wrapper {
    border-left: 15px solid #24a71d; }
  .feedback-block__feedback-area {
    width: 456px; }
  .feedback-block__feedback {
    height: 646px; }
  .main-information-content {
    height: 754px; }
  .navigation-block__link {
    font-size: 22px; }
  .information-block__wrapper {
    width: 730px; }
  .information-block__title {
    font-size: 65px; }
  .information-block__description {
    font-size: 53px; }
  .information-block__bonus {
    font-size: 55px; }
  .information-block__extra {
    font-size: 22px; }
  .information-block__wrapper {
    height: 500px; }
  .logo {
    width: 159px;
    height: 159px;
    background-size: 159px 159px; }
  .feedback-block__feedback {
    width: 540px; }
  .button-block_feedback {
    margin-top: 50px; }
  .button-block_header {
    transform: translateX(515px);
    top: 80px; }
  .navigation-block__slesh {
    width: 4px;
    height: 18px;
    background-color: #1591bf; }
    .navigation-block__slesh-wrapper {
      transform: translateY(-3px); }
  .button-block_main-information {
    margin-left: 35px; }
  .service-block, .space {
    width: 459px; }
  .space {
    width: 459px; }
  .service-block__text {
    font-size: 21px; }
  .services-wrapper {
    height: 2005px; } }

@media (max-width: 1650px) {
  .calculator-block_range-wrapper_hours-and-days {
    width: 645px; }
  .calculator-block__content-wrapper {
    width: 1450px; }
  .calculator-block__checkboxes {
    width: 100%; } }

@media (max-width: 1620px) {
  .offer__round {
    width: 256px;
    height: 256px; }
  .offer__number {
    font-size: 160px; }
  .offer__round {
    background-size: 66px 66px; }
  .offer_round_2 {
    background-size: 60px 76px; }
  .offer__text {
    font-size: 22px;
    line-height: 23px; }
  .offer__text-wrapper {
    margin-top: 135px; }
  .offer {
    width: 295px;
    height: 303px; }
  .arrow {
    width: 240px;
    background-size: 240px 9px; }
  .offers-content {
    width: 1370px;
    transform: translateX(-20px); }
  .offers-wrapper_top {
    margin-top: 200px; }
  .offers {
    height: 820px; }
  .action-text-block__title {
    font-size: 53px; }
  .action-text-block__description {
    font-size: 41px; }
  .action-text-block {
    height: 123px; }
  .action-button-wrapper {
    width: 90%; }
  .action-main-content {
    width: 877px;
    height: 328px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .action-button-wrapper_top {
    margin-top: 78px; }
  .action {
    height: 876px;
    width: 100%;
    background-image: url(../img/action/bg.webp);
    background-position: 70% center;
    background-size: 2000px 876px;
    background-repeat: no-repeat; }
  .action-benefits-wrapper_top {
    margin-top: 80px; }
  .service-block:nth-of-type(1) {
    background-size: 110px 215px !important; }
  .service-block:nth-of-type(2) {
    background-size: 283px 121px !important; }
  .service-block:nth-of-type(3) {
    background-size: 143px 187px !important; }
  .service-block:nth-of-type(4) {
    background-size: 182px 148px !important; }
  .service-block:nth-of-type(5) {
    background-size: 189px 189px !important; }
  .service-block:nth-of-type(6) {
    background-size: 361px 80px !important; }
  .service-block:nth-of-type(7) {
    background-size: 312px 81px !important; }
  .service-block:nth-of-type(8) {
    background-size: 236px 42px !important; }
  .service-block__text {
    font-size: 19px;
    width: 370px; }
  .service-block, .space {
    width: 429px; }
  .service-block {
    height: 601px; }
    .service-block__btn-wrapper {
      margin-top: 41px; }
  .services-wrapper {
    height: 1905px; } }

@media (max-width: 1520px) {
  .offer__round {
    width: 226px;
    height: 226px; }
  .offer {
    width: 265px;
    height: 233px; }
  .offer__text {
    font-size: 19px;
    line-height: 21px; }
  .offer__number {
    font-size: 142px; }
  .offer__number-wrapper {
    transform: translate(-10px, -85px); }
  .offer_number-wrapper_1 {
    transform: translate(5px, -85px); }
  .offer__text-wrapper {
    margin-top: 115px; }
  .arrow {
    width: 180px;
    background-size: 180px 9px; }
  .offers-content {
    width: 1170px; }
  .arrow {
    width: 190px;
    background-size: 190px 9px; }
  .offers {
    height: 760px; } }

@media (max-width: 1490px) {
  .header-content {
    width: 1000px; }
  .navigation-block {
    width: 404px; }
  .information-block__title {
    font-size: 58px; }
  .information-block__description {
    font-size: 48px;
    line-height: 63px; }
  .information-block__bonus {
    font-size: 51px; }
  .information-block__extra {
    font-size: 20px; }
  .information-block__description-wrapper {
    margin-top: 28px; }
  .information-block__extra-wrapper {
    margin-top: 10px; }
  .information-block__text-wrapper {
    height: 415px; }
  .information-block__wrapper {
    height: 440px; }
  .main-information {
    background-size: 2000px 800px;
    height: 782px; }
  .navigation-block {
    width: 280px; }
  .header-content {
    width: 730px; }
  .feedback-block__feedback-area {
    width: 406px;
    height: 69px;
    font-size: 25px; }
    .feedback-block__feedback-area::placeholder {
      font-size: 25px; }
  .header-wrapper_top {
    margin-top: 30px; }
  .header {
    height: 170px; }
  .information-block {
    width: 630px;
    height: 570px; }
  .feedback-block__feedback {
    height: 596px;
    width: 490px; }
  .main-information-content {
    height: 704px; }
  .navigation-block__link {
    font-size: 18px; }
  .logo {
    width: 139px;
    height: 139px;
    background-size: 139px 139px; }
  .button-block_button_header {
    width: 270px;
    height: 69px;
    font-size: 21px; }
  .button-block_button_main-information {
    height: 71px; }
  .navigation-block__slesh {
    height: 15px; }
  .button-block_header {
    transform: translateX(465px);
    top: 74px; } }

@media (max-width: 1450px) {
  .calculator-block__title {
    font-size: 27px; }
  .calculator-block__checkbox-label-text {
    font-size: 22px; }
  .calculator-block__checkbox-label::before {
    width: 40px;
    height: 40px; }
  .calculator-block_range-wrapper_hours-and-days {
    width: 565px; }
  .calculator-block__range-wrapper {
    margin-top: 20px; }
  .service-block__text {
    font-size: 17px;
    width: 320px; }
  .service-block, .space {
    width: 379px; } }

@media (max-width: 1366px) {
  .advantage__text {
    font-size: 20px;
    line-height: 26px; }
  .advantage_1 {
    background-size: 73px 146px; }
  .advantage_2 {
    background-size: 230px 116px; }
  .advantage_3 {
    background-size: 142px 118px; }
  .advantage {
    width: 283px;
    height: 256px; }
  .title-block__title {
    font-size: 53px; }
  .title-block__wrapper {
    background-size: 85% 17px; }
  .advantages {
    height: 590px; }
  .action-text-block__title {
    font-size: 49px; }
  .action-text-block__description {
    font-size: 37px; }
  .action-text-block {
    height: 113px; }
  .action-main-content {
    width: 777px;
    height: 278px; }
  .action-button-wrapper_top {
    margin-top: 58px; }
  .action-main-content_left {
    margin-top: 180px; }
  .action-benefit-block_img_1 {
    width: 106px;
    height: 99px;
    background-size: 106px 89px; }
  .action-benefit-block_img_2 {
    width: 100px;
    height: 101px;
    background-size: 100px 1201px; }
  .action-benefit-block_img_3 {
    width: 107px;
    height: 107px;
    background-size: 107px 107px; }
  .action-benefit-block__text {
    font-size: 24px; }
  .action-benefit-block {
    height: 187px; }
  .action {
    height: 806px;
    background-size: 1920px 806px; }
  .calculator-block__checkbox-wrapper {
    width: 45%; }
  .calculator-block_range-wrapper_hours-and-days {
    width: 45%; }
  .service-block:nth-of-type(1) {
    background-size: 90px 195px !important; }
  .service-block:nth-of-type(2) {
    background-size: 263px 101px !important; }
  .service-block:nth-of-type(3) {
    background-size: 123px 167px !important; }
  .service-block:nth-of-type(4) {
    background-size: 162px 128px !important; }
  .service-block:nth-of-type(5) {
    background-size: 169px 169px !important; }
  .service-block:nth-of-type(6) {
    background-size: 341px 60px !important; }
  .service-block:nth-of-type(7) {
    background-size: 292px 61px !important; }
  .service-block:nth-of-type(8) {
    background-size: 216px 32px !important; }
  .service-block__text {
    font-size: 14px;
    width: 280px; }
  .service-block, .space {
    width: 359px; } }

@media (max-width: 1280px) {
  .offer__round {
    width: 196px;
    height: 196px; }
  .calculator-block__title {
    font-size: 23px;
    line-height: 28px; }
  .offer__number {
    font-size: 130px; }
  .offer {
    width: 235px;
    height: 193px; }
  .offer_number-wrapper_1 {
    transform: translate(4px, -85px); }
  .offer__round {
    background-size: 46px 46px; }
  .offer_round_2 {
    background-size: 45px 56px; }
  .offer_round_3 {
    background-size: 65px 65px; }
  .offer__text {
    font-size: 17px;
    line-height: 19px; }
  .offer__text-wrapper {
    margin-top: 90px; }
  .arrow {
    width: 170px;
    background-size: 170px 9px; }
  .offers-content {
    width: 1040px; }
  .offers {
    height: 700px; } }

@media (max-width: 1250px) {
  .navigation-block__link {
    font-size: 16px;
    height: auto; }
  .navigation-block {
    width: 250px; }
  .logo {
    width: 119px;
    height: 119px;
    background-size: 119px 119px; }
  .header-content {
    width: 650px; }
  .button-block_header {
    transform: translateX(395px); }
  .navigation-block__slesh-wrapper {
    transform: translateY(0px); }
  .button-block_button_header {
    width: 220px;
    height: 55px;
    font-size: 18px; }
  .header {
    height: 150px; }
  .information-block__title {
    font-size: 48px; }
  .information-block__description {
    font-size: 34px;
    line-height: 45px; }
  .information-block__bonus {
    font-size: 43px; }
  .information-block__extra {
    font-size: 19px;
    line-height: 23px; }
  .information-block__description-wrapper {
    margin-top: 20px; }
  .information-block__text-wrapper {
    width: 480px;
    height: 330px; }
  .information-block__wrapper {
    width: 500px;
    border-left: 10px solid #24a71d;
    height: 360px; }
  .feedback-block__feedback-area {
    width: 350px;
    height: 65px;
    font-size: 20px;
    letter-spacing: 2.5px;
    margin-top: 50px; }
    .feedback-block__feedback-area::placeholder {
      font-size: 20px;
      letter-spacing: 2.5px; }
  .button-block_button_main-information {
    width: 290px;
    height: 61px;
    font-size: 20px; }
  .feedback-block__feedback {
    height: 506px;
    width: 420px; }
  .button-block_feedback {
    margin-top: 40px; }
  .information-block {
    width: 520px;
    height: 460px; }
  .main-information-content {
    height: 560px; }
  .main-information {
    background-size: 1500px 652px;
    height: 642px; }
  .button-block_main-information {
    margin-left: 25px;
    width: 300px; }
  .service-block:nth-of-type(1) {
    background-size: 70px 175px !important; }
  .service-block:nth-of-type(2) {
    background-size: 243px 81px !important; }
  .service-block:nth-of-type(3) {
    background-size: 103px 147px !important; }
  .service-block:nth-of-type(4) {
    background-size: 142px 108px !important; }
  .service-block:nth-of-type(5) {
    background-size: 149px 149px !important; }
  .service-block:nth-of-type(6) {
    background-size: 281px 40px !important; }
  .service-block:nth-of-type(7) {
    background-size: 272px 51px !important; }
  .service-block:nth-of-type(8) {
    background-size: 196px 25px !important; }
  .service-block__text {
    font-size: 13px;
    width: 260px; }
  .service-block {
    height: 541px; }
  .service-block, .space {
    width: 319px; }
  .service-block__btn-wrapper {
    margin-top: 21px; }
  .service-block__btn-text {
    font-size: 20px; }
  .service-block__btn {
    width: 236px; }
  .service-block__text-wrapper {
    margin-top: 315px; }
  .service-block__btn-wrapper {
    margin-top: 0px; }
  .service-block__text-wrapper {
    margin-top: 275px; }
  .service-block__btn-wrapper {
    margin-top: 25px; }
  .services-wrapper {
    height: 1705px; } }

@media (max-width: 1200px) {
  .action-text-block__title {
    font-size: 40px; }
  .action-text-block__description {
    font-size: 29px; }
  .action-text-block {
    height: 93px; }
  .action-main-content {
    width: 687px;
    height: 238px; }
  .action-benefit-block {
    width: 330px; }
  .action-benefit-block__text {
    font-size: 18px; }
  .action-benefit-block_img_1 {
    width: 96px;
    height: 89px;
    background-size: 96px 89px; }
  .action-benefit-block_img_2 {
    width: 90px;
    height: 91px;
    background-size: 90px 91px; }
  .action-benefit-block_img_3 {
    width: 97px;
    height: 97px;
    background-size: 97px 97px; }
  .action-benefit-block {
    height: 177px; }
  .action {
    height: 746px;
    background-size: 1800px 746px;
    background-position: 65% center; } }

@media (max-width: 1150px) {
  .title-block__title {
    font-size: 40px; }
  .title-block__wrapper {
    background-size: 85% 12px; }
  .title-block_top {
    margin-top: 130px; }
  .advantages-wrapper_top {
    margin-top: 110px; }
  .advantages {
    height: 537px; }
  .offer__round {
    width: 176px;
    height: 176px; }
  .offer {
    width: 215px;
    height: 143px; }
  .offer__text {
    font-size: 16px;
    line-height: 18px; }
  .offer__text-wrapper {
    margin-top: 80px; }
  .offer__number {
    font-size: 120px; }
  .offer__number-wrapper {
    transform: translate(-10px, -95px); }
  .offer_number-wrapper_1 {
    transform: translate(4px, -95px); }
  .arrow {
    width: 150px;
    background-size: 145px 9px; }
  .offers-content {
    width: 920px; }
  .arrow_1, .arrow_2 {
    transform: translate(10px, -50px); }
  .offers {
    height: 625px; }
  .calculator-block__title {
    font-size: 21px;
    letter-spacing: 2px; }
  .calculator-block__checkbox-label-text {
    font-size: 20px; }
  .calculator-block__milleage {
    margin-top: 20px; } }

@media (max-width: 1100px) {
  .service-block__text-wrapper {
    margin-top: 235px; }
  .service-block__text {
    font-size: 13px;
    width: 220px; }
  .service-block__btn-wrapper {
    margin-top: 75px; }
  .service-block, .space {
    width: 289px; }
  .service-block:nth-of-type(6) {
    background-size: 251px 40px !important; }
  .service-block:nth-of-type(7) {
    background-size: 252px 51px !important; } }

@media (max-width: 1050px) {
  .navigation-block__link {
    font-size: 14px; }
  .navigation-block {
    width: 220px; }
  .logo {
    width: 100px;
    height: 100px;
    background-size: 100px 100px; }
  .header-content {
    width: 570px; }
  .navigation-block__slesh {
    height: 13px;
    width: 2px; }
  .button-block_button_header {
    width: 170px;
    height: 45px;
    font-size: 15px; }
  .header {
    height: 132px; }
  .button-block_header {
    transform: translateX(335px);
    top: 69px; }
  .information-block__title {
    font-size: 38px; }
  .information-block__description {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 5px; }
  .information-block__bonus {
    font-size: 33px;
    letter-spacing: 4px; }
  .information-block__extra {
    font-size: 14px;
    line-height: 17px; }
  .information-block__description-wrapper {
    margin-top: 15px; }
  .information-block__bonus-wrapper {
    margin-top: 13px; }
  .information-block__extra-wrapper {
    margin-top: 8px; }
  .information-block__text-wrapper {
    width: 395px;
    height: 250px; }
  .information-block__wrapper {
    width: 410px;
    border-left: 7px solid #24a71d;
    height: 280px; }
  .information-block {
    width: 420px;
    height: 360px; }
  .feedback-block__feedback-area {
    width: 290px;
    height: 50px;
    font-size: 16px;
    letter-spacing: 2.3px;
    margin-top: 40px; }
    .feedback-block__feedback-area::placeholder {
      font-size: 16px;
      letter-spacing: 2.3px; }
  .button-block_button_main-information {
    width: 240px;
    height: 55px;
    font-size: 16px; }
  .feedback-block__feedback {
    height: 436px;
    width: 345px; }
  .button-block_main-information {
    margin-left: 15px;
    margin-top: 10px; }
  .main-information-content {
    height: 480px; }
  .main-information {
    background-size: 1400px 552px;
    height: 552px; } }

@media (max-width: 1020px) {
  .arrow {
    width: 130px;
    background-size: 123px 9px; }
  .offers-content {
    width: 860px; }
  .arrow_1, .arrow_2 {
    transform: translate(15px, -50px); }
  .offers {
    height: 595px; }
  .action-text-block__title {
    font-size: 35px; }
  .action-text-block__description {
    font-size: 26px; }
  .action-text-block {
    height: 83px; }
  .action-main-content {
    width: 587px;
    height: 208px; }
  .action-benefit-block_img_1 {
    width: 86px;
    height: 79px;
    background-size: 86px 79px; }
  .action-benefit-block_img_2 {
    width: 80px;
    height: 81px;
    background-size: 80px 81px; }
  .action-benefit-block_img_3 {
    width: 87px;
    height: 87px;
    background-size: 87px 87px; }
  .action-benefit-block__text {
    font-size: 15px; }
  .action-benefit-block {
    width: 217px; }
  .action {
    height: 696px;
    background-size: 1750px 696px; }
  .calculator-block__checkbox-label-text {
    font-size: 16px; }
  .calculator-block__checkbox-item-wrapper {
    margin-bottom: 15px; }
  .calculator-block__checkbox-group {
    margin-top: 20px; }
  .calculator-block__checkboxes {
    height: 350px; }
  .v-slider--horizontal .v-slider__tick .v-slider__tick-label {
    font-size: 15px; }
  .calculator-block__title {
    font-size: 19px;
    letter-spacing: 2px; }
  .calculator-block__content-wrapper {
    height: 893px; }
  .calculator {
    height: 1200px; }
  .calculator-block__result {
    font-size: 30px; }
  .calculator-block__final-price-text {
    font-size: 23px; }
  .calculator-block__final-price-wrapper {
    height: 60px; }
  .services-wrapper {
    height: 2405px; }
  .service-block:nth-child(2n) {
    page-break-after: always; }
  .service-block:nth-child(3n) {
    page-break-after: unset; }
  .service-block, .space {
    width: 310px; } }

@media (max-width: 950px) {
  .advantage__text {
    font-size: 16px;
    line-height: 22px; }
  .advantage_2 {
    background-size: 200px 86px; }
  .advantage_1 {
    background-size: 58px 86px; }
  .advantage_3 {
    background-size: 112px 86px; }
  .advantage {
    width: 223px;
    height: 170px; }
  .title-block_top {
    margin-top: 100px; }
  .advantages-wrapper_top {
    margin-top: 80px; }
  .advantage__text-wrapper {
    height: 67px; }
  .advantages {
    height: 411px; }
  .title-block__title {
    font-size: 32px; }
  .title-block__wrapper {
    background-size: 85% 10px; }
  .offer__round {
    width: 160px;
    height: 160px; }
  .offer__text {
    font-size: 15px;
    line-height: 16px; }
  .offer__text-wrapper {
    margin-top: 70px; }
  .offer {
    width: 200px;
    height: 120px; }
  .offer__number {
    font-size: 110px; }
  .offer__number-wrapper {
    transform: translate(-5px, -105px); }
  .offer_number-wrapper_1 {
    transform: translate(6px, -105px); }
  .arrow {
    width: 105px;
    background-size: 105px 9px; }
  .arrow_1, .arrow_2 {
    transform: translate(15px, -55px); }
  .offers-content {
    width: 770px; }
  .offers {
    height: 555px; } }

@media (max-width: 900px) {
  .calculator-block__title {
    font-size: 17px; }
  .calculator-block__checkbox-label-text {
    font-size: 14px;
    margin-left: 12px; }
  .calculator-block__checkbox-label::before {
    width: 35px;
    height: 35px; } }

@media (max-width: 870px) {
  .navigation-block_sm-none {
    display: none; }
  .header-content {
    width: auto; }
  .button-block_header {
    transform: none;
    top: 59px;
    right: 30px; }
  .button-block_button_header {
    width: 40px;
    height: 40px;
    font-size: 0px;
    border-radius: 50%;
    background-image: url("../img/header/call.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 35px; }
  .feedback-block {
    top: 60%;
    left: 50%;
    transform: translate(10000px, -50%); }
  .feedback-block_active {
    transform: translate(-50%, -50%);
    transition: 0.3s;
    position: fixed;
    z-index: 3; }
  .feedback-btn {
    display: flex; }
  .navigation-sm-btn {
    display: block; }
  .main-information-content {
    height: 460px; }
  .main-information {
    background-size: 1500px 562px;
    height: 472px; }
  .action {
    height: 876px;
    width: 100%;
    background-image: none;
    background-color: #eeeeed; }
  .action-main-content_left {
    margin-left: 0px;
    margin-top: 80px; }
  .action-main-content {
    width: 100%;
    height: 308px; }
  .action-button-wrapper_top {
    margin-top: 28px; }
  .action-button-wrapper {
    width: 90%;
    flex-direction: column-reverse;
    align-items: center;
    height: 170px; }
  .action-benefits-wrapper_top {
    margin-top: 10px; }
  .action-benefit-block {
    height: 167px; }
  .action {
    height: 1086px; }
  .action-benefits-content {
    height: 610px;
    flex-direction: column;
    align-items: center; }
  .header-wrapper_top {
    margin-top: 15px; } }

@media (max-width: 850px) {
  .offers {
    height: 1055px; }
  .offers-content {
    flex-direction: column;
    height: 750px; }
  .arrow_1, .arrow_2 {
    transform: translate(15px, -60px) rotate(90deg);
    width: 135px;
    background-size: 135px 9px; }
  .offers-content {
    width: 240px;
    transform: translateX(-15px); }
  .offers {
    height: 1200px; }
  .offers-wrapper_top {
    margin-top: 165px; }
  .calculator-block_range-wrapper_md {
    display: none; }
  .calculator {
    height: 1900px; }
  .calculator-block__content-wrapper {
    height: 1593px; }
  .calculator-block__sm-ranges {
    height: 500px;
    border-bottom: 2px solid #6195ff; }
  .v-slider--vertical {
    min-height: 400px; }
  .v-slider--vertical .v-slider__track-container {
    width: 5px; }
  .v-slider__thumb {
    width: 25px;
    height: 25px;
    left: -12px; }
  .v-slider__tick-label {
    transform: translate(18px, -5px);
    font-size: 17px; }
  .calculator-block_title-wrapper_sm-none {
    display: none; }
  .calculator-block__time {
    display: none; }
  .calculator-block__checkbox-wrapper {
    align-items: center;
    text-align: center; }
  .calculator-block__sm-ranges {
    display: flex; }
  .calculator-block__checkbox-label-text {
    font-size: 12px;
    margin-left: 0px; }
  .calculator-block__checkbox-label {
    flex-direction: column; }
  .calculator-block__checkbox-group {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .calculator-block__checkbox-item:checked + .calculator-block__checkbox-label::before {
    font-size: 50px; }
  .calculator-block__checkbox-label::before {
    width: 30px;
    height: 30px; }
  .calculator-block__title {
    font-size: 16px;
    width: 200px;
    letter-spacing: 1px;
    line-height: 23px; }
  .calculator-block__checkbox-label {
    height: 55px;
    justify-content: space-around; }
  .calculator-block__content-wrapper {
    height: 1000px; }
  .calculator {
    height: 1250px; }
  .calculator-block__final-price-wrapper {
    height: 60px;
    display: none; }
  .calculator-block_title_sm {
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 15px; }
  .calculator-block__final-price-text-wrapper {
    margin-left: 15px; }
  .calculator-block__final-price-text {
    font-size: 13px; }
  .calculator-block__result {
    font-size: 20px;
    margin-left: 8px;
    letter-spacing: 1px; }
  .calculator-block__result-r {
    font-size: 20px; }
  .calculator-block__result-wrapper-sm {
    display: flex; }
  .calculator-block__checkbox-item:checked + .calculator-block__checkbox-label::before {
    background-size: 12px 12px; } }

@media (max-width: 730px) {
  .advantages-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    height: 600px; }
  .advantages {
    height: 781px; }
  .advantage {
    height: 160px; }
  .title-block__title {
    font-size: 28px; }
  .title-block__wrapper {
    background-size: 85% 8px; }
  .advantage__text {
    font-size: 14px;
    line-height: 19px; }
  .title-block_top {
    margin-top: 70px; }
  .offers {
    height: 1140px; }
  .services-wrapper {
    justify-content: center;
    height: 4685px; }
  .service-block, .space {
    width: 340px; } }

@media (max-width: 590px) {
  .title-block_title_service {
    font-size: 25px; } }

@media (max-width: 580px) {
  .action-text-block__title {
    width: 340px;
    line-height: 50px;
    text-align: center; }
  .action-text-block {
    height: 163px; }
  .calculator-block__content-wrapper {
    width: 450px; }
  .calculator-block_title_sm {
    font-size: 11px;
    letter-spacing: 0.3px; } }

@media (max-width: 550px) {
  .information-block__description {
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 4px; }
  .information-block__bonus {
    font-size: 27px;
    letter-spacing: 3px; }
  .information-block__extra {
    font-size: 11px;
    line-height: 16px; }
  .information-block__wrapper {
    width: 345px;
    height: 250px; }
  .information-block__text-wrapper {
    width: 335px;
    height: 220px; }
  .information-block {
    width: 352px;
    height: 330px; }
  .main-information-content {
    height: 390px; }
  .main-information {
    background-size: 1500px 550px;
    height: 432px; }
  .title-block__title {
    font-size: 20px; }
  .title-block__wrapper {
    background-size: 85% 7px; }
  .advantage__text {
    font-size: 12px;
    line-height: 16px; }
  .advantages-wrapper {
    height: 540px; }
  .advantages {
    height: 685px; }
  .advantage__text-wrapper {
    height: 50px; }
  .advantage {
    height: 140px; }
  .advantage_3 {
    background-size: 92px 86px; }
  .advantage_2 {
    background-size: 130px 86px; }
  .advantages-wrapper_top {
    margin-top: 50px; } }

@media (max-width: 480px) {
  .information-block__title {
    font-size: 26px; }
  .information-block__description {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 3.5px; }
  .information-block__bonus {
    font-size: 23px;
    letter-spacing: 3px; }
  .information-block__extra {
    font-size: 9px;
    line-height: 14px; }
  .information-block__text-wrapper {
    width: 335px;
    height: 200px; }
  .information-block__wrapper {
    width: 345px;
    border-left: 5px solid #24a71d;
    height: 220px; }
  .information-block {
    width: 312px;
    height: 300px; }
  .information-block__text-wrapper {
    width: 295px;
    height: 200px; }
  .information-block__wrapper {
    width: 305px;
    border-left: 5px solid #24a71d;
    height: 220px; }
  .feedback-block__feedback-area {
    width: 240px;
    height: 40px;
    font-size: 12px;
    letter-spacing: 2.3px;
    margin-top: 34px;
    padding: 0 30px; }
    .feedback-block__feedback-area::placeholder {
      font-size: 12px;
      letter-spacing: 2.3px; }
  .button-block_button_main-information {
    width: 190px;
    height: 45px;
    font-size: 13px; }
  .feedback-block__feedback {
    height: 356px;
    width: 290px; }
  .main-information {
    background-size: 1200px 510px;
    height: 412px; }
  .calculator-block__title {
    font-size: 10px;
    width: 120px;
    letter-spacing: 0.2px;
    line-height: 15px; }
  .calculator-block__checkbox-label-text {
    font-size: 10px;
    width: 100px;
    height: 20px; }
  .calculator-block_title_sm {
    font-size: 8px;
    width: 104px;
    letter-spacing: 0px;
    line-height: 12px; }
  .calculator-block__checkbox-group {
    margin-top: 20px; }
  .v-slider__tick-label {
    transform: translate(18px, -3px);
    font-size: 12px; } }

@media (max-width: 430px) {
  .title-block_title_service {
    text-align: center;
    line-height: 26px; }
  .title-block_wrapper_service {
    background: none; } }

@media (max-width: 420px) {
  .action-text-block__title {
    font-size: 29px;
    width: 300px;
    line-height: 40px; }
  .action-text-block__description {
    font-size: 16px; }
  .action-text-block {
    height: 133px; }
  .action-button-wrapper {
    height: 153px; }
  .action-benefit-block_img_1 {
    width: 76px;
    height: 69px;
    background-size: 76px 69px; }
  .action-benefit-block_img_2 {
    width: 70px;
    height: 71px;
    background-size: 70px 71px; }
  .action-benefit-block_img_3 {
    width: 77px;
    height: 77px;
    background-size: 77px 77px; }
  .action-benefit-block__text {
    font-size: 13px; }
  .action-benefits-content {
    height: 585px; }
  .action {
    height: 1056px; } }

@media (max-width: 360px) {
  .feedback-btn__link {
    font-size: 12.5px; }
  .feedback-btn {
    border-width: 8px;
    width: 80px; }
  .information-block__title {
    font-size: 24px; }
  .information-block__title {
    font-size: 24px; }
  .button-block_header {
    top: 57px; } }
