@font-face {
  font-family: Px-B;
  src: url("../css/fonts/ProximaNova-Black.ttf");
  font-display: swap; }

@font-face {
  font-family: Px;
  src: url("../css/fonts/ProximaNova-Regular.ttf");
  font-display: swap; }

@font-face {
  font-family: Px-S;
  src: url("../css/fonts/ProximaNova-Semibold.ttf");
  font-display: swap; }

@font-face {
  font-family: Px-T;
  src: url("../css/fonts/ProximaNova-Thin.ttf");
  font-display: swap; }

.container {
  max-width: 1745px;
  width: 94%;
  margin: 0 auto;
  overflow: hidden; }

.button-block__link {
  text-decoration: none; }

.button-block__button {
  border-radius: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Px;
  font-size: 30px;
  color: white;
  border: none; }

.button_green {
  background-color: #1fca16; }

.button_blue {
  background-color: #2eafdf; }

.title-block {
  width: 100%;
  display: flex;
  justify-content: center; }
  .title-block_top {
    margin-top: 150px; }
  .title-block__wrapper {
    background-image: url("../img/advantages/greenLine.png");
    background-position: left bottom;
    background-size: 85% 20px;
    background-repeat: no-repeat;
    transform: translateX(-40px); }
  .title-block__title {
    font-family: Px-S;
    font-size: 60px;
    color: #403f3f;
    transform: translateX(41px); }

.header {
  width: 100%;
  height: 210px; }
  .header-wrapper {
    width: 100%;
    display: flex;
    justify-content: center; }
    .header-wrapper_top {
      margin-top: 36px; }
  .header-content {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.logo {
  background-image: url("../img/header/logo.svg");
  background-position: center center;
  background-size: 169px 169px;
  background-repeat: no-repeat;
  width: 169px;
  height: 169px; }

.navigation-block {
  display: flex;
  width: 444px;
  align-items: center; }
  .navigation-block_1 {
    justify-content: flex-end; }
  .navigation-block_2 {
    justify-content: flex-start; }
  .navigation-block__link {
    text-decoration: none;
    font-family: Px;
    font-size: 26px;
    color: #5c5b5b;
    text-transform: uppercase;
    height: 26px;
    transition: 0.4s; }
    .navigation-block__link:hover {
      color: #969292;
      transition: 0.4s; }
  .navigation-block__slesh {
    width: 4px;
    height: 20px;
    background-color: #1591bf; }
    .navigation-block__slesh-wrapper {
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center; }

.button-block_header {
  position: absolute;
  top: 85px;
  transform: translateX(650px);
  z-index: 1; }

.button-block_button_header {
  width: 390px;
  height: 91px; }

.navigation-block-sm {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 200px;
  height: 100vh;
  margin-left: 0px;
  top: 50%;
  right: 0;
  transform: translate(5000px, -50%);
  background-color: rgba(0, 0, 0, 0.85);
  border-left: 5px solid #157215;
  transition: 0.3s; }
  .navigation-block-sm__links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px; }
  .navigation-block-sm__link {
    font-family: Px-S;
    font-size: 20px;
    color: white;
    text-decoration: none;
    height: 23px;
    box-sizing: border-box;
    transition: 0.4s;
    width: auto;
    line-height: 1; }
    .navigation-block-sm__link:hover {
      transition: 0.4s; }
      .navigation-block-sm__link:hover:after {
        width: 100%; }
    .navigation-block-sm__link:focus:after {
      width: 100%; }
    .navigation-block-sm__link::after {
      display: block;
      content: "";
      background-color: #157215;
      width: 0px;
      height: 5px;
      position: absolute;
      transition: width .3s ease-in-out;
      left: 0; }

.navigation-block-sm_active {
  transform: translate(0px, -50%);
  transition: 0.3s; }

.navigation-sm-btn {
  position: absolute;
  display: none;
  left: 30px;
  top: 65px;
  width: 40px;
  height: 25px;
  cursor: pointer; }
  .navigation-sm-btn__blue-line {
    width: 40px;
    height: 3px;
    background-color: #0e769c;
    transition: 0.3s; }
  .navigation-sm-btn__green-line {
    width: 25px;
    height: 3px;
    background-color: #62b61f;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 6px 0;
    transition: 0.05s; }

.navigation-sm-btn_line_1_active {
  transform: rotate(45deg);
  transition: 0.3s; }

.navigation-sm-btn_line_2_active {
  display: none; }

.navigation-sm-btn_line_3_active {
  transition: 0.3s;
  transform: translateY(-2.5px) rotate(-45deg); }

.main-information {
  width: 100%;
  height: 862px;
  background-image: url("../img/mainInformation/bg.webp");
  background-position: center center;
  background-size: 2500px 862px;
  background-repeat: no-repeat; }
  .main-information-content {
    width: 100%;
    height: 814px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }

.information-block {
  width: 760px;
  height: 635px; }
  .information-block__wrapper {
    width: 760px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    height: 522px;
    border-left: 20px solid #24a71d; }
  .information-block__text-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 700px;
    height: 465px; }
  .information-block__title {
    font-family: Px-B;
    font-size: 72px;
    color: white;
    letter-spacing: 5px; }
  .information-block__description {
    font-family: Px-S;
    font-size: 60px;
    color: white;
    line-height: 70px;
    letter-spacing: 8px; }
    .information-block__description-wrapper {
      margin-top: 43px; }
  .information-block__bonus {
    font-family: Px-B;
    font-size: 60px;
    color: #1da417;
    letter-spacing: 6px; }
    .information-block__bonus-wrapper {
      margin-top: 20px; }
  .information-block__extra {
    font-family: Px-S;
    font-size: 24px;
    color: white;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.8px; }
    .information-block__extra-wrapper {
      margin-top: 20px; }

.button-block_main-information {
  width: 700px;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 65px;
  margin-top: 23px; }

.button-block_button_main-information {
  width: 390px;
  height: 91px; }

.feedback-block {
  transition: 0.3s; }
  .feedback-block__feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 590px;
    height: 696px;
    background-color: #2eafdf;
    border-radius: 25px; }
    .feedback-block__feedback-area {
      box-sizing: border-box;
      width: 496px;
      height: 89px;
      border: none;
      padding: 0 60px;
      border-radius: 42px;
      font-family: Px;
      font-size: 30px;
      color: black;
      letter-spacing: 3px;
      margin-top: 60px;
      background-color: white; }
      .feedback-block__feedback-area::placeholder {
        font-family: Px;
        font-size: 30px;
        color: #737272;
        letter-spacing: 3px; }

.button-block_feedback {
  margin-top: 80px; }

.feedback-block_active {
  transform: translate(-50%, -50%);
  transition: 0.3s; }

.feedback-btn {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  top: 320px;
  transform: translateY(-50%);
  border-left: 10px solid #0e769c;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  right: 0;
  width: 100px;
  height: 40px;
  background-color: rgba(43, 43, 43, 0.85); }
  .feedback-btn__link {
    font-family: Px-S;
    font-size: 15px;
    color: white;
    text-align: center; }

.overlay {
  background-color: rgba(0, 0, 0, 0.651);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  display: none;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: 0.5s; }
  .overlay__close-btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/mainInformation/close.svg");
    background-position: center center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    position: fixed;
    left: 15px;
    top: 55px; }

.overlay_active {
  opacity: 1;
  transition: 0.5s;
  display: block; }

.advantages {
  height: 638px;
  width: 100%;
  background-color: #fff; }

.advantages-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .advantages-wrapper_top {
    margin-top: 129px; }

.advantage {
  width: 404px;
  height: 296px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-position: center top;
  background-repeat: no-repeat; }
  .advantage__text-wrapper {
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center; }
  .advantage__text {
    font-family: Px-S;
    font-size: 30px;
    color: #414040;
    line-height: 36px; }
  .advantage_1 {
    background-image: url("../img/advantages/adv-1.svg");
    background-size: 83px 186px; }
  .advantage_2 {
    background-image: url("../img/advantages/adv-2.svg");
    background-size: 260px 146px; }
  .advantage_3 {
    background-image: url("../img/advantages/adv-3.svg");
    background-size: 172px 148px; }

.offers {
  height: 950px;
  width: 100%;
  background-color: #fff;
  overflow: hidden; }

.container_offers {
  max-width: 1760px; }

.offers-wrapper {
  width: 100%;
  display: flex;
  justify-content: center; }
  .offers-wrapper_top {
    margin-top: 150px; }

.offers-content {
  width: 1760px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.offer {
  width: 400px;
  height: 393px; }
  .offer__number {
    font-family: Px-B;
    font-size: 242px;
    color: #7ae722; }
    .offer__number-wrapper {
      position: relative;
      z-index: 1;
      transform: translate(-20px, -55px); }
  .offer_number-wrapper_1 {
    transform: translate(-1px, -55px); }
  .offer__round {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
    width: 336px;
    height: 336px;
    background-color: #60bee1;
    border-radius: 50%;
    transform: translate(35px, -190px);
    background-position: center 30%;
    background-size: 86px 86px;
    background-repeat: no-repeat; }
  .offer_round_1 {
    background-image: url("../img/offers/1.png"); }
  .offer_round_2 {
    background-image: url("../img/offers/2.png");
    background-size: 80px 96px; }
  .offer_round_3 {
    background-image: url("../img/offers/3.png");
    background-size: 108px 108px; }
  .offer__text-wrapper {
    height: 100px;
    margin-top: 175px;
    display: flex;
    align-items: center;
    text-align: center; }
  .offer__text {
    font-family: Px-S;
    font-size: 30px;
    color: white;
    line-height: 36px; }

.arrow {
  width: 320px;
  height: 9px;
  background-image: url("../img/offers/arrow.svg");
  background-position: center center;
  background-size: 320px 9px;
  background-repeat: no-repeat;
  transform: translate(0px, 20px); }
  .arrow_1 {
    position: static;
    transform: translate(5px, 20px); }
  .arrow_2 {
    position: static;
    transform: translate(5px, 20px); }

.action {
  height: 946px;
  width: 100%;
  background-image: url("../img/action/bg.webp");
  background-position: 80% center;
  background-size: 2166px 946px;
  background-repeat: no-repeat; }

.action-main-content {
  width: 977px;
  height: 328px; }
  .action-main-content_left {
    margin-left: auto;
    margin-top: 210px; }

.action-text-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 133px;
  align-items: center;
  flex-direction: column; }
  .action-text-block__title {
    font-family: Px-B;
    font-size: 60px;
    color: #292929;
    letter-spacing: 6px; }
  .action-text-block__description {
    font-family: Px-S;
    font-size: 48px;
    color: #292929;
    letter-spacing: 2.4px; }

.action-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around; }
  .action-button-wrapper_top {
    margin-top: 98px; }

.action-benefits-wrapper {
  width: 100%;
  display: flex;
  justify-content: center; }
  .action-benefits-wrapper_top {
    margin-top: 120px; }

.action-benefits-content {
  width: 1509px;
  display: flex;
  justify-content: space-between; }

.action-benefit-block {
  width: 405px;
  height: 207px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .action-benefit-block__img-wrapper {
    width: 100%;
    height: 127px;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
  .action-benefit-block__img {
    background-repeat: no-repeat;
    background-position: center center; }
  .action-benefit-block_img_1 {
    background-image: url("../img/action/1.svg");
    width: 126px;
    height: 109px;
    background-size: 126px 109px; }
  .action-benefit-block_img_2 {
    background-image: url("../img/action/2.svg");
    width: 120px;
    height: 121px;
    background-size: 120px 121px; }
  .action-benefit-block_img_3 {
    background-image: url("../img/action/3.svg");
    width: 127px;
    height: 127px;
    background-size: 127px 127px; }
  .action-benefit-block__text {
    font-family: Px-S;
    font-size: 30px;
    color: #212121;
    letter-spacing: 1.5px; }

.calculator {
  height: 1350px;
  width: 100%;
  background-color: white; }

.calculator-block {
  width: 100%;
  display: flex;
  justify-content: center; }
  .calculator-block_top {
    margin-top: 100px; }
  .calculator-block__content-wrapper {
    width: 1580px;
    height: 1093px; }
  .calculator-block__checkboxes {
    width: 1530px;
    height: 430px;
    display: flex;
    justify-content: space-between; }
  .calculator-block__checkbox-wrapper {
    display: flex;
    align-items: space-between;
    flex-direction: column;
    height: 415px;
    width: 630px; }
  .calculator-block__title {
    font-family: Px-S;
    font-size: 33px;
    color: black;
    line-height: 35px;
    letter-spacing: 3px; }
  .calculator-block__checkbox-group {
    height: 295px;
    margin-top: 30px; }
  .calculator-block__checkbox-item-wrapper {
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 30px; }
  .calculator-block__checkbox-item {
    display: none; }
  .calculator-block__checkbox-label {
    cursor: pointer;
    display: flex;
    align-items: center; }
    .calculator-block__checkbox-label::before {
      content: '';
      display: inline-block;
      width: 45px;
      height: 45px;
      background-color: #efefef;
      border-radius: 50%; }
    .calculator-block__checkbox-label-text {
      margin-left: 20px;
      font-family: Px-S;
      font-size: 25px;
      color: black; }
  .calculator-block__milleage {
    margin-top: 65px; }
  .calculator-block__time {
    margin-top: 65px;
    border-bottom: 3px solid #6598ff;
    height: 190px; }
  .calculator-block__result-x, .calculator-block__result-y, .calculator-block__result-z {
    font-size: 15px; }
  .calculator-block_range-wrapper_hours-and-days {
    width: 745px; }
  .calculator-block__final-price {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px; }
    .calculator-block__final-price-wrapper {
      width: 245px;
      height: 65px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end; }
    .calculator-block__final-price-text {
      font-family: Px-S;
      font-size: 25px;
      color: #6a667e; }
  .calculator-block__result {
    font-family: Px-S;
    font-size: 35px;
    color: black;
    letter-spacing: 2px; }
    .calculator-block__result-r {
      font-family: Px-S;
      font-size: 26px;
      color: black;
      margin-left: 5px; }
  .calculator-block__range {
    height: 18px; }
    .calculator-block__range-wrapper {
      margin-top: 30px; }
  .calculator-block__checkbox-item:checked + .calculator-block__checkbox-label::before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 60px;
    text-align: center;
    line-height: 18px;
    background-color: #6598ff;
    display: flex;
    align-items: center;
    justify-content: center; }
  .calculator-block__time {
    display: flex;
    justify-content: space-between; }
  .calculator-block__sm-ranges {
    display: none;
    justify-content: space-between; }
  .calculator-block__range-sm {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .calculator-block__result-wrapper-sm {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 270px;
    height: 60px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0 6px 0 black;
    transform: translate(-50%, -300px);
    transition: 0.6s;
    display: none; }
  .calculator-block_result-wrapper-sm_active {
    transition: 0.6s;
    transform: translate(-50%, 0px); }
  .calculator-block__result-content {
    width: 210px;
    display: flex;
    height: 60px;
    align-items: center;
    border-right: 1px solid gray; }
  .calculator-block__result-btn {
    background-image: url("../img/calculator/close.svg");
    width: 50px;
    height: 60px;
    background-position: center center;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    cursor: pointer; }

.v-slider--horizontal .v-slider__track-container {
  width: 100%;
  height: 8px; }

.v-slider__thumb {
  width: 35px;
  height: 35px;
  left: -15px; }

.v-slider--horizontal .v-slider__tick .v-slider__tick-label {
  top: 23px; }

.v-slider__thumb:before {
  display: none; }

.v-slider__tick {
  background-color: #6195ff; }

.v-slider__tick-label {
  font-family: Px;
  font-size: 20px;
  transform: translateX(-1px); }

.v-slider__tick--filled {
  color: #6195ff;
  background-color: #6195ff; }
