@media (max-width: 1650px) {
	.menu__items {
		width: 51%;
	}

	.header__background-title-block {
		left: 40%;
	}

	.menu__item {
		font-size: 18px;
	}
}

@media (max-width: 1420px) {

	.number-block__link {
		margin-left: 25px;
	}

	.header__background-title-block {
		left: 31%;
	}


	.btn__line-item {
		color: yellow;
	}
}

@media (max-width: 1366px) {

	.number-block__link {
		margin-left: 15px;
	}

	.header__background-title-block {
		left: 28%;
	}

	.icon__img {
		margin-top: 3px;
		background-size: 80%;
	}
	

	.menu__item {
		font-size: 14px;
	}
}

@media (max-width: 1230px) {

	.icon__img {
		margin-top: 5px;
		background-size: 70%;
	}

	.header__background-title-block {
		left: 20%;
	}

	.number-block__link {
		margin-left: 10px;
	}

	.menu__items {
		width: 47%;
	}

	.menu__item {
		font-size: 12px;
	}
}

@media (max-width: 1100px) {

	.menu__items {
		width: 50%;
	}

	.header__background-title-block {
		left: 11%;
	}

	.menu__item {
		font-size: 12px;
	}

	.menu__number {
		position: relative;
		right: 5.5%;
	}
}

@media (max-width: 1035px) {
	.header {
		height: 900px;
	}

	.icon_1_active {
		margin-bottom:-2px !important;
		transform: rotate(40deg);
		transition: 0.3s;
	}

	.icon_3_active {
		margin-top:-2px !important;
		transform: rotate(-40deg);
		transition: 0.3s;
	}

	.header__info {
		margin-left: 5%;
	}

	.header__background-title-block {
		right: 100%;
	}


	.header__background-title-block {
		left: 18%;
	}
	
	.btn__line-item {
		color: orange;
	}

	.menu__number {
		display: none;
	}

	.menu__number-block__number {
		display: none;
	}

	.menu__items {
		display: none;
	}

	.collapse__icon {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 80px;
		height: 80px;
		background-color: #2b2b2b;
		border-radius: 50%;
		transition: 0.3s;
		box-shadow: 0 0 6px black;
	}	

	.collapse {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.icon {
		border-radius: 5px;
		height: 5px;
		width: 40px;
		background-color: orange;
	}

	.collapse_icon_hover {
		background-color: #404040;
		box-shadow: 0 0 5px white;
		transition: 0.3s;
	}

	.menu__item {
		display: flex;
		justify-content: center;
		text-align: center;
		margin-bottom: 20%;
		top: 10%;
		font-size: 20px;	
	}
}

@media (max-width: 580px) {
	.header {
		height: 900px;
	}

	.info {
		position: relative;
	}

	.menu__item {
		margin-bottom: 35%;
	}
}

@media (max-width: 490px) {

	.header__collapse-menu {
		width: 100%;
	}

	.info__title-item {
		font-size: 32px;
	}

	.info__description-item {
		font-size: 25px;
	}

	.menu__item {
		margin-bottom: 15%;
	}
}

@media (max-width: 460px) {

	.header__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 10px;
	}

	.info__title-item {
		margin-bottom: 5px;
	}

	.info__title-description {
		margin-top: 0;
	}
	
	.btn__line {
		display: none;
	}

	.btn__line-items {
		display: none;
	}

	.info__btn {
		width: 80%;
	}

	.menu__item {
		font-size: 16px;
	}

	.menu__item {
		margin-bottom: 15%;
	}

}

@media (max-width: 380px) {
	.header {
		height: 1000px;
	}

	.menu__item {
		margin-bottom: 12%;
	}

	.info__btn-link {
		font-size: 13px;
	}

}

@media (max-width: 350px) {
	
	.header__logo {
		width: 200px;
	}

	.menu__item {
		font-size: 15px;
	}

	.logo__img {
		background-size: 70%;
		margin-right: auto;
		width: 200px;
		height: 60px;
		transform: translateX(-20%);
	}

	.menu__item {
		margin-bottom: 10%;
	}
}