/* FONTS */
@font-face {
  font-family: "GilroyBlack";
  src: url("../fonts/Gilroy-Black.ttf") format("truetype"); }

@font-face {
  font-family: "GilroyBold";
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "GilroySemibold";
  src: url("../fonts/Gilroy-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "GilroyHeavy";
  src: url("../fonts/Gilroy-Heavy.ttf") format("truetype"); }

@font-face {
  font-family: "GilroyMedium";
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "GilroyRegular";
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype"); }

/* FONTS */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.container_header {
  max-width: 1870px;
  margin: 0 auto;
  width: 95%; }

.container_info {
  max-width: 1920px;
  margin: 0 auto; }

.header {
  height: 780px;
  background: #252525; }

.header__menu {
  width: 100%;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo__img {
  width: 233px;
  height: 81px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center; }

.menu__number {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px; }

.menu__number-icon {
  margin-left: 70px; }

.icon__img {
  width: 32px;
  height: 32px;
  background-image: url("../img/number.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center; }

.menu__number-block__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.menu__item {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 24px;
  font-family: GilroyMedium;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  line-height: 1; }

.number-block__link {
  margin-left: 25px; }

.menu__items {
  margin-left: auto;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 875px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.menu__items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu_item-hover:hover {
  color: #975223;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.header__info {
  margin-left: 350px;
  margin-top: 65px; }

.info__title-item {
  font-size: 48px;
  font-family: GilroySemibold;
  color: white;
  letter-spacing: 6px; }
  .info__title-item .title__orange {
    color: #fd9047;
    font-family: GilroyBlack; }

.info__description-item {
  font-size: 30px;
  font-family: GilroyMedium;
  color: white;
  letter-spacing: 2px;
  line-height: 1.3; }

.header__btn-block {
  margin-top: 50px; }

.info__btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.info__btn-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: GilroyBold;
  letter-spacing: 3px; }

.info__btn {
  position: relative;
  background-color: #fd9047;
  border: none;
  padding: 25px 30px;
  z-index: 1; }

.btn-line__block {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.line_center {
  right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  background-color: lightgray;
  height: 1px;
  width: 110px;
  border: none;
  position: relative;
  z-index: 2; }

.btn__line-item {
  font-size: 18px;
  font-family: GilroyMedium;
  color: #fd9047;
  letter-spacing: 1px; }

.header__background-title-block {
  width: 800px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-transform: translateX(96.1%) translateY(-115%);
  -ms-transform: translateX(96.1%) translateY(-115%);
  transform: translateX(96.1%) translateY(-115%);
  overflow: hidden; }
  .header__background-title-block h1 {
    font-size: 132px;
    font-family: GilroyHeavy;
    letter-spacing: 20px;
    color: #2b2b2b; }

.info__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 848px;
  height: 409px;
  background-image: url("../img/car.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center; }

.info_img_right {
  -webkit-transform: translateY(-150%) translateX(85%);
  -ms-transform: translateY(-150%) translateX(85%);
  transform: translateY(-150%) translateX(85%);
  z-index: 3;
  position: relative; }
