@media (max-width: 1170px) {
  .stock-slide {
    width: 700px;
    height: 393px;
    background-size: 700px 393px; }
    .stock-slide__text-wrapper {
      width: 650px;
      height: 360px; }
    .stock-slide__gray-wrapper {
      height: 393px; }
  .expectations {
    height: 650px;
    background-size: 1920px 387px; }
  .stock-slider-block {
    height: 450px; }
    .stock-slider-block_top {
      margin-top: 32px; } }

@media (max-width: 910px) {
  .main-title-block__title {
    font-size: 53px; }
  .about-text-block__description {
    font-size: 13px; }
  .about-wrapper {
    justify-content: flex-start;
    width: 770px; }
  .about-text-block_md {
    transform: translateX(20px); }
  .reason__text {
    font-size: 12px; }
  .reason {
    width: 200px; }
  .reasons-group_1 {
    width: 670px; }
  .reasons-group_2 {
    width: 430px; }
  .stock-slide {
    width: 550px;
    height: 309px; }
    .stock-slide__text-wrapper {
      width: 510px;
      height: 282px; }
    .stock-slide__title {
      font-size: 21px; }
    .stock-slide__description {
      font-size: 15px; }
    .stock-slide__gray-wrapper {
      height: 330px; }
  .stock-slider-block {
    height: 359px; }
    .stock-slider-block_top {
      margin-top: 42px; }
  .expectations {
    height: 600px;
    background-size: 1920px 310px; } }

@media (max-width: 770px) {
  .about-wrapper {
    height: 1000px;
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .about {
    height: 1050px; }
  .about-text-block_md {
    transform: translateX(0px);
    text-align: center; }
  .about-text-block__tags-wrapper {
    align-items: center; } }

@media (max-width: 700px) {
  .reason__text {
    font-size: 10px; }
  .reason {
    background-size: 140px 140px;
    height: 190px;
    width: 155px; }
  .reasons-wrapper {
    height: 400px; }
  .reasons {
    height: 681px; }
  .reasons-group_1 {
    width: 530px; }
  .reasons-group_2 {
    width: 340px; }
  .stock-slide {
    width: 440px;
    height: 247px; }
    .stock-slide__gray-wrapper {
      height: 260px; }
    .stock-slide__text-wrapper {
      width: 410px;
      height: 220px; }
  .expectations {
    height: 470px; }
  .stock-slider-block {
    height: 300px; }
    .stock-slider-block_top {
      margin-top: 15px; } }

@media (max-width: 635px) {
  .main-title-block__title {
    font-size: 43px; }
  .phone-block__text {
    font-size: 11.5px; }
  .phone-block__link {
    font-size: 17px; }
  .button_main {
    width: 250px; } }

@media (max-width: 560px) {
  .reasons {
    height: 1681px; }
  .reasons-group_sm {
    display: flex; }
  .reasons-group_lg {
    display: none; }
  .reasons-group_sm {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: inherit; }
  .reasons {
    height: 1300px; }
  .reasons-wrapper {
    height: 1050px; }
  .page-title-block_title_md {
    font-size: 26px; }
  .page-title-block_md {
    height: 50px; }
  .stock-slide {
    width: 350px;
    height: 196px;
    background-size: 350px 196px; }
  .stock-slide__description {
    font-size: 11px; }
  .stock-slide__title {
    font-size: 16px; }
  .stock-slide__gray-wrapper {
    width: 440px; }
  .stock-slide__text-wrapper {
    width: 320px;
    height: 176px; }
  .expectations {
    height: 400px;
    background-size: 1920px 250px; }
  .stock-slider-block {
    height: 230px; } }

@media (max-width: 530px) {
  .main-title-block__title {
    font-size: 37px; }
  .main-information {
    background-position: 49% center; }
  .main-tags-block__tags {
    font-size: 15px; } }

@media (max-width: 450px) {
  .main-title-block__title {
    font-size: 32px; }
  .about-image-block__image {
    width: 315px; }
  .phone-block__text {
    font-size: 10px; }
  .phone-block__link {
    font-size: 15px; }
  .phone-block {
    height: 35px; } }

@media (max-width: 420px) {
  .information_top {
    margin-top: 0; }
  .main-information {
    height: 680px; }
  .feedback-icons-block_top {
    margin-top: 30px; }
  .main-button-block_top {
    margin-top: 80px; }
  .main-information {
    height: 570px; }
  .header {
    height: 180px; }
  .stock-slide {
    width: 300px;
    height: 168px;
    background-size: 300px 168px; }
    .stock-slide__text-wrapper {
      width: 278px;
      height: 150px; }
    .stock-slide__gray-wrapper {
      height: 190px; }
    .stock-slide__title {
      font-size: 13px; }
    .stock-slide__description {
      font-size: 9.5px; } }

@media (max-width: 400px) {
  .page-title-block_sm {
    height: 38px; }
  .page-title-block_title_sm {
    font-size: 20px; } }

@media (max-width: 380px) {
  .main-title-block__title {
    font-size: 26px; }
  .main-tags-block__tags {
    font-size: 12px; }
  .main-description-block__description {
    font-size: 13px; }
  .button_main {
    width: 220px; }
  .about-text-block__description {
    font-size: 12px; }
  .phone-block__link {
    font-size: 13px; }
  .phone-block__text {
    font-size: 9px; }
  .phone-block {
    height: 30px; } }

@media (max-width: 340px) {
  .stock-slide {
    width: 280px;
    height: 148px;
    background-size: 280px 148px; }
    .stock-slide__text-wrapper {
      width: 250px;
      height: 125px; }
  .stock-slide__description {
    font-size: 9px; }
  .stock-slider-block {
    height: 230px; }
  .expectations {
    height: 400px; } }
