@font-face {
  font-family: MulB;
  src: url("fonts/MullerBold.otf"); }

@font-face {
  font-family: MulL;
  src: url("fonts/MullerLight.otf"); }

@font-face {
  font-family: MulLI;
  src: url("fonts/MullerLightItalic.otf"); }

@font-face {
  font-family: MulM;
  src: url("fonts/MullerMedium.otf"); }

@font-face {
  font-family: Mul;
  src: url("fonts/MullerRegular.otf"); }

@font-face {
  font-family: MulI;
  src: url("fonts/MullerRegularItalic.otf"); }

.header {
  height: 200px; }

.container {
  max-width: 945px;
  width: 95%;
  margin: 0 auto;
  overflow: hidden; }

.logo {
  background-image: url("../img/main-information/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 104px; }

.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center; }
  .header-wrapper_top {
    padding-top: 20px; }

.phone-block {
  display: flex;
  flex-direction: column;
  height: 41px;
  justify-content: space-between;
  align-items: flex-end; }
  .phone-block__text {
    font-family: Mul;
    font-size: 14px;
    color: white; }
  .phone-block__link {
    font-family: MulB;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: 0.4s; }
    .phone-block__link:hover {
      transition: 0.4s;
      color: #f5f5cf; }

.information {
  width: 100%;
  height: 490px; }
  .information-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .information_top {
    margin-top: 100px; }

.main-title-block {
  height: 70px; }
  .main-title-block__title {
    font-family: MulM;
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    height: 75px;
    display: flex;
    align-items: center; }

.main-tags-block__tags {
  font-family: Mul;
  font-size: 20px;
  color: white;
  text-transform: uppercase; }

.main-tags-block_top {
  margin-top: 45px; }

.main-description-block__description {
  font-family: Mul;
  font-size: 16px;
  color: white; }

.main-description-block_top {
  margin-top: 14px; }

.main-button-block_top {
  margin-top: 100px; }

.information-button-block {
  height: 70px; }

.button {
  position: relative;
  border: 2px solid;
  background-color: rgba(255, 255, 255, 0);
  font-family: MulB; }
  .button_main {
    border-color: white;
    width: 300px;
    height: 60px;
    color: white;
    transition: 0.4s; }
    .button_main:hover {
      box-shadow: 1px 2px 11px 0px rgba(255, 255, 255, 0.87);
      transition: 0.4s; }
  .button__link {
    text-decoration: none;
    color: inherit; }

.feedback-icons-block {
  display: flex;
  justify-content: space-between;
  width: 98px; }
  .feedback-icons-block__link:focus {
    outline: none; }
  .feedback-icons-block_top {
    margin-top: 140px; }

.fb-icon {
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid white;
  border-radius: 50%;
  background-size: 16px 16px; }
  .fb-icon_vk {
    background-image: url("../img/main-information/vk.svg"); }
  .fb-icon_fcb {
    background-image: url("../img/main-information/fb.svg"); }
  .fb-icon_inst {
    background-image: url("../img/main-information/inst.svg"); }

.main-information {
  background-image: url("../img/main-information/mainbg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 829px; }

.about {
  width: 100%;
  height: 590px;
  background-color: #f8f2e4; }
  .about-wrapper {
    width: 865px;
    height: 500px;
    display: flex;
    justify-content: space-between; }
    .about-wrapper_top {
      margin-top: 50px; }

.about-image-block__image {
  background-image: url("../img/about/about-img.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 390px;
  height: 490px; }

.about-text-block__title-wrapper {
  margin-top: 50px; }

.about-text-block__title {
  font-family: MulM;
  font-size: 30px;
  color: black;
  line-height: 53px; }
  .about-text-block__title-span {
    font-size: 48px;
    text-transform: uppercase; }

.about-text-block__description-wrapper {
  margin-top: 20px; }

.about-text-block__description {
  font-family: Mul;
  font-size: 16px;
  color: black;
  line-height: 20px; }

.about-text-block__tags-wrapper {
  display: flex;
  height: 120px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px; }

.about-text-block__tag {
  width: 190px;
  background-repeat: no-repeat;
  background-position: left top;
  background-repeat: no-repeat;
  display: flex;
  height: 35px;
  align-items: flex-start; }
  .about-text-block__tag-span {
    transform: translateY(5px);
    margin-left: 55px;
    font-family: Mul;
    font-size: 18px;
    color: black;
    text-transform: uppercase; }

.about-text-block_tag-1 {
  background-image: url("../img/about/paper.svg");
  background-size: 30px 20px; }

.about-text-block_tag-2 {
  background-image: url("../img/about/wave.svg");
  background-size: 30px 24px; }

.about-text-block_tag-3 {
  background-image: url("../img/about/plane.svg");
  background-size: 27px 28px; }

.reasons {
  height: 781px;
  width: 100%;
  background-color: white; }

.page-title-block {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .page-title-block_top, .page-title-block_bottom {
    margin: 80px 0; }
  .page-title-block__title {
    font-family: MulM;
    font-size: 36px;
    color: black; }
  .page-title-block__underline {
    width: 120px;
    height: 6px;
    background-image: url("../img/reasons/underline.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120px 6px; }

.reasons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 500px; }
  .reasons-wrapper_top {
    margin-top: 70px; }

.reasons-group {
  display: flex;
  justify-content: space-between; }
  .reasons-group_1 {
    width: 850px; }
  .reasons-group_2 {
    width: 540px; }
  .reasons-group_sm {
    display: none; }

.reason {
  height: 225px;
  text-align: center;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: 170px 170px;
  background-repeat: no-repeat;
  background-position: center top; }
  .reason__text {
    font-family: Mul;
    font-size: 16px;
    color: black;
    display: flex;
    align-items: flex-start;
    height: 32px; }
  .reason_1 {
    background-image: url("../img/reasons/img-1.webp"); }
  .reason_2 {
    background-image: url("../img/reasons/img-2.webp"); }
  .reason_3 {
    background-image: url("../img/reasons/img-3.webp"); }
  .reason_4 {
    background-image: url("../img/reasons/img-4.webp"); }
  .reason_5 {
    background-image: url("../img/reasons/img-5.webp"); }

.expectations, .programm {
  width: 100%;
  height: 800px;
  background-image: url("../img/expectations/background.webp");
  background-position: center top;
  background-size: 1920px 487px;
  background-repeat: no-repeat; }

.container-full {
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto; }

.stock-slider-block {
  height: 530px;
  width: 100%; }
  .stock-slider-block_top {
    margin-top: 82px; }

.stock-slider-wrapper {
  display: flex;
  align-items: center; }

.slider-block_optimize {
  width: 0; }

.stock-slide {
  width: 940px;
  height: 480px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 940px 530px;
  transition: all 0.05s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  .stock-slide__gray-wrapper {
    width: 940px;
    height: 528px;
    background-color: rgba(48, 48, 48, 0.6);
    display: flex;
    align-items: center;
    justify-content: center; }
  .stock-slide__text-wrapper {
    width: 880px;
    height: 430px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
  .stock-slide__title {
    font-family: MulM;
    font-size: 26px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 24px; }
  .stock-slide__description {
    font-family: Mul;
    font-size: 18px;
    color: white; }

.stock-slide * {
  visibility: hidden;
  opacity: 0; }

.stock-slide-active {
  transform: scaleY(1.1);
  transition: all 0.05s ease-out;
  transition: 2s;
  overflow: hidden; }
  .stock-slide-active * {
    transition: all 0.05s ease-out;
    visibility: visible;
    opacity: 1;
    transition: 2s; }

.expectations-slide_1 {
  background-image: url("../img/expectations/leftslide.webp"); }

.expectations-slide_2 {
  background-image: url("../img/expectations/centerslide.webp"); }

.expectations-slide_3 {
  background-image: url("../img/expectations/rightslide.webp"); }

.schedule {
  height: 680px; }

.schedule-variants-block {
  width: 100%;
  display: flex;
  justify-content: center; }

.schedule-variants-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 400px;
  align-items: space-between;
  flex-wrap: wrap; }

.schedule-variants-group {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.schedule-variant {
  height: 180px;
  background-color: #fff8e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 220px; }
  .schedule-variant__text-block {
    height: 120px; }
  .schedule-variant__date-wrapper {
    margin-top: 31px; }
  .schedule-variant__date {
    font-family: MulL;
    font-size: 14px;
    color: #4b4b4b; }
  .schedule-variant__title-wrapper {
    margin-top: 13px; }
  .schedule-variant__title {
    font-family: MulM;
    font-size: 18px;
    color: black; }
  .schedule-variant__link-wrapper {
    margin-top: 19px; }
  .schedule-variant__link {
    font-family: Mul;
    font-size: 12px;
    color: #5a56af;
    text-decoration: none;
    border-bottom: 1px solid #5a56af;
    transition: 0.3s; }
    .schedule-variant__link:hover {
      transition: 0.3s;
      color: #9491ca;
      border-bottom: 1px solid #9491ca; }

.schedule-button_top {
  margin-top: 8px; }

.button_schedule {
  width: 180px;
  height: 40px;
  border: 2px solid #e28234;
  color: #e28234;
  font-size: 12px;
  transition: 0.5s; }
  .button_schedule:hover {
    transition: 0.5s;
    background-color: #e28234;
    color: white; }

.programm {
  width: 100%;
  height: 800px;
  background-image: url("../img/expectations/background.webp");
  background-position: center top;
  background-size: 1920px 487px;
  background-repeat: no-repeat; }

.programm-slide_1 {
  background-image: url("../img/programm/people.webp"); }

.programm-slide_2 {
  background-image: url("../img/programm/home.webp"); }

.programm-slide_3 {
  background-image: url("../img/programm/moto.webp"); }

.aurveda {
  height: 2050px; }

.aurveda-text-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 170px;
  text-align: center; }
  .aurveda-text-block__text {
    font-family: MulL;
    font-size: 18px;
    color: black;
    line-height: 20px; }

.programs-title-block__title {
  font-family: MulM;
  font-size: 24px;
  color: black; }

.aurveda-programs {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .aurveda-programs_top {
    margin-top: 63px; }

.programs-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 720px; }
  .programs-wrapper_top {
    margin-top: 62px; }

.aurveda-program {
  height: 120px;
  width: 620px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-size: 120px 120px;
  background-repeat: no-repeat;
  background-position: left center; }
  .aurveda-program__text-wrapper {
    width: 465px;
    display: flex;
    justify-content: flex-start; }
  .aurveda-program__text {
    font-family: MulL;
    font-size: 18px;
    color: black;
    line-height: 20px; }
  .aurveda-program_program-1 {
    background-image: url("../img/aurveda/program-1.webp"); }
  .aurveda-program_program-2 {
    background-image: url("../img/aurveda/program-2.webp"); }
  .aurveda-program_program-3 {
    background-image: url("../img/aurveda/program-3.webp"); }
  .aurveda-program_program-4 {
    background-image: url("../img/aurveda/program-4.webp"); }
  .aurveda-program_program-5 {
    background-image: url("../img/aurveda/program-5.webp"); }

.aurveda-center {
  width: 100%;
  display: flex;
  align-items: center; }
  .aurveda-center-wrapper {
    width: 1000px;
    height: 650px;
    display: flex;
    justify-content: flex-end;
    background-image: url("../img/aurveda/centerbg.webp");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 725px 650px; }
  .aurveda-center_top {
    margin-top: 72px; }

.container-aurveda {
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
  width: 95%; }

.center-text-block {
  width: 460px; }
  .center-text-block_top {
    margin-top: 55px; }
  .center-text-block__title {
    font-family: MulM;
    font-size: 30px;
    color: black; }
  .center-text-block__extra-wrapper {
    margin-top: 9px; }
  .center-text-block__extra {
    font-family: MulL;
    font-size: 14px;
    color: #4b4b4b; }
  .center-text-block__description-wrapper {
    height: 213px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 35px; }
  .center-text-block__description {
    font-family: MulL;
    font-size: 12px;
    color: black;
    line-height: 15px; }
  .center-text-block__benefits-wrapper {
    width: 460px;
    height: 234px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px; }
  .center-text-block__benefits-group-1, .center-text-block__benefits-group-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
  .center-text-block__benefits-group-1 {
    height: inherit; }
  .center-text-block__benefits-group-2 {
    height: 205px; }
  .center-text-block__benefit {
    background-image: url("../img/aurveda/logo-mini.webp");
    background-position: left top;
    background-size: 13px 13px;
    background-repeat: no-repeat; }
    .center-text-block__benefit-text {
      font-family: MulL;
      font-size: 12px;
      color: #454545;
      line-height: 15px;
      position: relative;
      left: 30px; }

.instructors {
  height: 1350px;
  width: 100%;
  background-image: url("../img/instructors/bg.webp");
  background-position: center top;
  background-size: 1920px 1140px;
  background-repeat: no-repeat; }

.instructors-slider-block, .instructors-slider-block-2 {
  width: 100%;
  display: flex;
  justify-content: center; }
  .instructors-slider-block-1_bottom, .instructors-slider-block-2-1_bottom {
    margin-bottom: 20px; }

.instructors-slide, .instructors-slide_slider-2 {
  width: 945px;
  height: 540px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 945px 540px;
  display: flex;
  align-items: flex-end; }
  .instructors-slide__content-wrapper, .instructors-slide_slider-2__content-wrapper {
    width: 100%;
    height: 170px;
    background-color: rgba(68, 68, 68, 0.58);
    display: flex;
    align-items: center; }
  .instructors-slide__name, .instructors-slide_slider-2__name {
    margin-left: 60px;
    width: 295px;
    border-right: 2px solid white;
    height: 90px; }
  .instructors-slide__title, .instructors-slide_slider-2__title {
    font-family: MulB;
    font-size: 30px;
    color: white; }
  .instructors-slide__profession-wrapper, .instructors-slide_slider-2__profession-wrapper {
    margin-top: 20px; }
  .instructors-slide__profession, .instructors-slide_slider-2__profession {
    font-family: MulI;
    font-size: 16px;
    color: white;
    line-height: 20px; }
  .instructors-slide__description-wrapper, .instructors-slide_slider-2__description-wrapper {
    margin-left: 47px; }
  .instructors-slide__description, .instructors-slide_slider-2__description {
    font-family: Mul;
    font-size: 14px;
    color: white;
    line-height: 18px; }

.instructors-slide_1 {
  background-image: url("../img/instructors/1.webp"); }

.instructors-slide_2 {
  background-image: url("../img/instructors/2.webp"); }

.instructors-slide_3 {
  background-image: url("../img/instructors/3.webp"); }

.instructors-slide_4 {
  background-image: url("../img/instructors/4.webp"); }

.instructors-slide * {
  visibility: hidden;
  opacity: 0;
  transition: 0.7s; }

.instructors-slide_slider-2 * {
  visibility: hidden;
  opacity: 0;
  transition: 0.7s; }

.instructors-slide-active * {
  visibility: visible;
  opacity: 1;
  transition: 0.7s; }

.instructors-slide-active-2 * {
  visibility: visible;
  opacity: 1;
  transition: 0.7s; }

.instructors-pagination, .instructors-pagination-2 {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.instructors-pagination__bullet, .instructors-pagination__bullet-2 {
  margin-left: 7px;
  transform: translateX(-10px);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white; }
  .instructors-pagination__bullet-active, .instructors-pagination__bullet-active-2, .instructors-pagination__bullet-2-active, .instructors-pagination__bullet-2-active-2 {
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0); }

.reviews {
  width: 100%;
  height: 510px;
  background-color: #fff; }
  .reviews-next-btn::after {
    background-image: url("../img/reviews/next.svg"); }
  .reviews-prev-btn::after {
    background-image: url("../img/reviews/prev.svg"); }
  .reviews-next-btn::after, .reviews-prev-btn::after {
    content: '';
    width: 36px;
    height: 35px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 36px 35px; }
  .reviews-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(10px); }
  .reviews-bullet {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #b4b4b4;
    margin: 0 5px; }
    .reviews-bullet-active {
      background-color: rgba(180, 180, 180, 0);
      width: 10px;
      height: 10px;
      border: 1px solid #b4b4b4; }

.reviews-slider-block {
  width: 940px;
  height: 228px; }

.review {
  width: 940px;
  height: 155px;
  display: flex;
  justify-content: center; }
  .review_top {
    margin-top: 40px; }
  .review__wrapper {
    background-image: url("../img/reviews/ava.webp");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 150px 150px;
    display: flex;
    justify-content: flex-end;
    width: 760px;
    height: inherit; }
  .review__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
  .review__name {
    font-family: Mul;
    font-size: 18px;
    color: black; }
    .review__name-bold {
      font-family: MulB; }
  .review__link {
    font-family: MulL;
    font-size: 12px;
    color: #c94410;
    text-decoration: none;
    border-bottom: 1px solid #f8c9b6;
    transition: 0.4s; }
    .review__link:hover {
      transition: 0.4s;
      color: #d38161; }
  .review__message {
    font-family: MulI;
    font-size: 14px;
    color: #393939;
    line-height: 17px; }
    .review__message-wrapper {
      margin-top: 18px; }

.advantages {
  width: 100%;
  height: 890px;
  background-color: #f8f2e4; }

.advantages-list-block {
  width: 100%;
  height: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.advantages-group {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.advantage {
  height: 263px;
  width: 260px;
  background-position: center top;
  background-size: 120px 120px;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end; }
  .advantage__content {
    height: 105px;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .advantage_1 {
    background-image: url("../img/advantages/1.svg"); }
  .advantage_2 {
    background-image: url("../img/advantages/2.svg"); }
  .advantage_3 {
    background-image: url("../img/advantages/3.svg"); }
  .advantage_4 {
    background-image: url("../img/advantages/4.svg"); }
  .advantage_5 {
    background-image: url("../img/advantages/5.svg"); }
  .advantage_6 {
    background-image: url("../img/advantages/6.svg"); }
  .advantage__title {
    font-family: MulB;
    font-size: 18px;
    color: black; }
    .advantage__title-wrapper {
      margin-bottom: 20px; }
  .advantage__description {
    font-family: MulL;
    font-size: 16px;
    color: black;
    line-height: 18px; }

.work {
  width: 100%;
  height: 490px;
  background-color: #fff; }

.page-title-block_work_top {
  margin-bottom: 37px; }

.work-steps-block {
  display: flex;
  flex-direction: column;
  align-items: center; }

.steps-title-block__title {
  font-family: MulI;
  font-size: 18px;
  color: #3f3f3f; }

.steps-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .steps-wrapper_top {
    margin-top: 60px; }

.step {
  width: 145px;
  height: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .step__img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #f3f3f3;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px 40px; }
  .step_img_1 {
    background-image: url("../img/work/1.svg"); }
  .step_img_2 {
    background-image: url("../img/work/2.svg"); }
  .step_img_3 {
    background-image: url("../img/work/3.svg");
    background-position: 60% center; }
  .step_img_4 {
    background-image: url("../img/work/4.svg"); }
  .step_img_5 {
    background-image: url("../img/work/5.svg"); }
  .step_img_6 {
    background-image: url("../img/work/6.svg"); }
  .step__description {
    font-family: Mul;
    font-size: 12px;
    color: #3f3f3f;
    line-height: 14px; }
    .step__description-wrapper {
      height: 41px;
      display: flex;
      align-items: flex-start; }
    .step__description-link {
      color: #ea7231;
      border-bottom: 1px solid #ea7231;
      text-decoration: none;
      transition: 0.4s; }
      .step__description-link:hover {
        color: #e4a887;
        border-bottom: 1px solid #e4a887;
        transition: 0.4s; }

.arrow {
  width: 30px;
  height: 30px;
  background-image: url("../img/work/arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30px 30px; }
  .arrow_center {
    transform: translateY(-30px); }

.price {
  height: 1150px;
  width: 100%;
  background-color: #f8f2e4; }
  .price-list {
    width: 100%;
    display: flex;
    justify-content: center; }

.cost-wrapper {
  width: 820px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff; }

.cost-list {
  height: 210px;
  width: 100%;
  display: flex;
  flex-direction: column; }

.price-button-block {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #f4e1b6; }
  .price-button-block__description {
    font-family: MulM;
    font-size: 20px;
    color: black; }
    .price-button-block__description-wrapper {
      margin-left: 50px; }

.cost {
  display: flex;
  align-items: center; }
  .cost__description {
    font-family: Mul;
    font-size: 21px;
    color: black; }
    .cost__description-bold {
      font-family: MulB; }
    .cost__description-wrapper {
      width: 550px; }
  .cost__price {
    font-family: MulB;
    font-size: 21px;
    color: #dd490f; }
    .cost__price-wrapper {
      margin-left: 80px; }
  .cost_1 {
    margin-top: 50px; }
  .cost_2, .cost_3 {
    margin-top: 30px; }
  .cost_center {
    margin-left: 50px; }

.main-button-block_price_left {
  margin-left: 66px; }

.button_price {
  width: 140px;
  height: 40px;
  border: 2px solid #e28234;
  font-family: "MulB";
  font-size: 12px;
  transition: 0.4s;
  color: #e28234; }
  .button_price:hover {
    background-color: #e28234;
    color: white;
    transition: 0.4s; }

.bonuses-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .bonuses-block_top {
    margin-top: 50px; }

.bonus-title-block_bottom {
  margin-bottom: 38px; }

.bonus-title-block__title {
  font-family: MulM;
  font-size: 24px;
  color: black; }

.bonuses-wrapper {
  width: 690px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .bonuses-wrapper_on {
    height: 225px; }
  .bonuses-wrapper_off {
    height: 50px; }

.bonus {
  width: 685px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-repeat: no-repeat;
  background-position: left center; }
  .bonus_on {
    background-image: url("../img/price/ok.svg");
    background-size: 14px 10px; }
  .bonus_off {
    background-image: url("../img/price/no.svg");
    background-size: 10px 10px; }
  .bonus__text {
    font-family: Mul;
    font-size: 18px;
    color: #4e4e4e; }
    .bonus__text-wrapper {
      width: 655px;
      display: flex;
      justify-content: flex-start; }

.bonuses-description-block {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center; }
  .bonuses-description-block_top {
    margin-top: 48px; }
  .bonuses-description-block__description {
    font-family: Mul;
    font-size: 18px;
    color: black;
    line-height: 20px; }

.garanty {
  width: 100%;
  height: 686px;
  background-color: #fff; }
  .garanty-description-block {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center; }
    .garanty-description-block__description {
      font-family: MulLI;
      font-size: 15.5px;
      color: black;
      line-height: 20px; }

.documents-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .documents-block_top {
    margin-top: 61px; }

.documents-title-block {
  width: 100%;
  display: flex;
  justify-content: center; }
  .documents-title-block__title {
    font-family: MulM;
    font-size: 24px;
    color: black; }
  .documents-title-block_bottom {
    margin-bottom: 35px; }

.documents-wrapper {
  width: 905px;
  display: flex;
  justify-content: space-between; }

.main_active {
  overflow: hidden; }

.document {
  width: 185px;
  height: 206px;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: flex-end;
  background-position: center top;
  background-size: 140px 180px;
  background-repeat: no-repeat;
  cursor: pointer; }
  .document_1 {
    background-image: url("../img/garanty/doc1.webp"); }
  .document_2 {
    background-image: url("../img/garanty/doc2.webp"); }
  .document_3 {
    background-image: url("../img/garanty/doc3.webp"); }
  .document_4 {
    background-image: url("../img/garanty/doc4.webp"); }
  .document__description {
    font-family: Mul;
    font-size: 14px;
    color: black; }
  .document_active {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 15;
    transform: translate(-50%, -50%) scale(2, 2);
    transition: 0.4s; }

.contacts {
  width: 100%;
  height: 390px;
  background-color: #fcf9f1; }
  .contacts-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .contacts-wrapper_top {
      margin-top: 50px; }
  .contacts-content {
    width: 620px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }

.contacts-title-block__title {
  font-family: MulM;
  font-size: 17px;
  color: black; }

.feedback-wrapper {
  width: 545px;
  display: flex;
  justify-content: space-between;
  height: 72px; }
  .feedback-wrapper_top {
    margin-top: 28px; }

.social-links-block {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
  width: 190px; }
  .social-links-block__title {
    font-family: MulM;
    font-size: 16px;
    color: black; }

.feedback-phone-block {
  width: 225px;
  height: inherit;
  display: flex;
  flex-direction: column; }
  .feedback-phone-block__phone-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 13px;
    height: 50px; }
  .feedback-phone-block__title {
    font-family: MulM;
    font-size: 16px;
    color: black; }
  .feedback-phone-block__description {
    font-family: MulLI;
    font-size: 12px;
    color: black; }
  .feedback-phone-block__phone {
    font-family: MulB;
    font-size: 28px;
    color: black;
    text-decoration: none;
    transition: 0.4s; }
    .feedback-phone-block__phone:hover {
      color: #3d3d3d;
      transition: 0.4s; }

.feedback-icons-block_contacts {
  width: 183px;
  display: flex;
  justify-content: space-between; }

.fb-icon_contacts {
  border-color: #e28234;
  width: 40px;
  height: 40px; }
  .fb-icon_contacts_1 {
    background-image: url("../img/contacts/vk.svg");
    background-size: 30px 22px; }
  .fb-icon_contacts_2 {
    background-image: url("../img/contacts/fb.svg");
    background-size: 18px 27px; }
  .fb-icon_contacts_3 {
    background-image: url("../img/contacts/inst.svg");
    background-size: 20px 25px; }

.location-wrapper {
  width: 625px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .location-wrapper_top {
    margin-top: 43px; }

.location-title-block__title {
  font-family: MulM;
  font-size: 16px;
  color: black; }

.maps-wrapper {
  display: flex;
  width: inherit;
  justify-content: space-between; }

.map-block {
  width: 200px;
  height: 106px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .map-block__description {
    font-family: Mul;
    font-size: 11px;
    color: black; }

.footer {
  width: 100%;
  height: 90px;
  background-color: #383838; }
  .footer-wrapper {
    display: flex;
    width: 100%;
    height: inherit;
    justify-content: space-between; }
    .footer-wrapper_top {
      margin-top: 12px; }

.footer-logo-block {
  width: 310px;
  display: flex;
  height: 66px;
  align-items: center;
  justify-content: space-between; }
  .footer-logo-block__text-wrapper {
    height: 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer-logo-block__text {
    font-family: Mul;
    font-size: 12px;
    color: white; }
  .footer-logo-block__link {
    font-family: Mulb;
    font-size: 18px;
    color: white;
    border-bottom: 1px solid white;
    transition: 0.4s;
    text-decoration: none; }
    .footer-logo-block__link:hover {
      transition: 0.4s;
      color: #fff9c6;
      border-color: #fff9c6; }

.logo_footer {
  width: 51px;
  height: 66px;
  background-size: 51px 66px; }

.author-block {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .author-block__name {
    font-family: Mul;
    font-size: 12px;
    color: white; }
  .author-block__document {
    font-family: Mul;
    font-size: 12px;
    color: white;
    line-height: 15px; }
  .author-block_top {
    margin-top: 14px; }

.overlay {
  position: fixed;
  overflow: hidden;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: rgba(48, 48, 48, 0.6);
  display: none;
  opacity: 0;
  transition: 0.4s; }
  .overlay_active {
    display: block;
    opacity: 1;
    transition: 0.4s; }
