@font-face {
  font-family: MulB;
  src: url("fonts/MullerBold.otf"); }

@font-face {
  font-family: MulL;
  src: url("fonts/MullerLight.otf"); }

@font-face {
  font-family: MulLI;
  src: url("fonts/MullerLightItalic.otf"); }

@font-face {
  font-family: MulM;
  src: url("fonts/MullerMedium.otf"); }

@font-face {
  font-family: Mul;
  src: url("fonts/MullerRegular.otf"); }

@font-face {
  font-family: MulI;
  src: url("fonts/MullerRegularItalic.otf"); }

.header {
  height: 200px; }

.container {
  max-width: 945px;
  width: 95%;
  margin: 0 auto;
  overflow: hidden; }

.logo {
  background-image: url("../img/main-information/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 104px; }

.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center; }
  .header-wrapper_top {
    padding-top: 20px; }

.phone-block {
  display: flex;
  flex-direction: column;
  height: 41px;
  justify-content: space-between;
  align-items: flex-end; }
  .phone-block__text {
    font-family: Mul;
    font-size: 14px;
    color: white; }
  .phone-block__link {
    font-family: MulB;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: 0.4s; }
    .phone-block__link:hover {
      transition: 0.4s;
      color: #f5f5cf; }

.information {
  width: 100%;
  height: 490px; }
  .information-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .information_top {
    margin-top: 100px; }

.main-title-block {
  height: 70px; }
  .main-title-block__title {
    font-family: MulM;
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    height: 75px;
    display: flex;
    align-items: center; }

.main-tags-block__tags {
  font-family: Mul;
  font-size: 20px;
  color: white;
  text-transform: uppercase; }

.main-tags-block_top {
  margin-top: 45px; }

.main-description-block__description {
  font-family: Mul;
  font-size: 16px;
  color: white; }

.main-description-block_top {
  margin-top: 14px; }

.main-button-block {
  height: 70px; }
  .main-button-block_top {
    margin-top: 100px; }

.button {
  position: relative;
  border: 2px solid;
  background-color: rgba(255, 255, 255, 0);
  font-family: MulB; }
  .button_main {
    border-color: white;
    width: 300px;
    height: 60px;
    color: white;
    transition: 0.4s; }
    .button_main:hover {
      box-shadow: 1px 2px 11px 0px rgba(255, 255, 255, 0.87);
      transition: 0.4s; }

.feedback-icons-block {
  display: flex;
  justify-content: space-between;
  width: 98px; }
  .feedback-icons-block__link:focus {
    outline: none; }
  .feedback-icons-block_top {
    margin-top: 140px; }

.fb-icon {
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid white;
  border-radius: 50%;
  background-size: 16px 16px; }
  .fb-icon_vk {
    background-image: url("../img/main-information/vk.svg"); }
  .fb-icon_fcb {
    background-image: url("../img/main-information/fb.svg"); }
  .fb-icon_inst {
    background-image: url("../img/main-information/inst.svg"); }

.main-information {
  background-image: url("../img/main-information/mainbg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 829px; }

.about {
  width: 100%;
  height: 590px;
  background-color: #f8f2e4; }
  .about-wrapper {
    width: 865px;
    height: 500px;
    display: flex;
    justify-content: space-between; }
    .about-wrapper_top {
      margin-top: 50px; }

.about-image-block__image {
  background-image: url("../img/about/about-img.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 390px;
  height: 490px; }

.about-text-block__title-wrapper {
  margin-top: 50px; }

.about-text-block__title {
  font-family: MulM;
  font-size: 30px;
  color: black;
  line-height: 53px; }
  .about-text-block__title-span {
    font-size: 48px;
    text-transform: uppercase; }

.about-text-block__description-wrapper {
  margin-top: 20px; }

.about-text-block__description {
  font-family: Mul;
  font-size: 16px;
  color: black;
  line-height: 20px; }

.about-text-block__tags-wrapper {
  display: flex;
  height: 120px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px; }

.about-text-block__tag {
  width: 190px;
  background-repeat: no-repeat;
  background-position: left top;
  background-repeat: no-repeat;
  display: flex;
  height: 35px;
  align-items: flex-start; }
  .about-text-block__tag-span {
    transform: translateY(5px);
    margin-left: 55px;
    font-family: Mul;
    font-size: 18px;
    color: black;
    text-transform: uppercase; }

.about-text-block_tag-1 {
  background-image: url("../img/about/paper.svg");
  background-size: 30px 20px; }

.about-text-block_tag-2 {
  background-image: url("../img/about/wave.svg");
  background-size: 30px 24px; }

.about-text-block_tag-3 {
  background-image: url("../img/about/plane.svg");
  background-size: 27px 28px; }

.reasons {
  height: 781px;
  width: 100%;
  background-color: white; }

.page-title-block {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .page-title-block_top {
    margin-top: 80px; }
  .page-title-block__title {
    font-family: MulM;
    font-size: 36px;
    color: black; }
  .page-title-block__underline {
    width: 120px;
    height: 6px;
    background-image: url("../img/reasons/underline.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120px 6px; }

.reasons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 500px; }
  .reasons-wrapper_top {
    margin-top: 70px; }

.reasons-group {
  display: flex;
  justify-content: space-between; }
  .reasons-group_1 {
    width: 850px; }
  .reasons-group_2 {
    width: 540px; }
  .reasons-group_sm {
    display: none; }

.reason {
  height: 225px;
  text-align: center;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: 170px 170px;
  background-repeat: no-repeat;
  background-position: center top; }
  .reason__text {
    font-family: Mul;
    font-size: 16px;
    color: black;
    display: flex;
    align-items: flex-start;
    height: 32px; }
  .reason_1 {
    background-image: url("../img/reasons/img-1.webp"); }
  .reason_2 {
    background-image: url("../img/reasons/img-2.webp"); }
  .reason_3 {
    background-image: url("../img/reasons/img-3.webp"); }
  .reason_4 {
    background-image: url("../img/reasons/img-4.webp"); }
  .reason_5 {
    background-image: url("../img/reasons/img-5.webp"); }

.expectations {
  width: 100%;
  height: 800px;
  background-image: url("../img/expectations/background.webp");
  background-position: center top;
  background-size: 1920px 487px;
  background-repeat: no-repeat; }

.container-full {
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto; }

.stock-slider-block {
  height: 530px;
  width: 100%; }
  .stock-slider-block_top {
    margin-top: 82px; }

.stock-slider-wrapper {
  display: flex;
  align-items: center; }

.slider-block_optimize {
  width: 0; }

.stock-slide {
  width: 940px;
  height: 480px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 940px 530px;
  transition: all 0.05s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  .stock-slide__gray-wrapper {
    width: 940px;
    height: 528px;
    background-color: rgba(48, 48, 48, 0.7);
    display: flex;
    align-items: center;
    justify-content: center; }
  .stock-slide__text-wrapper {
    width: 880px;
    height: 430px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
  .stock-slide__title {
    font-family: MulM;
    font-size: 26px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 24px; }
  .stock-slide__description {
    font-family: Mul;
    font-size: 18px;
    color: white; }

.stock-slide * {
  visibility: hidden;
  opacity: 0; }

.stock-slide-active {
  transform: scaleY(1.1);
  transition: all 0.05s ease-out;
  transition: 2s;
  overflow: hidden; }
  .stock-slide-active * {
    transition: all 0.05s ease-out;
    visibility: visible;
    opacity: 1;
    transition: 2s; }

.expectations-slide_1 {
  background-image: url("../img/expectations/leftslide.webp"); }

.expectations-slide_2 {
  background-image: url("../img/expectations/centerslide.webp"); }

.expectations-slide_3 {
  background-image: url("../img/expectations/rightslide.webp"); }
