@font-face {
  font-family: Geometria;
  src: url("fonts/Geometria.eot"), url("fonts/Geometria.woff"), url("fonts/Geometria.ttf"); }

@font-face {
  font-family: GeometriaB;
  src: url("fonts/Geometria-Bold.eot"), url("fonts/Geometria-Bold.woff"), url("fonts/Geometria-Bold.ttf"); }

* {
  box-sizing: border-box; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 98%;
  overflow: hidden; }

.header {
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center; }
  .header__logo-img {
    background-image: url("../img/header/logo.png");
    width: 80px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat; }
  .header__logo-title {
    margin-left: 20px;
    font-size: 16px;
    font-family: GeometriaB;
    color: #284157; }
    .header__logo-title span {
      font-family: Geometria; }
  .header__text {
    font-size: 12px;
    font-family: Geometria;
    color: #284157;
    line-height: 15px;
    text-align: right; }
  .header__clock-img {
    background-image: url("../img/header/clock-icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin-left: 25px;
    position: relative;
    top: 3px; }

.logo-block {
  display: flex;
  align-items: center; }

.clock-block {
  margin-left: 314px;
  display: flex;
  align-items: center; }

.button-block {
  margin-left: 158px;
  display: flex;
  align-items: center; }
  .button-block .button_left {
    position: relative;
    left: 26px;
    top: 2px; }

.button_default {
  width: 170px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-221deg, #fb2b2b 0%, #f86c26 100%);
  border-radius: 5px;
  border: none; }

.graphic {
  font-size: 12px;
  font-family: GeometriaB;
  color: #284157;
  line-height: 20px; }

.telephone {
  font-size: 15px;
  font-family: GeometriaB;
  color: #284157;
  position: relative;
  top: 7px;
  right: 1px; }
  .telephone a {
    color: #284157;
    text-decoration: none;
    transition: 0.4s; }
  .telephone a:active {
    color: #db1721;
    border: none;
    outline: none; }
  .telephone a:hover {
    color: #4e98da;
    transition: 0.4s; }

.phone_text {
  font-size: 12px;
  font-family: Geometria;
  color: #284157;
  text-align: left;
  letter-spacing: 0.2px; }

.text-block_center {
  position: relative;
  bottom: 1px; }

.button__text {
  font-size: 12px;
  font-family: GeometriaB;
  color: #FFF; }

.button-block-sm {
  display: none; }

.button__href {
  text-decoration: none; }

.button-block-sm__telephone-btn {
  background-image: url("../img/header/phone.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px; }

.overlay1 {
  width: 100%;
  height: 100vh;
  background-color: rgba(54, 53, 53, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
  transition: 1s; }

.overlay1_active {
  display: none;
  transition: 1s;
  overflow: hidden; }

.overlay1__close-btn {
  background-color: red;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center; }

.main-information {
  width: 100%;
  height: 600px;
  background-image: url("../img/main/mainbg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.main {
  display: flex; }

.text-information, .feedback {
  max-width: 585px;
  width: 50%;
  height: 600px; }

.text-information__benefit-1, .text-information__benefit-2 {
  margin-right: 90px; }

.feedback_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; }

.feedback-form {
  background-image: url("../img/main/mnogoblock.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 369px;
  height: 417px; }
  .feedback-form_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .feedback-form__description {
    text-align: center;
    font-size: 16px;
    font-family: GeometriaB;
    color: #284157;
    line-height: 20px; }
  .feedback-form__text-areas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .feedback-form__input {
    width: 190px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    font-size: 12px;
    font-family: Geometria;
    color: #000000;
    letter-spacing: 0.12px;
    text-align: center; }
  .feedback-form .input_first-mgn {
    margin-top: 35px;
    margin-bottom: 10px; }
  .feedback-form .input_last-mgn {
    margin-bottom: 15px; }

.feedback-form_sm {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-5000%, -50%); }

.feedback-form_active {
  transform: translate(-50%, -50%);
  transition: 0.5s;
  z-index: 2; }

.text-information_flex {
  display: flex;
  flex-direction: column; }

.text-information__title-block {
  margin-top: 70px;
  text-align: left; }

.text-information__title {
  font-size: 36px;
  font-family: GeometriaB;
  color: #FFF; }

.text-information__description-block-1 {
  margin-top: 39px;
  transform: translateX(5px); }

.text-information__description-1 {
  font-size: 18px;
  font-family: Geometria;
  color: #FFF;
  line-height: 26px; }

.text-information__description-block-2 {
  margin-top: 45px;
  transform: translateX(5px); }

.text-information__description-2 {
  font-size: 16px;
  font-family: Geometria;
  color: #FFF;
  line-height: 24px; }

.text-information__benefits {
  display: flex;
  flex-direction: row;
  transform: translateX(5px);
  margin-top: 184px; }

.text-information__benefit-1, .text-information__benefit-2, .text-information__benefit-3 {
  font-size: 14px;
  font-family: GeometriaB;
  color: #FFF;
  line-height: 18px; }

.text-information__benefit-block-3 span {
  font-size: 12px;
  font-family: Geometria;
  color: #FFF;
  position: relative;
  top: 6px; }

.feedback__btn {
  display: none; }

.projects {
  height: 950px;
  width: 100%;
  background-color: #fff; }

.projects-title-block {
  width: 100%;
  height: 40px; }
  .projects-title-block__title {
    text-align: center;
    font-size: 27px;
    font-family: GeometriaB;
    color: #284157;
    text-align: center;
    line-height: 35px; }
  .projects-title-block_top {
    margin-top: 98px; }

.projects-variants-block {
  display: flex;
  width: 100%;
  justify-content: center; }
  .projects-variants-block_top {
    margin-top: 60px; }
  .projects-variants-block__variant-text {
    font-size: 18px;
    font-family: Geometria;
    color: #284157;
    width: 110px;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s; }
    .projects-variants-block__variant-text:hover {
      border-radius: 5px;
      border: 2px solid #41596b;
      transition: 0.2s; }
  .projects-variants-block__variant-1, .projects-variants-block__variant-2, .projects-variants-block__variant-3 {
    box-sizing: border-box;
    text-align: center;
    width: calc(100%/3);
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .projects-variants-block_variant_selected {
    border-radius: 5px;
    border: 2px solid #3d77a3;
    color: #3d77a3; }
  .projects-variants-block__variant-1:hover, .projects-variants-block__variant-2:hover, .projects-variants-block__variant-3:hover {
    border: 1px solid #284157;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer; }

.projects-variants__texts {
  display: flex;
  width: 396px;
  justify-content: center; }

.projects-slider-block {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .projects-slider-block_top {
    margin-top: 60px; }

.slider-block__slides {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  width: 1170px; }

.slide {
  width: 370px;
  height: 485px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .slide__img {
    width: 370px;
    height: 240px;
    background-image: url("../img/projects/home.webp");
    background-repeat: no-repeat;
    background-size: cover; }
  .slide__title-block {
    margin-top: 29px; }
  .slide__title {
    font-size: 20px;
    font-family: GeometriaB;
    color: #284157; }
  .slide__description-block {
    margin-top: 30px; }
  .slide__description {
    font-size: 16px;
    font-family: Geometria;
    color: #284157;
    line-height: 30px;
    text-align: center; }
  .slide__button-block {
    margin-top: 29px; }

.projects-prev:after {
  content: "";
  background-image: url("../img/projects/prev-btn.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 20px;
  background-size: 12px 20px; }

.projects-next:after {
  content: "";
  background-image: url("../img/projects/next-btn.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 20px;
  background-size: 12px 20px; }

.projects-prev {
  margin-left: 480px; }

.projects-next {
  margin-right: 480px; }

.projects-prev, .projects-next {
  transform: translateY(250px); }

.projects-bullet {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #41596b;
  border-radius: 50%;
  margin: 0 10px; }

.projects-bullet-active {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 3px solid #41596b;
  border-radius: 50%; }

.projects-pagination {
  transform: translateY(-150%);
  display: flex;
  align-items: center;
  justify-content: center; }

.slider-block {
  height: 600px; }

.slider-tab-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0; }

.ui-tabs .ui-tabs-panel {
  padding: 0; }

.ui-widget.ui-widget-content {
  border: none; }

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  float: none;
  padding: 0;
  text-decoration: none;
  background-color: #fff; }

.ui-corner-all {
  border-radius: 0px; }

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  float: none; }

.ui-tabs .ui-tabs-nav {
  padding: 0; }

.ui-widget-header {
  border: none;
  background-color: #fff; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: none;
  background: #fff; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: none;
  background-color: white; }

.plans {
  height: 1439px;
  width: 100%;
  background-image: url("../img/plans/plansbg.webp"); }

.plan-text-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 184px; }

.plan-text-wrapper__title-block {
  margin-top: 20px; }

.plan-text-wrapper__title {
  font-size: 27px;
  font-family: GeometriaB;
  color: #284157;
  text-align: center;
  line-height: 35px; }

.plan-text-wrapper__img {
  background-image: url("../img/plans/lists.png");
  background-repeat: no-repeat;
  background-size: 477px 80px;
  width: 477px;
  height: 80px; }

.plan-slider-description-block {
  text-align: center; }
  .plan-slider-description-block_top {
    margin-top: 58px; }

.description {
  font-size: 20px;
  font-family: Geometria;
  color: #284157; }

.plan-slider-block {
  height: 245px;
  width: 100%; }
  .plan-slider-block_top {
    margin-top: 59px; }

.plan-swiper-container, .plan-swiper-container-2 {
  width: 1170px;
  height: 245px; }

.plan-slide {
  width: 370px;
  height: 245px;
  border-radius: 5px; }
  .plan-slide-1 {
    background-image: url("../img/plans/home-1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .plan-slide-2 {
    background-image: url("../img/plans/home-2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .plan-slide-3 {
    background-image: url("../img/plans/home-3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .plan-slide-4 {
    background-image: url("../img/plans/home-4.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .plan-slide-5 {
    background-image: url("../img/plans/home-5.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .plan-slide-6 {
    background-image: url("../img/plans/home-1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .plan-slide-7 {
    background-image: url("../img/plans/home-2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .plan-slide-8 {
    background-image: url("../img/plans/home-3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .plan-slide-9 {
    background-image: url("../img/plans/home-4.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .plan-slide-10 {
    background-image: url("../img/plans/home-5.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .plan-slide_selected {
    background-image: url("../img/plans/home-click.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 370px;
    height: 245px;
    border-radius: 5px; }

.plan-button-prev {
  width: 40px;
  height: 40px;
  margin-left: -10px; }
  .plan-button-prev:after {
    content: '';
    background-image: url("../img/plans/prev-btn.svg");
    background-repeat: no-repeat;
    background-size: 12px 20px;
    background-position: center center;
    background-color: #fff;
    width: 40px;
    height: 40px; }

.plan-button-next {
  width: 40px;
  height: 40px;
  margin-right: -10px; }
  .plan-button-next:after {
    content: '';
    background-image: url("../img/plans/next-btn.svg");
    background-repeat: no-repeat;
    background-size: 12px 20px;
    background-position: center center;
    background-color: #fff;
    width: 40px;
    height: 40px; }

.plan-form-wrapper {
  display: flex;
  justify-content: center;
  width: 100%; }

.plan-form {
  width: 100%;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .plan-form_top {
    margin-top: 60px; }
  .plan-form__title-wrapper {
    margin-top: 75px; }
  .plan-form__description-wrapper {
    margin-top: 30px; }
  .plan-form__title-wrapper, .plan-form__description-wrapper, .plan-form__feedback-wrapper {
    width: 970px; }
  .plan-form__title {
    font-size: 22px;
    font-family: GeometriaB;
    color: #284157;
    line-height: 30px; }
  .plan-form_title_md {
    display: none; }
  .plan-form__description {
    font-size: 16px;
    font-family: Geometria;
    color: #284157; }
  .plan-form__feedback-wrapper {
    display: flex;
    margin-top: 40px; }
  .plan-form__name-field, .plan-form__phone-field {
    width: 270px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    font-size: 12px;
    font-family: Geometria;
    color: #000;
    letter-spacing: .12px;
    box-sizing: border-box;
    padding-left: 20px; }
  .plan-form__name-field {
    margin-right: 25px; }
  .plan-form__phone-field {
    margin-right: 15px; }
  .plan-form_button {
    height: 60px;
    width: 270px;
    border-radius: 10px; }

.control {
  width: 100%;
  height: 900px; }
  .control__title {
    font-size: 27px;
    font-family: GeometriaB;
    color: #284157;
    text-align: center;
    line-height: 35px; }
  .control__title-wrapper {
    margin-top: 99px;
    width: 100%;
    display: flex;
    justify-content: center; }
  .control__description-wrapper {
    margin-top: 59px;
    display: flex;
    justify-content: center;
    width: 100%; }
  .control__description {
    text-align: center;
    line-height: 25px; }
  .control__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    width: 100%; }
  .control__img {
    width: 914px;
    height: 478px;
    background-image: url("../img/control/homeImg.webp");
    background-size: cover;
    background-repeat: no-repeat; }

.materials {
  height: 599px;
  background-color: #284157; }

.materials-title-block {
  width: 100%;
  display: flex;
  justify-content: center; }
  .materials-title-block_top {
    margin-top: 100px; }
  .materials-title-block__title {
    font-size: 27px;
    font-family: GeometriaB;
    color: #284157;
    text-align: center;
    line-height: 35px;
    text-align: center;
    color: white; }

.materials-blocks-wrapper {
  display: flex;
  width: 100%;
  justify-content: center; }
  .materials-blocks-wrapper_top {
    margin-top: 60px; }

.materials-blocks {
  display: flex;
  width: 1170px;
  justify-content: space-between; }

.materials-block {
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .materials-block__title-wrapper {
    margin-top: 30px;
    margin-bottom: 28px; }
  .materials-block__title {
    font-size: 14px;
    font-family: Geometria;
    color: #fff;
    text-transform: uppercase; }
  .materials-block__img {
    width: 270px;
    height: 190px; }
  .materials-block_img-1 {
    background-image: url("../img/materials/concrete.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .materials-block_img-2 {
    background-image: url("../img/materials/brick.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .materials-block_img-3 {
    background-image: url("../img/materials/blocks.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .materials-block_img-4 {
    background-image: url("../img/materials/foamBlock.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .materials-block__link {
    font-size: 14px;
    font-family: Geometria;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff; }

.advantages {
  width: 100%;
  height: 780px;
  background-image: url("../img/advantages/advBg.webp");
  background-repeat: no-repeat;
  background-size: cover; }

.advantages-title-block {
  width: 100%;
  display: flex;
  justify-content: center; }
  .advantages-title-block__title {
    font-size: 27px;
    font-family: GeometriaB;
    color: #284157;
    text-align: center;
    line-height: 35px;
    text-align: center; }
  .advantages-title-block_top {
    margin-top: 100px; }

.advantages-benefits-block {
  display: flex;
  justify-content: center;
  width: 100%; }
  .advantages-benefits-block_top {
    margin-top: 79px; }

.advantages-benefits-wrapper {
  display: flex;
  height: 440px;
  flex-direction: column;
  justify-content: space-between; }

.advantages-benefit {
  width: 776px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .advantages-benefit__img {
    width: 170px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .advantages-benefit_img-1 {
    background-image: url("../img/advantages/bulldozer.webp"); }
  .advantages-benefit_img-2 {
    background-image: url("../img/advantages/worker.webp"); }
  .advantages-benefit_img-3 {
    background-image: url("../img/advantages/graphic.webp"); }
  .advantages-benefit__text-block {
    height: 82px;
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .advantages-benefit__title {
    font-size: 18px;
    font-family: GeometriaB;
    color: #284157; }
  .advantages-benefit__description {
    font-size: 14px;
    font-family: Geometria;
    color: #284157; }

.president {
  width: 100%;
  height: 630px;
  background-color: #ffffff; }

.president-title-block {
  width: 100%;
  display: flex;
  justify-content: center; }
  .president-title-block__title {
    font-size: 27px;
    font-family: GeometriaB;
    color: #284157;
    text-align: center;
    line-height: 35px;
    text-align: center; }
  .president-title-block_top {
    margin-top: 100px; }

.president-main-block {
  width: 100%;
  display: flex;
  justify-content: center; }
  .president-main-block_top {
    margin-top: 60px; }

.president-main-wrapper {
  width: 1170px;
  display: flex;
  align-items: center; }

.president-video-block__video {
  width: 670px;
  height: 301px;
  background-image: url("../img/president/video.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center; }

.president-video-block__play-button {
  width: 40px;
  height: 40px;
  background-image: url("../img/president/playBtn.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center center;
  cursor: pointer;
  transition: 0.05s; }
  .president-video-block__play-button:hover {
    width: 45px;
    height: 45px;
    transition: 0.05s;
    background-size: 45px 45px; }

.president-text-block {
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .president-text-block__text-wrapper-1, .president-text-block__text-wrapper-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px; }
  .president-text-block__title {
    font-size: 20px;
    font-family: GeometriaB;
    color: #284157; }
  .president-text-block__phone {
    text-decoration: none;
    color: #284157;
    transition: 0.3s; }
    .president-text-block__phone:hover {
      color: blue;
      transition: 0.3s; }
  .president-text-block__description {
    font-size: 16px;
    font-family: Geometria;
    color: #284157;
    line-height: 20px; }
  .president-text-block_left {
    margin-left: 29px; }

.faces {
  width: 100%;
  height: 840px;
  background-color: #ebf3fa; }

.faces-title-block {
  width: 100%;
  display: flex;
  justify-content: center; }
  .faces-title-block__title {
    font-size: 27px;
    font-family: GeometriaB;
    color: #284157;
    text-align: center;
    line-height: 35px;
    text-align: center; }
  .faces-title-block_top {
    margin-top: 100px; }

.faces-main-block {
  width: 100%;
  display: flex;
  justify-content: center; }
  .faces-main-block_top {
    margin-top: 60px; }

.faces-main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1170px; }

.face-block {
  width: 370px;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .face-block__img {
    background-image: url("../img/faces/face.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 148px;
    height: 170px; }
  .face-block__title {
    font-size: 18px;
    font-family: GeometriaB;
    color: #284157; }
  .face-block__description {
    font-size: 14px;
    font-family: Geometria;
    color: #284157; }
  .face-block__text-block {
    background-image: url("../img/faces/textbg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 264px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px; }
  .face-block__wrapper {
    width: 310px;
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .face-block__text {
    font-size: 14px;
    font-family: Geometria;
    color: #284157;
    text-align: center; }

.questions {
  background-image: url("../img/questions/questionsBg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 748px; }

.questions-title-block {
  display: flex;
  justify-content: center; }
  .questions-title-block_top {
    margin-top: 100px; }
  .questions-title-block__title {
    font-size: 27px;
    font-family: GeometriaB;
    color: #284157;
    text-align: center;
    line-height: 35px;
    text-align: center;
    color: #fff; }

.questions-description-block {
  display: flex;
  justify-content: center; }
  .questions-description-block__description {
    font-size: 20px;
    font-family: Geometria;
    color: #fff;
    text-align: center; }
  .questions-description-block_top {
    margin-top: 60px; }

.questions-main-block {
  display: flex;
  justify-content: start;
  width: 100%; }
  .questions-main-block_top {
    margin-top: 68px; }

.questions-main-wrapper {
  width: 540px;
  height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.question-block {
  display: flex;
  align-items: center; }
  .question-block__round {
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 20px; }
  .question-block__round-num {
    font-size: 16px;
    font-family: Geometria;
    color: #fff;
    transform: translateX(15%);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .question-block__text-block {
    height: 30px;
    transform: translateY(7px); }
  .question-block__question {
    font-size: 16px;
    font-family: Geometria;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 1px solid #fff; }
