/* MEDIA */

@media screen and (max-width: 4000px) {
	.registration__panel {
		margin-right: 100px;
	}
}

@media screen and (max-width: 1650px) {
	.menu_link-button_lg {
		font-size: 25px !important;
	}

	.menu_button_lg {
		width: 70% !important;
		padding-bottom: 15px !important;
	}
}

@media screen and (max-width: 1366px) {
	.menu_link-button_md  {
		font-size: 20px !important;

	}

	.menu_button_md {
		position: relative;
		width: 60% !important;
		padding-bottom: 15px !important;
	}

	.menu_item_md {
		font-size: 18px;
	}

	.menu__box-3 {
		width: 15%;
	}

	.definition_md {
		margin-left: 30px !important;
	}

	.definition_description_md {
		margin-left: 20px;
	}

	.registration_panel_md {
		width: 490px;
	}

	.proposal_item_md {
		font-size: 20px !important;
		letter-spacing: 1px !important;
		line-height: 20px;
	}



	.proposal_block-points_md {
		display: none;
	}

	.proposal_number_md {
		left: 0 !important;
		margin-bottom: 0 !important;
		text-align: center;
	}


}

@media screen and (max-width: 1100px) {
	.menu_link-button_md  {
		font-size: 20px !important;

	}

	.menu_button_md {
		position: relative;
		width: 70% !important;
		padding-bottom: 15px !important;
	}

	.menu_item_md {
		font-size: 13px;
	}

	.menu__box-3 {
		width: 15%;
	}

	.definition_md {
		margin-left: 30px !important;
	}

	.definition_description_md {
		margin-left: 20px;
	}

	.registration_panel_md {
		width: 390px;
		height: 500px;
	}

	.menu__share {
		margin-top: 10px;
		font-size: 20px;
	}

	.definition_title_md {
		font-size: 50px !important;
		letter-spacing: 1px;
	}

	.definition_major_md {
		font-size: 40px !important;
		letter-spacing: 1px;
	}

	.definition_bonus_md {
		font-size: 50px !important;
		letter-spacing: 1px;
	}

	.definition_poscript_md {
		font-size: 20px !important;
	}

	.registration_input_md::placeholder{
		font-size: 20px !important;
		letter-spacing: 1px !important;
	}

	.registration_button_md {
		padding: 15px 15px !important;
		margin-bottom: 5px;	
	}

	.registration_link_md {
		font-size: 13px !important;
	}


	.proposal_number_md {
		display: none;
	}

	.proposal__numbers {
		display: none;
	}

		
	.registration__panel {
		display: none;
	}

	.registration__xs-btn {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.registration__xs-btn-yellow {
		display: flex;
		justify-content: flex-start;
	}
}				

@media screen and (min-width: 1024px) {
	.menu__box-1 {
		visibility: hidden;
	}
}

@media screen and (max-width: 1024px) {
	.menu__box-1 {
		position: absolute;
		right: 75%;
		top: 3%;
	}

	.menu__box-2 {
		display: none;
	}

	.menu__box-3 {
		display: none;
	}

	.menu__box-4 {
		display: none;
	}

	.menu__box-5 {
		display: none;
	}

	.definition_md {
		width: 80% !important;
	}
}

@media screen and (max-width: 800px) {
	.menu__box-1 {
		left: 20%;
	}

	.proposal {
		width: 100% !important;
		justify-content: center;
	}

	.benefits_sm {
		flex-direction: column;
		align-items: center;
	}

	.benefit_item_sm {
		font-size: 12px !important;
		margin-top: 0 !important;
	}

	.benefit_img_sm {
		width: 50%;
		height: 50%;
	}

	.benefit_block-img_sm  {
		margin: 0;
	}

	.benefit_sm {
		padding-top: 0 !important;	
	}

	.benefit_item_sm {
		line-height: 15px !important;
	}

	.offers_sm {
		margin-top: 400px;
	}

	.proposal_round_sm {
		right: 0 !important;
		margin-top: 20px;
		height: 200px !important;
		width: 200px !important;
	}

	.proposal__numbers {
		display: none;
		margin: 0 !important;
		padding: 0 !important
	}
		

	.proposals_sm {
		margin-right: 0;
		flex-direction: column;
		align-items: center;
	}

	.definition_title_sm {
		font-size: 35px !important;
		letter-spacing: 1px;
	}

	.definition_major_sm {
		font-size: 25px !important;
		letter-spacing: 1px;
	}

	.definition_bonus_sm {
		font-size: 35px !important;
		letter-spacing: 1px;
	}

	.definition_poscript_sm {
		font-size: 20px !important;
	}

	.gr_block_sm {
		height: 400px !important;
		width: 12px !important;
	}

	.proposal_img_sm {
		width: 30%;
		height: 60%;
	}
}

@media screen and (max-width: 600px) {

	.headline_item_sm {
		font-size: 30px !important;
	}

	.green-line_sm {
		height: 10px !important;
		width: 200px !important;
	}

	.definition_title_sm {
		font-size: 40px !important;
		letter-spacing: 0px;
		margin-right: 0 !important;
	}

	.definition_major_sm {
		font-size: 25px !important;
		letter-spacing: 0px;
	}

	.definition_bonus_sm {
		font-size: 20px !important !important;
		letter-spacing: 0px;
	}

	.definition_poscript_sm {
		font-size: 15px !important;
		line-height: 15px !important;
	}

	.menu__box-1 {
		left: 35%;
	}

	.proposal_img_sm {
		margin-top: 20px;
		width: 30%;
		height: 80%;
	}

	.proposal_round_sm {
		height: 150px !important;
		width: 150px !important;
	}

	.proposal_item_sm {
		font-size: 10px !important;
	}

	.definition_button_sm {
		width: 100% !important ;
	}

}

@media screen and (max-width: 420px) {
	.menu__box-1 {
		left: 43%;
	}

	.registration__xs-btn {
		height: 30px !important;
		width: 30px !important;
	}

	.registration__xs-btn-yellow {
		height: 30px !important;
		width: 10px !important;
	}
}

@media screen and (max-width: 320px) {
	.menu__box-1 {
		left: 48%;
	}

}









/* MEDIA */