/* FONTS */
@font-face {
  font-family: "ProximaNovaBlack";
  src: url("../fonts/ProximaNovaBlack.otf") format("truetype"); }

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNovaBold.otf") format("truetype"); }

@font-face {
  font-family: "ProximaNovaSemibold";
  src: url("../fonts/ProximaNovaSemibold.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNovaRegular.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNovaEbold";
  src: url("../fonts/ProximaNovaExtrabold.otf") format("truetype"); }

/* FONTS */
/* ======================= */
/* ======================= */
body {
  margin: 0; }

/* HEADER */
.header_top {
  margin-top: 30px;
  width: 100%; }

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu__box-1 {
  width: 12%; }

.header__box-1 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu__box-2 {
  width: 30%; }

.header__box-2 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu__box-3 {
  width: 10%; }

.header__box-3 {
  margin: 0 auto;
  margin-right: 25px;
  margin-left: 25px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.menu__box-4 {
  width: 13%; }

.header__box-4 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.menu__box-5 {
  width: 25%; }

.header__box-5 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: 2%; }

.header__icon {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }

.menu_icon_right {
  margin-right: 20px; }

.icon_top {
  top: 45%; }

.icon, .icon::before, .icon::after {
  position: relative;
  right: 20%;
  width: 65px;
  height: 6px;
  background-color: #62b61f;
  text-align: center; }

.icon::before, .icon::after {
  height: 6px;
  width: 90px;
  background-color: #0e769c;
  content: '';
  display: block; }

.icon::before {
  -webkit-transform: translateY(-23px);
  -ms-transform: translateY(-23px);
  transform: translateY(-23px); }

.icon::after {
  -webkit-transform: translateY(15px);
  -ms-transform: translateY(15px);
  transform: translateY(15px); }

.header__items {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu__item {
  text-transform: uppercase;
  width: auto;
  text-transform: uppercase;
  font-size: 23px;
  color: black;
  font-family: ProximaNovaRegular;
  font-weight: bolder;
  letter-spacing: 2px; }
  .menu__item .menu__link {
    text-decoration: none;
    color: black; }

.menu__share {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 27px;
  padding-bottom: 12px;
  color: #1591bf; }

.menu__button {
  width: 100%;
  background-color: lime;
  border: none;
  border-radius: 40px;
  width: 80%; }
  .menu__button .menu__link-button {
    text-decoration: none;
    font-size: 30px;
    font-family: ProximaNovaBold;
    color: white; }

.header__button {
  margin-left: 30px;
  padding-top: 18px;
  padding-bottom: 24px; }

.main {
  background-image: url("../img/main.png");
  width: 100%;
  height: 965px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center; }

.main_center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.definition {
  width: 50%;
  margin-left: 140px; }

.main__definition {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.green-block {
  width: 5%; }

.definition__green-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.definition__description {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.gr-block {
  height: 520px;
  width: 20px;
  background: #24a71d; }

.definition__gr-block {
  margin-bottom: 100px; }

.definition__description {
  margin-top: 50px; }
  .definition__description .definition__title {
    padding: 0;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 70px;
    font-family: ProximaNovaBlack;
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px; }
  .definition__description .definition__major {
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 60px;
    font-family: ProximaNovaSemibold;
    color: white;
    letter-spacing: 5px; }
  .definition__description .definition__bonus {
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 60px;
    font-family: ProximaNovaEbold;
    color: #24a71d;
    letter-spacing: 5px; }
  .definition__description .definition__poscript {
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-family: ProximaNovaEbold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
    line-height: 30px; }
  .definition__description .definition__button {
    line-height: 1.2;
    margin-top: 60px;
    margin-bottom: 0;
    background: #2eafdf;
    width: 50%;
    border-radius: 80px;
    padding: 25px 0;
    border: none; }
    .definition__description .definition__button .definition__link {
      text-decoration: none;
      font-size: 24px;
      font-family: ProximaNovaBold;
      color: white;
      letter-spacing: 3px; }

.main__registration {
  width: 50%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.registration__xs-btn {
  display: none;
  width: 50px;
  height: 50px;
  background-color: rgba(26, 26, 26, 0.7); }

.registration__xs-btn-yellow {
  display: none;
  width: 10px;
  height: 50px;
  background-color: orange; }

.registration__panel {
  background-color: #2eafdf;
  height: 700px;
  width: 590px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.registration__main-panel {
  margin-bottom: 80px; }
  .registration__main-panel .registration__form {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 500px; }
    .registration__main-panel .registration__form .registration__input {
      padding: 20px 130px 20px 50px;
      border-radius: 80px;
      border: none;
      font-size: 30px;
      font-family: ProximaNovaBold;
      color: #737272;
      letter-spacing: 3px; }
      .registration__main-panel .registration__form .registration__input:focus {
        outline: none; }
      .registration__main-panel .registration__form .registration__input::-webkit-input-placeholder {
        font-size: 30px;
        font-family: ProximaNovaBold;
        color: #737272;
        letter-spacing: 3px; }
      .registration__main-panel .registration__form .registration__input:-ms-input-placeholder {
        font-size: 30px;
        font-family: ProximaNovaBold;
        color: #737272;
        letter-spacing: 3px; }
      .registration__main-panel .registration__form .registration__input::-ms-input-placeholder {
        font-size: 30px;
        font-family: ProximaNovaBold;
        color: #737272;
        letter-spacing: 3px; }
      .registration__main-panel .registration__form .registration__input::placeholder {
        font-size: 30px;
        font-family: ProximaNovaBold;
        color: #737272;
        letter-spacing: 3px; }
  .registration__main-panel .registration__button {
    background: #2cbb25;
    width: 60%;
    border-radius: 80px;
    padding: 25px 0;
    border: none; }
    .registration__main-panel .registration__button .registration__link {
      text-decoration: none;
      font-size: 24px;
      font-family: ProximaNovaBold;
      color: white;
      letter-spacing: 3px; }

.menu-item {
  text-transform: uppercase; }

.collaps-text {
  position: relative;
  -webkit-transform: translateY(10%);
  -ms-transform: translateY(10%);
  transform: translateY(10%);
  left: 10%; }
  .collaps-text h3 {
    color: #616161;
    font-family: ProximaNovaBold; }

.advantages {
  height: 700px; }

.advantages__headline {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px; }
  .advantages__headline .headline__item {
    position: relative;
    font-size: 60px;
    font-family: ProximaNovaBold;
    z-index: 2; }
  .advantages__headline .headline__green-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 42%;
    right: 18%;
    z-index: 1;
    position: relative;
    height: 20px;
    width: 395px;
    background-color: #87d04c; }

.benefits {
  width: 100%; }

.advantages__benefits {
  margin-bottom: 100px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.benefit {
  width: calc(100%/3); }

.advantages__benefit {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.benefit__block-img {
  height: 180px;
  width: 280px; }

.advantages__benefit__block-img {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 80px;
  margin-bottom: 20px; }

.benefit__img {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.benefit__items {
  text-align: center; }
  .benefit__items .benefit__item {
    font-size: 30px;
    font-family: ProximaNovaBold;
    line-height: 35px;
    letter-spacing: 1px; }

.offers {
  height: 760px; }

.offers__proposals {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.proposal {
  width: calc(100%/3); }

.offers__proposal {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.proposal__numbers {
  position: relative;
  z-index: 1;
  left: 11%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 148.36px; }
  .proposal__numbers .proposal__number {
    font-size: 242px;
    font-family: ProximaNovaBlack;
    color: #a2ee64; }

.proposal_numbers_left {
  left: 13%;
  bottom: 30%; }

.proposal__round {
  position: relative;
  z-index: 2;
  height: 340px;
  width: 340px;
  border-radius: 50%;
  background-color: #60bee1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.proposal_round_bottom {
  -webkit-transform: translateY(30%);
  -ms-transform: translateY(30%);
  transform: translateY(30%); }

.proposal__block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 180px;
  height: 90px; }

.proposal__item {
  font-size: 30px;
  font-family: ProximaNovaEbold;
  color: white;
  letter-spacing: 3px;
  line-height: 35px; }

.proposal_items_bottom {
  margin-top: 20px; }

.proposal__items {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.proposal_points_center {
  top: 40%;
  left: 78%;
  position: absolute; }
