.about {
  padding-bottom: 119px;
  width: 100%;
  background-color: #fff;
}

.about-block {
  display: flex;
  justify-content: center;

  &__photo {
    width: 371px;
    height: 545px;
    margin-left: 33px;
    box-shadow: 18px 18px 15px rgba(0, 0, 0, 0.35);
    border-radius: 26px;
  }

  &__content-wrapper {
    width: 901px;
    display: flex;
  }

  &__text-wrapper {
    margin: 22px 0 0 81px;
  }

  &_top {
    margin-top: 70.38px;
  }

  &__title {
    @include fw($mont, 55px, black, 400);
    letter-spacing: 0.045em;
    margin-bottom: 18px;
  }

  &__description {
    @include f($mont, 18px, black, 400, 134%);
    margin-bottom: 15px;
    max-width: 448px;
    letter-spacing: 0.05em;
  }

  &__benefit {
    display: flex;
    align-items: center;
    background-color: $brown;
    width: 450px;
    height: 34px;
    border-radius: 46px;
    margin-bottom: 20px;

    &-round {
      width: 24px;
      height: 24px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      @include flex-center();
      margin-left: 5px;
    }

    &-number {
      @include fw($mont, 16px, $brown, 500);
      transform: translateY(1px);
    }

    &-text {
      @include fw($mont, 14px, white, 300);
      letter-spacing: 0.09em;
      margin-left: 13px;
    }

    &:nth-of-type(3) {
      margin-bottom: 23px;
    }
  }

  &_btn {
    width: 289px;
    height: 64px;
    border: 3px solid #000000;
    @include fw($mont, 20px, black, 500);
    letter-spacing: 0.05em;
    margin-top: 20px;
    transition: 0.3s;

    &:hover {
      color: rgb(70, 70, 70);
      border-color: rgb(70, 70, 70);
    }
  }
}
