@media screen and ( max-width: 1800px )
    .company
        width: 100%
    .companies-wrapper
        &__content
            grid-template-columns: repeat(5,256px)
@media screen and ( max-width: 1600px )
    .solutions
        &__cards-wrapper
            grid-template-columns: repeat(3,302px)
            grid-template-rows: repeat(2,375px)
    .solution-card
        &__title
            font-size: 22px
        &__description
            font-size: 16px
    .solution-description
        width: 360px
        &__description
            font-size: 18px
        &__title
            font-size: 35px
            padding-bottom: 40px
    .companies-wrapper
        padding: 80px 0
        &__content
            grid-template-columns: repeat(5,240px)
            padding: 8px 80px
    .trust
        &__company
            &:nth-child(9)
                height: 95px
                width: 67%
@media screen and ( max-width: 1440px )
    .container
        max-width: 1280px
    .solutions
        &__cards-wrapper
            grid-template-columns: repeat(3, 276px)
            grid-template-rows: repeat(2, 345px)
            grid-column-gap: 10px
            grid-row-gap: 19px
        &__purple-circle
            right: -533px
            bottom: -533px
        &__donut
            bottom: -379px
            right: 0px
        &__dot-circle
            width: 189px
            height: 355px
            bottom: -145px
    .solution-card
        padding: 19px
        &__title
            font-size: 24px
        &__description
            font-size: 18px
    .reason-card
        &__description
            max-width: 313px
    .feedback
        &__purple-donut
            width: 559px
            height: 677px
            bottom: 97px
            left: -15px
        &__purple-circle
            bottom: 67px
            left: -165px
            width: 708px
            height: 708px
        &__decorative-line
            width: 1440px
            bottom: -8px
            left: 8px
    .footer
        &__figures
            bottom: -8px
            right: -115px
@media screen and ( max-width: 1400px )
    .companies-wrapper
        &__content
            grid-template-columns: repeat(5,220px)
@media screen and ( max-width: 1300px )
    .solutions
        &__cards-wrapper
            grid-template-columns: repeat(3, 226px)
            grid-template-rows: repeat(2, 305px)
    .solution-card
        &__title
            font-size: 17px
            margin-bottom: 10px
        &__description
            font-size: 15px
    .solution-description
        height: 490px
        width: 320px
        &__description
            font-size: 16px
    .free-access
        padding: 35px 50px 48px
        &__title
            font-size: 41px
            line-height: 50px
            max-width: 710px
        &__description
            font-size: 23px
            padding-bottom: 55px
        &__button
            font-size: 22px
        &__phone-img
            width: 300px
            height: 430px
    .reasons
        &__cards-wrapper
            grid-template-columns: repeat(3,380px)
    .reason-card
        &__text-wrapper
            width: 347px
            min-height: 318px
            padding-left: 25px
        &__strong
            padding-top: 20px
        &__title
            font-size: 28px
            line-height: 35px
        &__purple-circle
            width: 292px
            height: 293px
        &__circles
            bottom: -135px
            right: -136px
        &__description
            font-size: 21px
            line-height: 26px
    .companies-wrapper
        &__content
            grid-template-columns: repeat(5,200px)
@media screen and ( max-width: 1200px )
    .header-menu
        &__link
            font-size: 16px
        &__item
            margin-right: 10px
    .demo-button
        font-size: 16px
    .action-card
        width: 320px
        height: 205px
        &__title
            font-size: 21px
            max-width: 225px
        &__description
            font-size: 14px
            max-width: 215px
        &__button
            padding: 12px 0
            font-size: 17px
    .hero
        padding: 0 0 115px
        &__title
            font-size: 58px
            max-width: 495px
            line-height: 70px
        &__description
            font-size: 25px
        &__button
            font-size: 20px
    .about
        &__title
            font-size: 40px
            padding-bottom: 30px
        &__description
            font-size: 24px
            line-height: 36px
            max-width: 627px
    .solutions
        &__cards-wrapper
            grid-template-columns: repeat(3,200px)
            grid-template-rows: repeat(2,280px)
        &__purple-circle
            width: 900px
            height: 900px
        &__donut
            width: 300px
            height: 496px
            bottom: -232px
            right: -33px
        &__gray-circle
            width: 481px
            height: 481px
            top: 250px
        &__free-access
            margin-top: 200px
    .solution-card
        padding: 20px
        &__description
            font-size: 13px
        &__title
            font-size: 14px
        &__circle
            bottom: -60px
            right: -60px
            width: 120px
            height: 120px
    .free-access
        padding: 20px 35px 40px
        &__title
            font-size: 30px
            line-height: 40px
            max-width: 516px
        &__phone-img
            width: 260px
            height: 365px
        &__button
            font-size: 17px
        &__description
            font-size: 20px
            padding-bottom: 40px
    .reasons
        &__cards-wrapper
            grid-template-columns: repeat(3,300px)
    .reason-card
        &__text-wrapper
            width: 275px
        &__title
            font-size: 24px
            line-height: 32px
        &__purple-circle
            width: 250px
            height: 250px
        &__circles
            bottom: -159px
            right: -159px
    .companies-wrapper
        &__content
            grid-template-columns: repeat(5,180px)
    .feedback-form
        max-width: 435px
        &__title
            font-size: 40px
        &__description
            font-size: 25px
            padding-bottom: 30px
            line-height: 33px
        &__button
            padding: 14px 70px
    .feedback
        &__purple-donut
            width: 498px
            height: 603px
        &__decorative-line
            width: 1208px
            bottom: -10px
        &__cube
            width: 270px
        &__purple-circle
            width: 650px
            height: 650px
@media screen and ( max-width: 1100px )
    .solutions
        &__cards-wrapper
            grid-template-columns: repeat(3,180px)
            grid-template-rows: repeat(2,260px)
    .solution-card
        padding: 11px
        &__title
            font-size: 14px
    .solution-description
        width: 280px
        &__description
            font-size: 15px
    .companies-wrapper
        &__content
            grid-template-columns: repeat(5,160px)
@media screen and ( max-width: 992px )
    .header-menu
        &__link
            font-size: 14px
    .header
        &__menu
            margin-left: 30px
    .logo
        width: 100px
        height: 22px
    .demo-button
        font-size: 15px
        padding: 7px 20px
    .hero
        padding: 0 0 90px
        &__title
            font-size: 53px
            max-width: 475px
            line-height: 65px
        &__description
            margin-bottom: 40px
            font-size: 21px
        &__text-wrapper
            margin-top: 65px
        &__action-card
            margin-top: 130px
        &__ellipses-group
            bottom: -265px
            height: 516px
            width: 516px
        &__to-bottom-btn
            bottom: 17px
    .action-card
        width: 260px
        height: 175px
        &__title
            font-size: 18px
            line-height: 22px
        &__description
            font-size: 13px
            max-width: 188px
        &__button
            padding: 9px 0
            font-size: 14px
        &__icon
            width: 57px
            height: 57px
    .to-bottom-btn
        &__icon
            height: 14px
    .about
        &__ellipses-group
            top: -252px
            width: 516px
            height: 516px
        &__title
            font-size: 32px
            padding-bottom: 20px
    .solutions
        &__cards-wrapper
            grid-template-columns: repeat(2,220px)
            grid-column-gap: 22px
            grid-template-rows: repeat(3,260px)
            margin-left: auto
    .reasons
        position: relative
        &__cards-wrapper
            grid-template-columns: repeat(2,45%)
        &__gradient-circle
            width: 300px
            height: 300px
            background: linear-gradient(315deg, #FF537C 0%, rgba(255, 255, 255, 0) 100%), #F2F2F2
            border-radius: 50%
            position: absolute
            top: 50%
            transform: translateY(-110%)
            right: -130px
        &__gray-circle
            width: 350px
            height: 350px
            background: linear-gradient(315deg, #D4D4D4 0%, rgba(255, 255, 255, 0) 100%), #F2F2F2
            border-radius: 50%
            position: absolute
            top: 50%
            transform: translateY(10%)
            left: -160px
    .reason-card
        display: flex
        justify-content: center
        height: 330px
        &__text-wrapper
            width: 100%
            padding-right: 10px
        &:nth-child(3n)
            grid-column-start: 1
            grid-column-end: 3
        &:nth-child(3n) > &__text-wrapper
            width: 45%
        &__purple-circle, &__circles
            display: none
        &__title
            font-size: 31px
            line-height: 37px
        &__description
            font-size: 23px
            line-height: 30px
    .companies-wrapper
        &__content
            grid-template-columns: repeat(3,230px)
    .trust
        &__title
            transform: translateX(0px)
    .feedback
        &__purple-donut
            width: 395px
            height: 474px
            bottom: 127px
        &__purple-circle
            width: 590px
            height: 590px
        &__decorative-line
            display: none
    .feedback-form
        max-width: 395px
        padding: 30px 40px 40px
        &__title
            font-size: 35px
        &__description
            font-size: 22px
            padding-bottom: 17px
            line-height: 30px
    .footer
        &__figures
            width: 500px
@media screen and ( max-width: 900px )
    .free-access
        &__title
            font-size: 28px
            line-height: 35px
            max-width: 400px
            padding-bottom: 10px
        &__description
            font-size: 16px
        &__button
            font-size: 15px
        &__phone-img
            width: 235px
            height: 327px
            right: 20px
    .companies-wrapper
        &__content
            grid-template-columns: repeat(3,200px)
@media screen and ( max-width: 860px )
    .solutions
        &__cards-wrapper
            grid-template-columns: repeat(2,189px)
    .solution-description
        padding: 35px 16px 70px
        &__description
            line-height: 25px
            font-size: 14px
@media screen and ( max-width: 800px )
    .header-menu
        &__link
            font-size: 12px
        &__item
            margin-right: 5px
    .header
        &__menu
            margin-left: 20px
    .hero
        &__title
            font-size: 50px
            max-width: 420px
            line-height: 60px
        &__button
            font-size: 16px
        &__description
            margin-bottom: 35px
            padding-top: 15px
    .companies-wrapper
        &__content
            grid-template-columns: repeat(3,180px)
@media screen and ( max-width: 768px )
    .mobile-menu
        display: flex
        justify-content: center
        position: fixed
        left: 50%
        top: 50%
        transition: 0.4s
        width: 100%
        height: 100vh
        z-index: 5
        transform: translate(-50%, 150%)
        align-items: center
        background-color: rgba(0, 0, 0, 0.95)
        &__item
            padding-bottom: 30px
            text-align: center
        &__link
            font-size: 16px
            color: white
        &__list
            overflow-y: auto
    .header-menu
        display: none
    .header
        &__demo-button
            margin-left: 30px
        &__burger-button
            margin-left: auto
    .burger-button
        display: flex
        z-index: 10
        &--active
            position: fixed
    .hero
        &__content-wrapper
            flex-direction: column
        &__action-card
            margin-top: 70px
            transform: translateX(0px)
        &__text-wrapper
            margin-top: 40px
    .about
        padding: 31px 0 65px
        &__description
            font-size: 16px
            line-height: 31px
            max-width: 440px
    .solution-card
        &__title
            font-size: 12px
            margin-bottom: 7px
        &__description
            font-size: 12px
    .solutions__cards-wrapper
        grid-template-columns: repeat(2,175px)
    .solution-description
        height: 420px
        &__description
            line-height: 24px
            font-size: 13px
        &__title
            font-size: 30px
    .free-access
        padding: 0
        &__text-wrapper
            background: white
            z-index: 3
            position: relative
            padding: 20px 35px 40px
            border-radius: 10px
        &__phone-img
            z-index: 2
            bottom: 40px
        &__title
            font-size: 31px
            line-height: 41px
            max-width: 480px
        &__description
            font-size: 18px
        &__dot-circle
            width: 180px
            height: 360px
    .solutions
        &__dot-circle
            bottom: -150px
            left: -25px
        &__purple-circle
            width: 800px
            height: 800px
        &__donut
            width: 255px
            height: 430px
            bottom: -246px
            right: -67px
    .reasons
        padding-bottom: 65px
    .reason-card
        height: 290px
        &__description
            font-size: 18px
            line-height: 27px
        &__text-wrapper
            min-height: 290px
            padding-left: 15px
        &__title
            font-size: 26px
            line-height: 33px
        &__strong
            padding-top: 10px
    .companies-wrapper
        background-image: none
        padding: 0
        &__content
            grid-template-columns: repeat(2,245px)
            grid-row-gap: 15px
    .feedback-form
        max-width: 370px
        padding: 30px 29px 40px
        &__title
            font-size: 30px
        &__description
            padding-top: 5px
            font-size: 20px
            padding-bottom: 14px
            line-height: 26px
        &__input
            height: 52px
            font-size: 21px
            line-height: 29px
            margin-bottom: 20px
            padding: 0 22px
    .feedback
        &__purple-donut
            width: 330px
            height: 405px
        &__purple-circle
            width: 490px
            height: 490px
        &__cube
            width: 240px
    .footer
        &__title
            font-size: 32px
            padding-bottom: 20px
            position: relative
            z-index: 2
        &__link
            font-size: 35px
            position: relative
            z-index: 2
            &--phone
                padding-bottom: 5px
        &__figures
            z-index: 1
@media screen and ( max-width: 700px )
    .solutions-wrapper
        align-items: center
        flex-direction: column
    .solutions
        &__cards-wrapper
            margin-left: 0
            grid-template-columns: repeat(2,48%)
            grid-template-rows: repeat(3, 260px)
            grid-column-gap: unset
            justify-content: space-between
        &__description
            transform: translateX(0)
    .solution-description
        width: 100%
        height: 345px
        &__description
            line-height: 27px
            font-size: 18px
    .solution-card
        &__title
            font-size: 17px
        &__description
            font-size: 14px
    .companies-wrapper
        &__content
            grid-template-columns: repeat(2,200px)
    .trust
        &__title
            font-size: 40px
@media screen and ( max-width: 576px )
    .solutions
        clip-path: ellipse(290% 130% at 50% -30%)
        &__dot-circle
            display: none
        &__donut
            bottom: 140px
            right: -67px
        &__purple-circle
            width: 500px
            height: 500px
            right: -250px
            bottom: 105px
        &__cards-wrapper
            padding-left: 0
    .reason-card
        &__title
            font-size: 22px
            line-height: 27px
        &__description
            font-size: 15px
            line-height: 25px
        &__strong
            font-size: 56px
    .trust
        &__title
            &-wrapper
                margin-bottom: 10px
    .companies-wrapper
        &__content
            padding: 8px 30px
            grid-template-columns: repeat(2,215px)

@media screen and ( max-width: 480px )
    .hero
        padding: 0 0 78px
        &__title
            font-size: 40px
            line-height: 49px
            max-width: 285px
        &__description
            font-size: 22px
            line-height: 27px
            margin-bottom: 45px
        &__button
            font-size: 24px
        &__action-card
            margin-top: 53px
    .action-card
        width: 100%
        height: 217px
        &__icon
            display: none
        &__title
            font-size: 22px
            line-height: 29px
            max-width: 345px
        &__description
            font-size: 16px
            max-width: 241px
        &__button
            padding: 17px 0
            font-size: 18px
    .demo-button
        font-size: 14px
        padding: 5px 20px
    .logo
        width: 109px
        height: 25px
    .header
        padding-top: 37px
    .about
        &__title
            font-size: 26px
            padding-bottom: 5px
        &__description
            font-size: 14px
            line-height: 25px
            max-width: 356px
    .solutions
        &__cards-wrapper
            grid-template-columns: repeat(1,90%)
            grid-template-rows: repeat(6,243px)
            justify-content: center
            padding-left: 0
        &__free-access
            margin-top: 234px
        &__purple-circle
            width: 380px
            height: 380px
            right: -190px
            bottom: 330px
        &__donut
            bottom: 350px
            right: -35px
            width: 193px
            height: 330px
    .solution-description
        height: unset
        &__description
            font-size: 18px
    .free-access
        &__phone-img
            transform: translateX(50%)
            right: 50%
            width: 280px
            height: 387px
            bottom: 87px
        &__title
            font-size: 30px
            line-height: 37px
            padding-bottom: 30px
        &__description
            font-size: 18px
            line-height: 22px
            padding-bottom: 50px
        &__text-wrapper
            padding: 25px 20px 40px
    .reason-card
        height: 242px
        display: block
        &:nth-child(3n)
            grid-column-start: 1
            grid-column-end: 2
        &:nth-child(3n) > &__text-wrapper
            max-width: 315px
            width: unset
        &__text-wrapper
            max-width: 315px
            min-height: 242px
            max-height: 242px
            padding-left: 20px
            padding-top: 30px
            padding-bottom: 40px
        &__description
            font-size: 18px
            line-height: 22px
        &:nth-child(2n) > &__text-wrapper
            margin-left: auto
        &__strong
            padding-top: 0px
    .reasons
        padding-bottom: 40px
        &__cards-wrapper
            grid-template-columns: repeat(1, 100%)
        &__gradient-circle
            top: 50%
            transform: translateY(-65%)
            right: -62px
            width: 219px
            height: 219px
        &__gray-circle
            width: 323px
            height: 323px
            transform: translateY(25%)
            left: -90px
        &__title
            font-size: 30px
            padding-left: 20px
        &__cards-wrapper
            margin-top: 30px
            grid-row-gap: 20px
    .companies-wrapper
        display: none
        &--mobile
            display: block
        &__content
            display: flex
            align-items: center
            padding: 0
    .company
        width: 240px
    .trust
        &__company
            &:nth-child(9)
                height: 111px
                width: 40%
        &__title
            font-weight: 600
            font-size: 30px
            line-height: 37px
            text-align: center
    .feedback
        &__form
            margin: 0 auto
            margin-top: 30px
        &__purple-circle
            width: 242px
            height: 299px
            left: -100px
        &__purple-donut
            width: 210px
            height: 256px
            bottom: 78px
        &__cube
            width: 210px
    .feedback-form
        max-width: 335px
        &__title
            font-size: 30px
            line-height: 37px
        &__description
            padding-top: 20px
            font-size: 18px
            line-height: 22px
        &__button
            font-size: 18px
            line-height: 22px
    .footer
        padding-bottom: 40px
        padding-bottom: 258px
        &__title
            font-size: 24px
            line-height: 29px
            padding-bottom: 30px
        &__link
            font-size: 36px
            line-height: 44px
            &--phone
                padding-bottom: 20px
        &__figures
            bottom: 0px
            right: 50%
            transform: translateX(50%)
@media screen and ( max-width: 380px )
    .footer
        &__link
            font-size: 30px
            line-height: 37px
@media screen and ( max-width: 350px )
    .feedback-form
        max-width: 290px
        padding: 30px 20px 40px
        &__title
            font-size: 27px
            line-height: 36px
