.button_effect {
  transition: 0.4s;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .button_effect::after {
    width: 0px;
    border-radius: 30px;
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    top: 0;
    background-color: #fff !important;
    height: 0px;
    transition: 0.4s; }
  .button_effect:hover {
    color: #19b5fe !important; }
  .button_effect:hover:after {
    width: 120%;
    height: 120%;
    transition: 0.4s; }

.navigation-block {
  width: 250px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  border-right: 6px solid #19b5fe;
  transition: 0.4s; }
  .navigation-block_toggle {
    transform: translate(-1000px, -50%) !important;
    transition: 0.4s; }
  .navigation-block_pos {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%); }
  .navigation-block__link {
    height: 23px;
    transition: 0.4s;
    width: auto;
    line-height: 1.3; }
    .navigation-block__link:hover {
      transition: 0.4s; }
      .navigation-block__link:hover:after {
        width: 100%; }
    .navigation-block__link:focus:after {
      width: 100%; }
    .navigation-block__link::after {
      display: block;
      content: "";
      background-color: #19b5fe;
      width: 0px;
      height: 6px;
      position: absolute;
      transition: width .3s ease-in-out;
      right: 0; }

.tabulation-block {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .tabulation-block__tabs-wrapper {
    height: 47px;
    border: 1px solid #19b5fe;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 824px; }
  .tabulation-block__tab {
    position: relative;
    width: 25%;
    height: 39px;
    border-right: 1px solid #19b5fe;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer; }
    .tabulation-block__tab-text {
      font-family: Roboto;
      font-size: 13px;
      color: #19b5fe;
      font-weight: 300; }
    .tabulation-block__tab:last-child {
      border: none; }
  .tabulation-block_tab_active {
    height: 53px;
    border-radius: 8px;
    background-color: #19b5fe;
    color: white;
    border: none;
    border: 1px solid #19b5fe;
    transition: 0.2s; }
  .tabulation-block_tab_active .tabulation-block__tab-text {
    color: white; }
  .tabulation-block_tab_active .tabulation-block__tab {
    border: none; }
  .tabulation-block__projects-wrapper {
    width: 1140px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 23px; }
  .tabulation-block__project {
    display: flex;
    flex-basis: 31%;
    margin-bottom: 30px;
    transition: 0.4s;
    cursor: pointer; }
    .tabulation-block__project:hover {
      opacity: 0.3;
      transition: 0.4s; }
  .tabulation-block_projects_active {
    display: flex; }

.advantages-block {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap; }
  .advantages-block__advantage {
    width: 329px;
    flex-basis: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px; }
  .advantages-block__img-wrapper {
    height: 78px;
    width: 124px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid #19b5fe;
    margin-bottom: 23px; }
  .advantages-block__text {
    font-family: Roboto;
    font-size: 14px;
    color: #3f3f3f;
    line-height: 20px;
    font-weight: 400;
    width: 258px; }

.process-list-block {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .process-list-block__item {
    width: 1140px;
    display: flex;
    justify-content: center;
    height: 260px; }
    .process-list-block__item:nth-child(2n) {
      flex-direction: row-reverse; }
  .process-list-block__img, .process-list-block__text-wrapper {
    width: 50%;
    height: inherit; }
  .process-list-block__text-wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; }
  .process-list-block__text {
    font-family: Roboto;
    font-size: 30px;
    color: #464646;
    font-weight: 300; }

.team-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .team-block__person {
    display: flex;
    align-items: center;
    flex-basis: 33%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    text-align: center; }
  .team-block__title {
    font-family: Roboto;
    font-size: 24px;
    color: #19b5fe;
    font-weight: 300;
    margin-top: 17px;
    line-height: 30px; }
  .team-block__description {
    font-family: Roboto;
    font-size: 16px;
    color: #464646;
    font-weight: 300;
    margin-top: 7px; }

.blog-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .blog-block__elem {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-basis: 34%;
    padding-bottom: 10px;
    margin-bottom: 30px; }
  .blog-block__link {
    text-decoration: none;
    max-width: 520px;
    margin-top: 31px; }
  .blog-block__text {
    font-family: Roboto;
    font-size: 18px;
    color: #19b5fe;
    line-height: 24px;
    font-weight: 300; }
    .blog-block__text:hover {
      border-bottom: 1px solid #19b5fe; }

.contacts-variants__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  border: 1px solid white;
  border-radius: 3px; }

.contacts-variants__elem {
  display: flex;
  align-items: center;
  margin-bottom: 15px; }

.contacts-variants__description {
  margin-top: 29px;
  font-family: Roboto;
  font-size: 16px;
  color: white;
  font-weight: 300; }

.contacts-variants__text {
  margin-left: 14px;
  font-family: Roboto;
  font-size: 18px;
  color: white;
  font-weight: 400; }

.contacts-variants_left {
  margin-left: 30px;
  margin-top: 3px; }

* {
  box-sizing: border-box; }

.wrapper {
  width: 100%;
  overflow: hidden; }

@keyframes scrollPulse {
  from {
    opacity: 1; }
  20% {
    opacity: 0.1; }
  40% { }
  60% { }
  70% { }
  80% { }
  90% { }
  to { } }

.main-and-header {
  width: 100%;
  height: 700px;
  background-image: url("../img/headerAndMain/bg.jpg");
  background-position: center center;
  background-size: 1920px 700px;
  background-repeat: no-repeat;
  z-index: -1; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .header_top {
    margin-top: 34px; }

.logo-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 158px;
  height: 60px; }
  .logo-block__logo {
    width: 60px;
    height: 60px;
    background-position: center center;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-image: url("../img/headerAndMain/logo.png"); }
    .logo-block__logo-text {
      font-family: Roboto;
      font-size: 28px;
      color: white;
      font-weight: 400; }

.phone-and-menu-block {
  width: 313px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  background-image: url("../img/headerAndMain/phone.svg");
  background-position: left center;
  background-size: 32px 42px;
  background-repeat: no-repeat; }
  .phone-and-menu-block__text, .phone-and-menu-block__phone {
    margin-left: 35px; }
  .phone-and-menu-block__text {
    font-family: Roboto;
    font-size: 12px;
    color: white;
    font-weight: 400; }
  .phone-and-menu-block__phone-link {
    font-family: Roboto;
    font-size: 21px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    transition: 0.1s; }
    .phone-and-menu-block__phone-link:hover {
      color: lemonchiffon;
      transition: 0.1s; }
  .phone-and-menu-block__phone-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35px; }
  .phone-and-menu-block__menu-btn-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 45px;
    cursor: pointer;
    transition: 0.4s; }
  .phone-and-menu-block__menu-btn-wrapper:hover .phone-and-menu-block__elem {
    background-color: #feffda;
    transition: 0.4s; }
  .phone-and-menu-block__elem {
    width: 45px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #fff; }
    .phone-and-menu-block__elems-wrapper {
      height: 25px; }
  .phone-and-menu-block_elem_1_active {
    transform: rotate(45deg); }
  .phone-and-menu-block_elem_2_active {
    display: none; }
  .phone-and-menu-block_elem_3_active {
    transform: translateY(-7px) rotate(-45deg); }
  .phone-and-menu-block__menu-text {
    font-family: Roboto;
    font-size: 12px;
    color: white;
    font-weight: 400;
    margin-top: 5px; }

.main-information {
  position: relative;
  z-index: 1; }

.main-title-block {
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: center;
  text-align: center; }
  .main-title-block__title {
    font-family: Roboto;
    font-size: 48px;
    color: white;
    line-height: 44px;
    font-weight: 700; }
    .main-title-block__title-min {
      font-size: 36px; }
  .main-title-block_top {
    margin-top: 73px; }

.main-description-block {
  width: 100%;
  display: flex;
  justify-content: center; }
  .main-description-block__description {
    font-family: Roboto;
    font-size: 22px;
    color: white;
    font-weight: 100; }
    .main-description-block__description-small {
      vertical-align: super;
      font-size: 15px; }
  .main-description-block_top {
    margin-top: 37px; }

.main-feedback-block {
  width: 954px;
  height: 78px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  position: relative;
  display: flex;
  background-image: url("../img/headerAndMain/bgform.png");
  background-position: center center;
  background-size: 954px 78px;
  background-repeat: no-repeat;
  align-items: center;
  flex-direction: column; }
  .main-feedback-block__inputs-wrapper {
    width: 888px;
    display: flex;
    justify-content: space-between;
    transform: translateY(-26px);
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2; }
  .main-feedback-block_center {
    margin: 0 auto; }
  .main-feedback-block_top {
    margin-top: 70px; }

.btn-block_header {
  transform: translateY(-5px); }

.main-garanty-block {
  display: flex;
  justify-content: center; }
  .main-garanty-block_top {
    margin-top: 52px; }
  .main-garanty-block__garanty {
    font-family: Roboto;
    font-size: 14px;
    color: white;
    font-weight: 100;
    letter-spacing: 1.4px; }

.scroll-button-block {
  display: flex;
  justify-content: center; }
  .scroll-button-block__button {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30px;
    cursor: pointer;
    height: 60px;
    justify-content: space-between;
    transition: 0.3s; }
    .scroll-button-block__button:hover {
      transform: scale(1.1);
      transition: 0.3s; }
  .scroll-button-block_top {
    margin-top: 76px; }
  .scroll-button-block__mouse {
    width: 30px;
    height: 45px;
    background-image: url("../img/headerAndMain/mouse.svg");
    background-position: center center;
    background-size: 30px 45px;
    background-repeat: no-repeat; }
  .scroll-button-block__arrow {
    background-image: url("../img/headerAndMain/arrow.svg");
    background-position: center center;
    background-size: 30px 15px;
    background-repeat: no-repeat;
    width: 30px;
    height: 15px;
    animation: scrollPulse 1.2s infinite;
    animation-delay: 1.2s; }
    .scroll-button-block__arrow:nth-of-type(2) {
      animation-delay: 1s; }

.transfers {
  padding-bottom: 50px; }

.transfer-list-block__elem:nth-of-type(2n) {
  flex-direction: row-reverse; }

.calculator {
  width: 100%;
  height: 622px;
  overflow: hidden;
  background-image: url("../img/calculator/bg.jpg");
  background-position: center center;
  background-size: 1920px 622px;
  background-repeat: no-repeat; }
  .calculator-description-block {
    display: flex;
    justify-content: center; }
    .calculator-description-block__description {
      font-family: Roboto;
      font-size: 26px;
      color: white;
      font-weight: 300; }

.calculator-block {
  display: flex;
  justify-content: space-between; }
  .calculator-block__calculator-wrapper, .calculator-block__packets-list {
    width: 654px;
    height: 129px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 22px; }
  .calculator-block__calculator-wrapper {
    margin-bottom: 8px; }
  .calculator-block__calculator {
    width: 605px;
    height: 9px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative; }
    .calculator-block__calculator-title {
      font-family: Roboto;
      font-size: 20px;
      color: white;
      font-weight: 400; }
  .calculator-block_top {
    margin-top: 39px; }
  .calculator-block__checkbox-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center; }
    .calculator-block__checkbox-wrapper:first-child {
      align-items: flex-start; }
    .calculator-block__checkbox-wrapper:last-child {
      align-items: flex-end; }
  .calculator-block__checkbox {
    display: none; }
    .calculator-block__checkbox-label {
      font-family: Roboto;
      font-size: 16px;
      color: white;
      font-weight: 300;
      display: flex;
      height: 43px;
      align-items: center;
      transform: translateY(4px);
      justify-content: space-between;
      flex-direction: column-reverse; }
      .calculator-block__checkbox-label::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: white;
        border-radius: 50%;
        cursor: pointer; }
      .calculator-block__checkbox-label-up {
        vertical-align: super;
        font-size: 12px; }
    .calculator-block__checkbox:checked + .calculator-block__checkbox-label::before {
      content: '';
      background-color: #19b5fe;
      background-image: url("../img/calculator/symbol.svg");
      background-position: center center;
      background-size: 5px 5px;
      background-repeat: no-repeat; }
  .calculator-block_checkbox-label_first {
    align-items: flex-start;
    transform: translate(-2px, 4px); }
  .calculator-block_checkbox-label_last {
    align-items: flex-end;
    transform: translate(2px, 4px); }
  .calculator-block_checkbox-label-text_last {
    transform: translateX(3px); }
  .calculator-block__results-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center; }
  .calculator-block__results-title {
    font-family: Roboto;
    font-size: 16px;
    color: white;
    font-weight: 400;
    margin-bottom: 7px; }
    .calculator-block__results-title-up {
      vertical-align: super;
      font-size: 10px; }
  .calculator-block__results-description {
    font-family: Roboto;
    font-size: 32px;
    color: white;
    font-weight: 400;
    margin-bottom: 26px; }
    .calculator-block__results-description-up {
      vertical-align: super;
      font-size: 20px; }
  .calculator-block__results-phone {
    margin-top: 22px;
    font-family: Roboto;
    font-size: 14px;
    color: white;
    line-height: 24px;
    font-weight: 300; }
    .calculator-block__results-phone-link {
      font-family: Roboto;
      font-size: 18px;
      color: white;
      font-weight: 400;
      text-decoration: none;
      transition: 0.4s; }
      .calculator-block__results-phone-link:hover {
        color: lemonchiffon;
        transition: 0.2s;
        border-bottom: 1px solid lemonchiffon; }
  .calculator-block__button {
    width: 193px;
    height: 45px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 4px;
    transition: 0.2s;
    z-index: 0;
    cursor: pointer; }
    .calculator-block__button:hover .calculator-block__button-modal {
      display: flex; }
    .calculator-block__button-text {
      font-family: Roboto;
      font-size: 16px;
      color: white;
      font-weight: 400; }
    .calculator-block__buttons-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 19px; }
    .calculator-block__button-modal {
      width: 443px;
      height: 133px;
      position: absolute;
      background-image: url("../img/calculator/modal.png");
      background-position: center center;
      background-size: 443px 133px;
      background-repeat: no-repeat;
      display: none;
      justify-content: center;
      text-align: center;
      z-index: 2;
      top: 25px; }
      .calculator-block__button-modal-text {
        font-family: Roboto;
        font-size: 14px;
        color: #464646;
        font-weight: 400;
        line-height: 24px;
        margin-top: 40px; }
  .calculator-block__result-wrapper-sm {
    display: none; }
  .calculator-block_button-modal_active {
    display: flex; }
  .calculator-block_button_active {
    background-color: #19b5fe;
    border-color: #19b5fe;
    transition: 0.2s; }
  .calculator-block__result {
    font-family: Roboto;
    font-size: 21px;
    color: white;
    font-weight: 400;
    margin-top: 30px; }
    .calculator-block__result-price {
      font-weight: 300; }

.portfolio {
  padding-bottom: 30px; }

.advantages {
  background-color: #f5f9fa; }

.process {
  padding-bottom: 50px; }

.team {
  padding-bottom: 50px; }

.credit-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative; }
  .credit-block_top {
    margin-top: 50px; }
  .credit-block__title {
    font-family: Roboto;
    font-size: 30px;
    color: #464646;
    font-weight: 300; }
  .credit-block__credit {
    font-family: Roboto;
    font-size: 18px;
    color: #464646;
    line-height: 26px;
    font-weight: 300;
    max-width: 945px;
    margin-top: 15px; }
  .credit-block__name {
    font-family: Roboto;
    font-size: 18px;
    color: #464646;
    font-weight: 700;
    margin-top: 15px; }
  .credit-block__description {
    font-family: Roboto;
    font-size: 16px;
    color: #464646;
    font-weight: 300;
    margin-top: 10px; }
  .credit-block__quotes {
    background-image: url("../img/team/quotes.png");
    background-position: center center;
    background-size: 47px 37px;
    background-repeat: no-repeat;
    width: 47px;
    height: 37px;
    position: absolute; }
    .credit-block__quotes:nth-of-type(1) {
      left: 0;
      top: 0; }
    .credit-block__quotes:last-child {
      right: 0;
      bottom: 0;
      transform: scale(-1, 1); }

.blog {
  padding-bottom: 50px;
  background-color: #f2f8f9; }

.contacts {
  background-image: url("../img/contacts/bg.jpg");
  background-position: center center;
  background-size: 1920px 530px;
  background-repeat: no-repeat;
  width: 100%;
  height: 530px; }
  .contacts-description {
    font-family: Roboto;
    font-size: 26px;
    color: white;
    font-weight: 300;
    position: relative;
    line-height: 25px;
    text-align: center; }
  .contacts-wrapper {
    margin-top: 44px;
    display: flex; }

.contacts-feedback {
  width: 750px;
  height: 260px; }
  .contacts-feedback__small-field {
    width: 240px;
    height: 49px;
    border-radius: 7px;
    border: none;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-family: Roboto;
    font-size: 13px;
    color: #606060;
    font-weight: 300; }
    .contacts-feedback__small-field::placeholder {
      font-family: Roboto;
      font-size: 13px;
      color: #606060;
      font-weight: 300; }
    .contacts-feedback__small-field-wrapper {
      display: flex;
      justify-content: space-between; }
  .contacts-feedback__btn-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 17px; }
  .contacts-feedback__textarea {
    resize: none;
    width: 100%;
    height: 123px;
    border-radius: 7px;
    padding-left: 15px;
    padding-top: 20px;
    margin-top: 13px; }
    .contacts-feedback__textarea::placeholder {
      font-family: Roboto;
      font-size: 13px;
      color: #606060;
      font-weight: 300; }

.footer {
  height: 128px;
  background-color: #24241f; }

.footer-menu-block {
  display: flex;
  justify-content: space-between; }
  .footer-menu-block_top {
    margin-top: 41px; }
  .footer-menu-block__elem {
    font-family: Roboto;
    font-size: 14px;
    color: white;
    font-weight: 300;
    text-decoration: none;
    transition: 0.3s; }
    .footer-menu-block__elem:hover {
      color: #fff7ae;
      transition: 0.3s; }
    .footer-menu-block__elems-wrapper {
      width: 491px;
      height: 41px;
      display: flex;
      justify-content: space-between; }
    .footer-menu-block__elems-group {
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }

.social-links-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 51px; }
  .social-links-wrapper__text {
    font-family: Roboto;
    font-size: 14px;
    color: white;
    font-weight: 300; }
  .social-links-wrapper__img {
    border: 1px solid white;
    border-radius: 7px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 31px;
    height: 31px; }
  .social-links-wrapper_img_1 {
    background-size: 25px 19px;
    background-image: url("../img/footer/1.svg"); }
  .social-links-wrapper_img_2 {
    background-size: 17px 17px;
    background-image: url("../img/footer/2.svg"); }
  .social-links-wrapper_img_3 {
    background-size: 18px 18px;
    background-image: url("../img/footer/3.svg"); }
  .social-links-wrapper__links-wrapper {
    display: flex; }
  .social-links-wrapper__link {
    margin-right: 6px; }
