@media (max-width: 1700px) {
	.headline_extra {
		font-size: 45px;
	}

	.headline {
		font-size: 45px;
	}

	.extra-bl {
		width: 820px;
	}

	.headline_block {
		justify-content: flex-end;
	}

	.main-text-block {
		position: relative;
		left: 280px;
	}
}


@media (max-width: 1520px) {
	.advantages {
		left: 0px;
	}
}


@media (max-width: 1420px) {
	.advantages {
		left: -40px;
	}
}

@media (max-width: 1370px) {
	.advantage {
		width: 150px;
	}

	.advantages {
		width: 1170px;
	}

	.text {
		font-size: 13px;
	}

	.extra-bl {
    	width: 730px;
	}

	.headline_extra {
		font-size: 40px;
	}

	.headline {
		font-size: 40px;
	}

	.main-text-block {
		position: relative;
		left: 370px;
	}
}

@media (max-width: 1190px) {
	.text {
		font-size: 15px;
	}


	.headline_extra {
		font-size: 37px;
	}

	.description {
		font-size: 20px;
	}

	.advantage2 {
    	width: 400px;
	}

	.headline {
		font-size: 37px;
	}

	.text-block-2 {
		left: 0;
	}

	.logo-png-2 {
		left: -10px;
	}

	.main-text-block {
    	left: 460px;
	}

	.extra-bl {
    	width: 670px;
	}

	.advantages {
		width: 990px;
		margin-top: 436px;
	}

	.advantage {
		width: 150px;
	}

	.main {
    	height: 1380px;
	}

}


@media (max-width: 1000px) {
	.text {
    	font-size: 13px;
	}

	.advantage {
    	width: 125px;
	}

	.advantages {
    	width: 790px;
	}
}

@media (max-width: 982px) {
	.advantages {
		display: none;
	}
	
	.main {
		height: 2000px;
	}

	.advantage-sm {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.ext-lg {
		display: none;
	}

	.ext-sm {
		display: block;
	}

	.main-text-block {
		left: 0;
		width: 100%;
	}

	.logo-png {
		display: block;
	}

	.logo {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	.point {
		background-image: url("../img/wpoint.png");
  		background-repeat: no-repeat;
  		background-position-x: center;
  		background-position-y: center;
  		width: 39px;
  		height: 39px;
	}

	.i_field {
		width: 345px;
	}

	.advantages-sm {
		top: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 300px;
		position: relative;
		left: 60%;
		transform: translateX(-50%);
	}
	
	.osnov {
		position: relative;
		z-index: 2;
	}

	.right {
	    left: 150px;
	}

	.headline {
		text-align: center;
		font-size: 65px;
		height: 350px;
		line-height: 160px;
		bottom: 20px;
		position: relative;
	}

	.headline_extra {
		font-size: 54px;
		line-height: 80px;
	}

	.logo-png-2 {
		display: none;
	}

	.headline_block {
		width: 100%;
		justify-content: center;
	}

	.d-lg {
		display: none;
	}

	.d-sm {
		display: block;
	}

	.description {
		text-align: center;
		font-size: 40px;
		line-height: 40px;
	}

	.contacts_line {
		position: relative;
		margin-left: 0;
		left: 42%;
	}

	.sm-text-block {
		width: 460px;
		position: relative;
		left: 20px;
	}

	.extra-bl {
		left: 5px;
		right: 0;
		bottom: 280px;
		z-index: 1;
		height: 90px;
		width: 570px;
	}

	.advantages2 {
		display: none;
	}
	
	.w_btn-block {
		bottom: 0;
		left: 64%;
	}

	.description_block {
		width: 100%;
		justify-content: center;
	}

	.description {
		position: relative;
	}

	.point {
		position: relative;
		right: 20px;
	}

	.gift {
		visibility: hidden;
	}

	.sm-text {
		font-family: GothamProNormal;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		line-height: 28px;
		color: #3E3C3C;
	}

	body {
		margin: 0;
		background-image: url("../img/bgsm.png");
		background-color: purple;
	  	background-repeat: no-repeat;
	  	background-position-x: center;
	  	background-position-y: center;
	  	background-attachment: fixed;
	  	background-size: cover;
	}
}

@media (max-width: 500px) {
	.sm-text {
		font-size: 35px;
	}

	.sm-text-block {
		width: 600px;
	}
}
