@font-face {
  font-family: MulB;
  src: url('fonts/MullerBold.otf');
}

@font-face {
    font-family: MulL;
    src: url('fonts/MullerLight.otf');
}

@font-face {
  font-family: MulLI;
  src: url('fonts/MullerLightItalic.otf');
}

@font-face {
  font-family: MulM;
  src: url('fonts/MullerMedium.otf');
}

@font-face {
  font-family: Mul;
  src: url('fonts/MullerRegular.otf');
}

@font-face {
  font-family: MulI;
  src: url('fonts/MullerRegularItalic.otf');
}

//FONTS

@mixin mul($font, $size, $color, $lineh) {
    font-family: $font;
    font-size: $size;
    color: $color;
    line-height: $lineh;
}

@mixin mulwl($font, $size, $color) {
  font-family: $font;
  font-size: $size;
  color: $color;
}
//MIXINS


  .header {
    height: 200px;
  }

  .container {
    max-width: 945px;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
  }

  .logo {
    background-image: url('../img/main-information/logo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 104px;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    &_top {
      padding-top: 20px;
    }
  }

  .phone-block {
    display: flex;
    flex-direction: column;
    height: 41px;
    justify-content: space-between;
    align-items: flex-end;

    &__text {
      @include mulwl(Mul, 14px, white);
    }

    &__link {
      @include mulwl(MulB, 20px, white);
      text-decoration: none;
      transition: 0.4s;

      &:hover {
        transition: 0.4s;
        color: rgb(245, 245, 207);
      }
    }
  }
  //HEADER

  .information {
    width: 100%;
    height: 490px;

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &_top {
      margin-top: 100px;
    }
  }

  .main-title-block {
    height: 70px;

    &__title {
      @include mulwl(MulM, 60px, white);
      text-transform: uppercase;
      height: 75px;
      display: flex;
      align-items: center;
    }
  }

  .main-tags-block {

    &__tags {
      @include mulwl(Mul, 20px, white);
      text-transform: uppercase;
    }

    &_top {
      margin-top: 45px;
    }
  }

  .main-description-block {

    &__description {
      @include mulwl(Mul, 16px, white);
    }

    &_top {
      margin-top: 14px;
    }
  }

  .main-button-block {
    &_top {
      margin-top: 100px;
    }
  }

  .information-button-block {
    height: 70px;
  }

  .button {
    position: relative;
    border: 2px solid;
    background-color: rgba(white, 0);
    font-family: MulB;

    &_main {
      border-color: white;
      width: 300px;
      height: 60px;
      color: white;
      transition: 0.4s;

      &:hover {
        box-shadow:1px 2px 11px 0px rgba(255,255,255,0.87);
        transition: 0.4s;
      }
    }

    &__link {
      text-decoration: none;
      color: inherit;
    }
  }

  .feedback-icons-block {
    display: flex;
    justify-content: space-between;
    width: 98px;

    &__link {
      
      &:focus {
        outline: none;
      }
    }
     
    &_top {
      margin-top: 140px;
    }
  }

  .fb-icon {
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid white;
    border-radius: 50%;
    background-size: 16px 16px;

    &_vk {
      background-image: url('../img/main-information/vk.svg');
    }

    &_fcb {
      background-image: url('../img/main-information/fb.svg');
    }

    &_inst {
      background-image: url('../img/main-information/inst.svg');
    }
  }
  //INFORMATION

.main-information {
  background-image: url('../img/main-information/mainbg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 829px;
}
//MAIN-INFORMATION

.about {
  width: 100%;
  height: 590px;
  background-color: #f8f2e4;

  &-wrapper {
    width: 865px;
    height: 500px;
    display: flex;
    justify-content: space-between;

    &_top {
      margin-top: 50px;
    }
  }
}

.about-image-block {
  &__image {
    background-image: url('../img/about/about-img.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 390px;
    height: 490px;
  }
}

.about-text-block {

  &__title-wrapper {
    margin-top: 50px;
  }

  &__title {
    @include mul(MulM, 30px, black, 53px);

    &-span {
      font-size: 48px;
      text-transform: uppercase;
    }
  }

  &__description-wrapper {
    margin-top: 20px;
  }

  &__description {
    @include mul(Mul, 16px, black, 20px);
  }

  &__tags-wrapper {
    display: flex;
    height: 120px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
  }

  &__tag {
    width: 190px;
    background-repeat: no-repeat;
    background-position: left top;
    background-repeat: no-repeat;
    display: flex;
    height: 35px;
    align-items: flex-start;
    &-span {
      transform: translateY(5px);
      margin-left: 55px;
      @include mulwl(Mul, 18px, black);
      text-transform: uppercase;
    }

    
  }

  &_tag-1 {
    background-image: url('../img/about/paper.svg');
    background-size: 30px 20px;
  }

  &_tag-2 {
    background-image: url('../img/about/wave.svg');
    background-size: 30px 24px;
  }

  &_tag-3 {
    background-image: url('../img/about/plane.svg');
    background-size: 27px 28px;
  }
}
//ABOUT

.reasons {
  height: 781px;
  width: 100%;
  background-color: white;
}

.page-title-block {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &_top, &_bottom {
    margin: 80px 0;
  }

  &__title {
    @include mulwl(MulM, 36px, black);
  }

  &__underline {
    width: 120px;
    height: 6px;
    background-image: url('../img/reasons/underline.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120px 6px;
  }
}

.reasons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 500px;

  &_top {
    margin-top: 70px;
  }
}

.reasons-group {
  display: flex;
  justify-content: space-between;

  &_1 {
    width: 850px;
  }

  &_2 {
    width: 540px;
  }

  &_sm {
    display: none;
  }
}

.reason {
  height: 225px;
  text-align: center;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: 170px 170px;
  background-repeat: no-repeat;
  background-position: center top;

  &__text {
    @include mulwl(Mul, 16px, black);
    display: flex;
    align-items: flex-start;
    height: 32px;
  }

  &_1 {
    background-image: url('../img/reasons/img-1.webp');
  }

  &_2 {
    background-image: url('../img/reasons/img-2.webp');
  }

  &_3 {
    background-image: url('../img/reasons/img-3.webp');
  }

  &_4 {
    background-image: url('../img/reasons/img-4.webp');
  }

  &_5 {
    background-image: url('../img/reasons/img-5.webp');
  }
}
//REASONS

.expectations, .programm {
  width: 100%;
  height: 800px;
  background-image: url('../img/expectations/background.webp');
  background-position: center top;
  background-size: 1920px 487px;
  background-repeat: no-repeat;
}

.container-full {
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
}

.stock-slider-block {
  height: 530px;
  width: 100%;
  &_top {
    margin-top: 82px;
  }
}

.stock-slider-wrapper {
  display: flex;
  align-items: center;
}

.slider-block_optimize {
  width: 0;
}

.stock-slide {
  width: 940px;
  height: 480px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 940px 530px;
  transition: all 0.05s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &__gray-wrapper {
    width: 940px;
    height: 528px;
    background-color: rgba(48, 48, 48, 0.6);
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  &__text-wrapper {
    width: 880px;
    height: 430px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  &__title {
    @include mulwl(MulM, 26px, white);
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  &__description {
    @include mulwl(Mul, 18px, white);
  }
}

.stock-slide *{
  visibility: hidden;
  opacity: 0;
}

.stock-slide-active {
  transform: scaleY(1.1);
  transition: all 0.05s ease-out;
  transition: 2s;
  overflow: hidden;

  & *{
    transition: all 0.05s ease-out;
    visibility: visible;
    opacity: 1;
    transition: 2s;
  }
}

.expectations-slide {
  &_1 {
    background-image: url('../img/expectations/leftslide.webp');
  }

  &_2 {
    background-image: url('../img/expectations/centerslide.webp');
  }

  &_3 {
    background-image: url('../img/expectations/rightslide.webp');
  }
}
//EXPECTATIONS

.schedule {
  height: 680px;
}

.schedule-variants-block {
  width: 100%;
  display: flex;
  justify-content: center;
}

.schedule-variants-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 400px;
  align-items: space-between;
  flex-wrap: wrap;
}

.schedule-variants-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.schedule-variant {
  height: 180px;
  background-color: #fff8e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 220px;

  &__text-block {
    height: 120px;
  }

  &__date-wrapper {
    margin-top: 31px;
  }

  &__date {
    @include mulwl(MulL, 14px, #4b4b4b);
  }

  &__title-wrapper {
    margin-top: 13px;
  }

  &__title {
    @include mulwl(MulM, 18px, black);
  }

  &__link-wrapper {
    margin-top: 19px;
  }

  &__link {
    @include mulwl(Mul, 12px, #5a56af);
    text-decoration: none;
    border-bottom: 1px solid #5a56af;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      color: #9491ca;
      border-bottom: 1px solid #9491ca;
    }
  }
}

.schedule-button_top {
  margin-top: 8px;
}

.button_schedule {
  width: 180px;
  height: 40px;
  border: 2px solid #e28234;
  color: #e28234;
  font-size: 12px;
  transition: 0.5s;

  &:hover {
    transition: 0.5s;
    background-color: rgba(226, 130, 52, 1);
    color: white;
  }
}
//SCHEDULE

.programm {
  width: 100%;
  height: 800px;
  background-image: url('../img/expectations/background.webp');
  background-position: center top;
  background-size: 1920px 487px;
  background-repeat: no-repeat;
}

.programm-slide {
  &_1 {
    background-image: url('../img/programm/people.webp');
  }

  &_2 {
    background-image: url('../img/programm/home.webp');
  }

  &_3 {
    background-image: url('../img/programm/moto.webp');
  }
}
//PROGRAMM

.aurveda {
  height: 2050px;
}

.aurveda-text-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 170px;
  text-align: center;

  &__text {
    @include mul(MulL, 18px, black, 20px);
  }
}

.programs-title-block {

  &__title {
    @include mulwl(MulM, 24px, black);
  }
}

.aurveda-programs {
  display: flex;
  align-items: center;
  flex-direction: column;

  &_top {
    margin-top: 63px;
  }
}

.programs-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 720px;

  &_top {
    margin-top: 62px;
  }
}

.aurveda-program {
  height: 120px;
  width: 620px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-size: 120px 120px;
  background-repeat: no-repeat;
  background-position: left center;

  &__text-wrapper {
    width: 465px;
    display: flex;
    justify-content: flex-start;
  }

  &__text {
    @include mul(MulL, 18px, black, 20px);
  }

  &_program-1 {
    background-image: url('../img/aurveda/program-1.webp');
  }

  &_program-2 {
    background-image: url('../img/aurveda/program-2.webp');
  }

  &_program-3 {
    background-image: url('../img/aurveda/program-3.webp');
  }

  &_program-4 {
    background-image: url('../img/aurveda/program-4.webp');
  }

  &_program-5 {
    background-image: url('../img/aurveda/program-5.webp');
  }
}

.aurveda-center {
  width: 100%;
  display: flex;
  align-items: center;

  &-wrapper {
    width: 1000px;
    height: 650px;
    display: flex;
    justify-content: flex-end;
    background-image: url('../img/aurveda/centerbg.webp');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 725px 650px;
  }

  &_top {
    margin-top: 72px;
  }
}

.container-aurveda {
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
  width: 95%;
}

.center-text-block {
  width: 460px;

  &_top {
    margin-top: 55px;
  }

  &__title {
    @include mulwl(MulM, 30px, black);
  }

  &__extra-wrapper {
    margin-top: 9px;
  }

  &__extra {
    @include mulwl(MulL, 14px, #4b4b4b);
  }

  &__description-wrapper {
    height: 213px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 35px;
  }

  &__description {
    @include mul(MulL, 12px, black, 15px);
  }

  &__benefits-wrapper {
    width: 460px;
    height: 234px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__benefits-group-1, &__benefits-group-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__benefits-group-1 {
    height: inherit;
  }

  &__benefits-group-2 {
    height: 205px;
  }

  &__benefit {
    background-image: url('../img/aurveda/logo-mini.webp');
    background-position: left top;
    background-size: 13px 13px;
    background-repeat: no-repeat;

    &-text {
      @include mul(MulL, 12px, #454545, 15px);
      position: relative;
      left: 30px;
    }
  }
}
//AURVEDA

.instructors {
  height: 1350px;
  width: 100%;
  background-image: url('../img/instructors/bg.webp');
  background-position: center top;
  background-size: 1920px 1140px;
  background-repeat: no-repeat;
}

.instructors-slider-block, .instructors-slider-block-2 {
  width: 100%;
  display: flex;
  justify-content: center;

  &-1_bottom {
    margin-bottom: 20px;
  }
}

.instructors-slide,.instructors-slide_slider-2 {
  width: 945px;
  height: 540px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 945px 540px;
  display: flex;
  align-items: flex-end;

  &_1 {
    background-image: url('../img/instructors/1.webp');
  }

  &_2 {
    background-image: url('../img/instructors/2.webp');
  }

  &_3 {
    background-image: url('../img/instructors/1.webp');
  }

  &_4 {
    background-image: url('../img/instructors/2.webp');
  }

  &_5 {
    background-image: url('../img/instructors/1.webp');
  }

  &__content-wrapper {
    width: 100%;
    height: 170px;
    background-color: rgba(68, 68, 68, 0.58);
    display: flex;
    align-items: center;
  }

  &__name {
    margin-left: 60px;
    width: 295px;
    border-right: 2px solid white;
    height: 90px;
  }

  &__title {
    @include mulwl(MulB, 30px, white);
  }

  &__profession-wrapper {
    margin-top: 20px;
  }

  &__profession {
    @include mul(MulI, 16px, white, 20px);
  }

  &__description-wrapper {
    margin-left: 47px;
  }

  &__description {
    @include mul(Mul, 14px, white, 18px);
  }
}

.instructors-slide *{
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}

.instructors-slide_slider-2 *{
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}

.instructors-slide-active *{
  visibility: visible;
  opacity: 1;
  transition: 0.7s;
}

.instructors-slide-active-2 *{
  visibility: visible;
  opacity: 1;
  transition: 0.7s;
}

.instructors-pagination,.instructors-pagination-2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.instructors-pagination__bullet,.instructors-pagination__bullet-2 {
  margin-left: 7px;
  transform: translateX(-10px);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;

  &-active,&-active-2 {
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgba(#000000, 0);
  }
}
//INSTRUCTORS

.reviews {
  width: 100%;
  height: 510px;
  background-color: #fff;

  &-next-btn::after {
    background-image: url('../img/reviews/next.svg');
  }

  &-prev-btn::after {
    background-image: url('../img/reviews/prev.svg');
  }

  &-next-btn::after, &-prev-btn::after {
    content: '';
    width: 36px;
    height: 35px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 36px 35px;
  }

  &-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(10px);
  }

  &-bullet {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #b4b4b4;
    margin:0 5px;

    &-active {
      background-color: rgba(#b4b4b4, 0);
      width: 10px;
      height: 10px;
      border: 1px solid #b4b4b4;
    }
  }
}

.reviews-slider-block {
  width: 940px;
  height: 228px;
}

.review {
  width: 940px;
  height: 155px;
  display: flex;
  justify-content: center;

  &_top {
    margin-top: 40px;
  }
  
  &__wrapper {
    background-image: url('../img/reviews/ava.webp');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 150px 150px;
    display: flex;
    justify-content: flex-end;
    width: 760px;
    height: inherit;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__name{
    @include mulwl(Mul, 18px, black);

    &-bold {
      font-family: MulB;
    }
  }

  &__link {
    @include mulwl(MulL, 12px, #c94410);
    text-decoration: none;
    border-bottom: 1px solid #f8c9b6;
    transition: 0.4s;

    &:hover {
      transition: 0.4s;
      color: #d38161 ;
    }
  }

  &__message {
    @include mul(MulI, 14px, #393939, 17px);

    &-wrapper {
      margin-top: 18px;
    }
  }
}
//REVIEWS





