@media (max-width: 1250px)
    .chips
        &-wrapper
            &__content
                grid-template-columns: 224px 1px 214px 1px 214px 1px 224px
                grid-column-gap: 16px
    .chip
        &__text
            font-size: 13px
            font-weight: 600
    .rubrics
        &__content

            grid-column-gap: 0
            justify-content: space-between
    .rubric
        &__img
            width: 306px
        &__title
            font-size: 19px
            line-height: 130%
            &-wrapper
                max-width: 420px
        &__description
            font-size: 13px
            max-width: 425px
        &__spaced-rubric
            padding-right: 0
        &__other
            margin-top: 32px
        &:nth-child(5)  &__other
            margin-top: 53px

    .rubrics
        &__content
            grid-template-columns: 794px 263px
    .slider
        &__content
            grid-template-columns: repeat(4,250px)
    .slide
        &__title
            line-height: 135%
@media (max-width: 1200px)
    .article-main
        &__flag-icon
            left: -69.5px
    .logo
        &__img
            width: 143px
            height: 35px
    .navigation
        flex-basis: 447px
        &__link
            font-size: 12px
    .search-form
        &__input
            padding-left: 18px
            padding-right: 47px
            width: 230px
            height: 35px
            background-position: 194px

    .header
        &__wrapper
            min-height: 64px
    .main
        &-information
            &__content
                flex-basis: 840px
            &__sidebar
                &-tile
                    padding-left: 18px
                &-description
                    font-size: 13px
                    max-width: 200px
    .sidebar
        &__title
            font-size: 13px
            padding-left: 18px
            max-width: 215px
    .posts
        &-wrapper
            &__content
                grid-template-columns: repeat(4,250px)
    .article
        &__car
            right: -26px
        &__article-comment
            margin-left: 21px
    .tags
        &__title
            padding-left: 25px
        &__tags-wrapper
            padding-left: 17px
    .salary
        &__title
            font-size: 35px
            &-wrapper
                max-width: 820px
    .reviews
        &__wrapper
            grid-template-columns: repeat(4,237px)
    .review
        &__title
            font-size: 15px
@media (max-width: 1170px)
    .rubric
        &__description
            font-size: 12px
            max-width: 384px
        &__img
            width: 270px
        &__title
            font-size: 18px
            &-wrapper
                max-width: 405px
    .rubrics
        &__content
            grid-template-columns: 740px 235px

@media (max-width: 1150px)
    .posts
        &-wrapper
            &__content
                grid-template-columns: repeat(4,240px)
    .real-project
        padding-left: 16px
    .post
        &__title
            font-size: 14px
            max-width: 184px
        &__description
            max-width: 202px
            font-size: 13px
    .tags
        &__text-wrapper
            margin-left: 21px
    .article
        &__text-wrapper
            padding-left: 24px
        &-comment
            flex-basis: 367px
            &__text
                max-width: 207px
    .links-post
        &__icons-wrapper
            width: 176px
    .slider
        &__content
            grid-template-columns: repeat(4,235px)
    .post-slider
        &__container
            height: 574px
        &__wrapper
            height: 495px
@media (max-width: 1100px)
    .chip
        &__text
            font-size: 13px
            width: 140px
        &__img
            width: 55px
            height: 55px
    .chips
        &-wrapper
            min-height: 110px
            &__content
                grid-template-columns: 204px 1px 200px 1px 200px 1px 204px
                grid-column-gap: 12px
                padding-top: 18px
            &__border
                height: 67px
    .article
        &__car
            width: 260px
        &__title
            font-size: 24px
            &-wrapper
                max-width: 222px
    .article-main
        &__flag-icon
            left: -49.5px
    .real-project
        &__title
            max-width: 175px
            font-size: 14px
        &__author
            &-avatar
                width: 35px
                height: 35px
    .checklist
        &__text-wrapper
            padding-left: 16px
        &__title
            font-size: 15px
    .posts
        &-wrapper
            &__content
                grid-template-columns: repeat(4,230px)
    .tag
        padding: 6px 11.5px 3px
    .rubric
        &__title
            font-size: 17px
            &-wrapper
                max-width: 377px
        &__img
            width: 250px
            height: 190px
        &__text-wrapper
            margin-left: 17px
    .rubrics
        &__content
            grid-template-columns: 700px 235px
    .slider
        &__content
            grid-template-columns: repeat(4,213px)
    .slide
        &__title
            font-size: 37px
    .questions-post
        &__bg
            width: 555px
    .copy-info
        padding-top: 35px
        padding-bottom: 40px
        &__about, &__copyright
            font-size: 12px
        &__about
            max-width: 695px
    .reviews
        &__wrapper
            grid-template-columns: repeat(4,212px)
@media (max-width: 1050px)
    .posts
        &-wrapper
            &__content
                grid-template-rows: repeat(4,160px)
                grid-template-columns: repeat(4,213px)
    .article
        &__description
            max-width: 213px
            font-size: 13px
        &__car
            width: 245px
    .real-project
        padding-left: 9px
        &__text-wrapper
            margin-left: 7px
    .post
        padding-top: 23px
        padding-left: 17px
        &__description
            max-width: 189px
            font-size: 12px

    .tags
        &__tags-wrapper
            padding-top: 16px
            padding-left: 16px
    .instruments-post
        &__bg
            height: 257px
        &__description
            font-size: 15px
            &-wrapper
                padding-left: 20px
    .checklist
        background-position: 125px 20px
        &__text-wrapper
            padding-left: 12px
    .sidebar
        &__footer
            height: 40px
        &__title
            padding-top: 15px
            padding-bottom: 15px
    .rubric
        &__img
            width: 230px
            height: 195px
        &__title
            font-size: 16px
            &-wrapper
                max-width: 360px
        &__description
            margin-top: 2px
            max-height: 84px
            height: 84px
            max-width: 325px
        &__other
            margin-top: 13px
        &:nth-child(5) &__other
            margin-top: 35px
    .rubrics
        &-wrapper
            padding: 25px 20px 0
        &__content
            grid-template-columns: 652px 235px
        &__sidebar-title
            font-size: 12px
            padding-left: 15px
    .slide
        &__title
            font-size: 35px
    .post-slider
        &__container
            height: 537px
        &__wrapper
            height: 465px
        &__text
            width: 72%
            font-size: 13px
        &__slide-footer
            padding: 0px 24px
        &__button
            top: 214px
    .article-main
        &__flag-icon
            left: unset
            top: 81px
            right: 0px
@media (max-width: 992px)
    .navigation
        flex-basis: 400px
        &__list
            width: 100%
    .search-form
        &__input
            padding-right: 39px
            width: 186px
            height: 35px
            background-position: 92%
        &__btn
            right: 27px
    .main
        &-information
            position: relative
            &__title
                font-size: 35px
                line-height: 140%
                &-wrapper
                    max-width: 425px
            &__sidebar
                position: absolute
                top: 0
                bottom: 0
                right: 0
    .chips
        &-wrapper
            &__content
                grid-template-columns: 245px 1px 245px
                grid-column-gap: 9%
                padding-top: 0px
                justify-content: center
            &__border
                height: 75px
                &:nth-child(4)
                    display: none

    .chip
        &__text
            font-size: 15px
            width: 173px
    .posts
        &-wrapper
            &__sidebar
                grid-row: 2/4
                grid-column: 3/4
            &__content
                grid-template-columns: repeat(3,260px)
                grid-template-rows: repeat(5,160px)
    .real-project
        grid-column: 2/3
        padding-left: 24px
    .checklist
        background-position: 172px 20px
        grid-column: 3/4
        grid-row: 1/2
        &__text-wrapper
            padding-left: 23px
    .links-post
        grid-row: 4/5
        grid-column: 3/4
    .post
        padding-left: 41px
        &--bosses
            grid-row: 4/5
            grid-column: 1/2
        &--work
            grid-row: 5/6
            grid-column: 1/2
        &--methods
            grid-row: 5/6
            grid-column: 3/4
    .article-comment
        flex-basis: 448px
        &__text
            max-width: 300px
    .article
        &__car
            right: 0px
            width: 270px
        &__title
            font-size: 27px
            &-wrapper
                max-width: 250px
    .tags
        &__tags-wrapper
            max-width: 250px
    .sidebar
        &__title
            font-size: 14px
    .rubrics
        &__sidebar
            max-width: 100%
            min-height: 386px
            display: none
            &-title
                font-size: 13px
                padding-left: 0px
                max-width: 90%
                padding-top: 16px
                padding-bottom: 13px
                &-wrapper
                    display: flex
                    justify-content: center
        &__content
            grid-template-columns: 652px
            grid-row-gap: 20px
            justify-content: center
    .sidebar
        &__posts-wrapper
            display: grid
            grid-template-columns: 200px 200px 200px
            justify-content: space-evenly
        &-post
            &__description
                font-size: 13px
    .slider
        &__post
            padding-left: 32px
        &__content
            grid-column-gap: 20px
            grid-template-columns: repeat(2,266px)
            grid-template-rows: repeat(6,160px)
            justify-content: center
    .slide
        &__title
            font-size: 33px
    .footer-lists-wrapper
        grid-template-columns: repeat(3,calc(100%/3))
        grid-row-gap: 30px
    .footer-list
        &__title
            font-size: 16px
    .copy-info
        &__about
            max-width: 640px
    .article-description
        &__text
            font-size: 16px
            max-width: 545px
    .post-slider
        &__text
            width: 445px
    .post-author
        height: 275px
        width: 216px
        &__avatar
            width: 80px
            height: 80px
            margin-top: 20px
        &__name
            font-size: 18px
    .instruments-post
        grid-row: 3/4
        display: flex
        align-items: center
        &__description
            &-wrapper
                max-width: 210px
                max-height: 127px
                padding-top: 0
                padding-left: 40px
        &__bg
            display: none
    .reviews
        &__wrapper
            grid-template-columns: repeat(4,190px)
    .review
        &__title
            font-size: 13px
        &__img
            height: 146px
@media (max-width: 900px)
    .posts
        &-wrapper
            &__content
                grid-template-columns: repeat(3,235px)
    .post
        padding-left: 29px
    .real-projects
        padding-left: 18px
    .article
        &__article-comment
            margin-left: 13px
        &__car
            right: -19px
        &-comment
            flex-basis: 363px
            &__text
                max-width: 209px
    .salary
        &__title
            font-size: 30px
            &-wrapper
                max-width: 700px
        &__button
            margin-top: 40px
    .copy-info
        &__about
            max-height: 65px
            max-width: 491px
    .bottom-navigation
        &__item
            font-size: 12px
            margin-right: 23px
    .social-links
        width: 173px
        &__link
            width: 18px
            height: 18px
            &-bg
                width: 35px
                height: 35px
    .bottom-links
        &__navigation
            margin-left: 20px
    .credit-wrapper
        &__text
            font-size: 22px
            max-width: 535px
    .other-material
        max-width: 223px
        &__title
            font-size: 18px
        &__img
            height: 163px
        &__theme
            font-size: 14px
        &__description
            font-size: 13px
    .reviews
        &__wrapper
            grid-template-columns: repeat(4,165px)
    .review
        &__title
            font-size: 12px
@media (max-width: 850px)
    .navigation
        flex-basis: 360px
        &__link
            font-size: 11px
    .logo
        &__img
            width: 123px
            height: 35px
    .article-main
        &__title
            font-size: 48px
            max-width: 700px
        &__description
            max-width: 600px
            font-size: 17px
    .article-description
        &__letter
            margin-right: 14px
            margin-top: 5px
            height: 63px
        &__text
            font-size: 14px
            max-width: 450px
    .post-slider
        &__container
            height: 465px
        &__wrapper
            height: 344px
        &__button
            top: 180px
            width: 50px
            height: 50px
        &__author
            width: 203px
        &__ava
            width: 40px
            height: 40px
            margin-left: 20px
        &__text
            width: 420px
    .post-author
        height: 230px
        width: 185px
        &__avatar
            width: 65px
            height: 65px
            margin-top: 20px
        &__name
            font-size: 16px
            margin-top: 8px
        &__profession
            margin-top: 3px
        &__counter
            margin-top: 7px
        &__footer
            height: 40px
            &-link
                font-size: 13px
    .credit-wrapper
        &__text
            font-size: 22px
            max-width: 473px
    .comments
        &-load
            padding: 15px 0
            justify-content: center
            width: 100%
        &__title
            font-size: 35px
        &__btn
            margin-left: auto
    .comment
        width: 100%
        &-form
            max-width: 100%
            &__message
                background-repeat: no-repeat
                background-size: contain
                width: 480px
                height: 109px
@media (max-width: 800px)
    .posts
        &-wrapper
            &__content
                grid-template-columns: repeat(3,225px)
    .post
        padding-left: 22px
    .real-project
        padding-left: 16px
    .article
        &__car
            width: 246px
    .checklist
        background-position: 139px 20px
        &__text-wrapper
            padding-left: 16px
    .mailing
        &__title
            max-width: 625px
            font-size: 36px
    .reviews
        &__wrapper
            grid-template-columns: repeat(2,325px)
    .review
        &__img
            height: 165px
        &__title
            font-size: 17px
@media (max-width: 768px)
    .mobile-button
        display: flex
        &__line
            transition: 0.4s
            &--active
                transform: rotate(45deg) translateY(10px)
                &:nth-child(2)
                    opacity: 0
                &:last-child
                    transform: rotate(-45deg) translateY(-10px)
    .navigation, .search-form
        display: none
        flex-direction: column
        align-items: center
        &--visible
            display: flex
    .navigation
        width: 100%
        background-color: #262D33
        border-top: 1px solid #181d20
        &__list
            grid-template-columns: max-content
            justify-content: center
            text-align: center
            grid-row-gap: 20px
            overflow-y: auto
        &__link
            font-weight: 500
            font-size: 18px
        &--mobile
            padding: 22px 0
            height: calc(100vh-64px)
            top: -1200px
            position: fixed
            transition: 0.4s !important
            z-index: 998
            left: 0
            right: 0
        &__search-form
            margin-bottom: 30px
        &__item
            max-width: 120px
            height: 18px
            overflow-y: hidden
    .search-form
        &__input
            width: 340px
            max-width: 340px
        &__btn
            top: 50%
            transform: translateY(-55%)
    .header
        width: 100%
        position: fixed
        z-index: 999
    .main
        &--top
            padding-top: 85px
        &-information
            &__title
                font-size: 31px
                &-wrapper
                    max-height: 217px
            &__sidebar
                &-description
                    font-size: 12px
                    max-width: 183px
    .chips
        &-wrapper
            &__content
                grid-column-gap: 30px
    .posts
        &-wrapper
            &__content
                justify-content: space-around
                grid-template-columns: repeat(2,300px)
                grid-template-rows: repeat(8,160px)
            &__sidebar
                max-width: 100%
                grid-row: 4/6
                grid-column: 2/3
    .instruments-post
        grid-row: 3/5
        display: block
        &__bg
            display: block
        &__description
            &-wrapper
                padding-top: 16px
                max-height: 94px
    .post
        padding-left: 60px
        &--references
            grid-row: 7/8
            grid-column: 2/3

        &--bosses
            grid-row: 7/8
            grid-column: 1/2
        &--work
            grid-row: 8/9
            grid-column: 1/2
        &--methods
            grid-row: 8/9
            grid-column: 2/3
    .real-project
        grid-column: 1/2
        grid-row: 5/7
    .tags
        &__tags-wrapper
            max-width: 282px
    .checklist
        max-width: 100%
        grid-column: 2/3
        grid-row: 3/4
    .links-post
        grid-row: 6/7
        grid-column: 2/3
    .article
        &__car
            right: 0px
        &__title
            font-size: 30px
        &__title-wrapper
            max-width: 330px
        &__description
            max-width: 237px
            font-size: 14px
        &-comment
            flex-basis: 444px
            &__text
                max-width: 303px
    .checklist
        background-position: 213px 20px
    .copy-info
        flex-direction: column
        &__about
            margin-bottom: 20px
    .bottom-navigation
        &__list
            display: grid
            grid-template-columns: auto auto
            grid-row-gap: 4px
    .mailing
        &__title
            font-size: 32px
    .slider
        &__post
            padding-left: 40px
    .to-top-button
        display: none
    .article-main
        padding-top: 124px
        &__title
            font-size: 40px
            max-width: 540px
        &__description
            font-size: 15px
            max-width: 520px
    .salary
        &__button
            margin-top: 20px
    .other-material
        max-width: 186px
        &__theme
            max-width: 80%
    .credit-wrapper
        &__text
            font-size: 21px
            max-width: 434px
@media (max-width: 730px)
    .reviews
        &__wrapper
            grid-template-columns: repeat(2,294px)

@media (max-width: 700px)
    .main-information
        &__sidebar
            right: -300px
            transition: 0.4s
            &--active
                right: 0
        &__sm-btn, &__mobile-icon
            display: flex
    .chips
        &-wrapper
            &__content
                grid-column-gap: 18px
                grid-template-columns: 225px 1px 225px
    .chip
        &__text
            font-size: 13px
    .posts
        &-wrapper
            &__content
                justify-content: space-between
                grid-template-columns: repeat(2,285px)
    .post
        padding-left: 43px
    .posts
        &-wrapper
            &__content
                grid-template-columns: repeat(2,275px)
    .checklist
        background-position: 176px 20px
    .salary
        &__title
            font-size: 24px
            &-wrapper
                max-width: 560px
    .rubrics
        &__content
            grid-template-columns: 600px
        &__sidebar
            min-height: 490px
    .sidebar
        &__posts-wrapper
            grid-template-columns: 200px 200px
    .rubric
        &__title
            font-size: 15px
            &-wrapper
                max-height: 60px
        &__description
            font-size: 11px
        &__img
            height: 191px
        &__other
            margin-top: 15px
    .mailing
        &__title
            max-width: 470px
            font-size: 27px
    .post-author
        &--pos
            right: 50%
            top: -277px
            transform: translateX(50%)
    .article-description
        padding-top: 324px
        &__text
            &--margined
                margin-bottom: 23px
            &-wrapper
                position: relative
                display: flex
                flex-direction: column
                align-items: center
    .post-slider
        &--top
            margin-top: 15px
        &__container
            height: 415px
        &__button
            top: 155px
        &__text
            width: 320px
        &__slide-footer
            padding: 0 20px
    .container
        &--material
            display: flex
            flex-direction: column
            align-items: center
    .other-material
        position: static
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 25px
        max-width: 204px
        text-align: center
        &__description
            padding-bottom: 13px
        &__theme
            max-width: 100%
    .credit-wrapper
        &--top
            margin-top: 37px
    .article-links
        display: flex
        flex-direction: column
        align-items: center
        width: 100%
        &__title
            text-align: center
        &__wrapper
            justify-content: space-between
            width: 420px
    .article-tags
        padding-bottom: 37px
    .article-link
        margin-right: 0
    .comments
        &__info-wrapper
            flex-direction: column
            align-items: center
        &__btn
            margin-left: 0
        &__title
            padding-right: 0
            padding-bottom: 5px
            font-size: 40px
        &__btn
            margin-top: 23px
@media (max-width: 670px)
    .reviews
        &__wrapper
            grid-template-columns: repeat(2,265px)
    .comment
        &-form
            &__avatar
                top: 59px
                left: 17px
            &__content-wrapper
                margin-left: 110px
            &__message
                width: 435px
@media (max-width: 630px)
    .posts
        &-wrapper
            &__content
                grid-template-columns: repeat(2,255px)
    .article
        &__title
            &-wrapper
                max-width: 280px
    .rubrics
        &__content
            grid-template-columns: 560px
        &-wrapper
            padding: 25px 11px 0
    .rubric
        &__text-wrapper
            margin-left: 16px
        &__img
            width: 211px
    .slider
        &__content
            grid-template-columns: repeat(2,227px)
        &__post
            padding-left: 23px
    .mailing
        &__title
            font-size: 26px
            max-width: 450px
        &-form
            width: 410px
            &__input
                width: 260px
                &-wrapper
                    max-width: 260px
    .article-main
        &__title
            font-size: 34px
            max-width: 500px
        &__description
            font-size: 15px
            max-width: 350px
    .post-author
        &__pos
            top: -260px
    .post-slider
        &__author
            width: 190px
        &__text
            font-size: 11px
            width: 282px
        &__name
            font-size: 13px
        &__ava
            margin-left: 14px
            width: 40px
            height: 40px
        &__slide-footer
            padding: 0 10px
@media (max-width: 600px)
    .reviews
        &__wrapper
            grid-template-columns: repeat(2,243px)
    .review
        &__title
            font-size: 16px
    .comment
        &--answer
            padding-left: 71px
        &-form
            padding: 145px 0 35px
            display: flex
            justify-content: center
            &__content-wrapper
                margin-left: 0
                display: flex
                flex-direction: column
                align-items: center
                width: 90%
            &__message
                width: 100%
                background-image: none
                transform: translateX(0px)
                background-color: white
                border-radius: 10px
                border: 1px solid #939699
            &__title
                text-align: center
                max-width: 100%
                padding-bottom: 22px
            &__avatar
                top: 50px
                left: 50%
                transform: translateX(-50%)
        &__text
            font-size: 16px
            &-wrapper
                margin-left: 10px
        &__avatar
            width: 65px
            height: 65px
@media (max-width: 576px)
    .chips
        &-wrapper
            &__content
                grid-template-columns: 90%
                padding: 15px 0
                grid-row-gap: 13px
            &__border
                height: 1px
                width: 100%
                &:nth-child(4)
                    display: block

    .chip
        &__img
            width: 65px
            height: 65px
            margin-left: 20px
        &__text
            font-size: 14px
        &__text
            width: 320px
    .posts
        &-wrapper
            &__content
                grid-template-columns: repeat(2,236px)
    .post
        padding-left: 27px
    .article
        &__car
            right: -19px
            width: 219px
        &__title
            font-size: 28px
        &-comment
            flex-basis: 381px
            &__text
                max-width: 208px
    .article-main
        &__flag-icon
            width: 25px
            height: 25px
            left: -3px
            top: 34px
            right: unset
    .checklist
        background-position: 132px 20px
    .salary
        &__title
            font-size: 20px
            &-wrapper
                max-width: 443px
    .rubric
        padding-top: 40px !important
        flex-direction: column
        &__text-wrapper
            margin-left: 0
            margin-top: 16px
        &__img
            width: 100%
            height: 195px
        &__flag-icon
            top: 255px
        &__description
            line-height: 160%
    .rubrics
        align-items: center
        &__content
            grid-template-columns: 387px
            grid-row-gap: 35px
        &-wrapper
            padding: 25px 31px 0
            padding-top: 0
    .sidebar
        &__posts-wrapper
            padding-bottom: 60px
            grid-template-columns: 200px
    .footer-lists-wrapper
        grid-template-columns: repeat(2, 50%)
    .footer-list
        &__item
            max-width: 135px
    .bottom-navigation
        &__item
            max-width: 118px
            margin-right: 16px
    .social-links
        width: 144px
        &__link
            width: 16px
            height: 16px
            &-bg
                width: 30px
                height: 30px
    .copy-info
        &__about
            max-height: 82px
            max-width: 424px
    .instruments-post
        &__description
            &-wrapper
                padding-left: 21px
    .modal
        padding: 0 25px
    .modal-form
        width: 389px
        &__input, &__message
            width: 80%
@media (max-width: 550px)
    .posts
        &-wrapper
            &__content
                grid-template-columns: repeat(2,220px)
    .post
        padding-left: 21px
    .review
        &__title
            font-size: 14px
    .reviews
        &__wrapper
            grid-template-columns: repeat(2,210px)
@media (max-width: 530px)
    .slider
        &__content
            grid-template-columns: repeat(2,205px)
        &__post
            padding-left: 17px
    .article-main
        &__title
            font-size: 30px
            max-width: 435px
    .article-main
        padding-top: 113px
    .articles-navigation
        width: 294px
        right: 50%
        transform: translateX(50%)
        bottom: -55px
        &__text
            font-size: 12px
        &__home-icon
            width: 17px
            height: 17px
        &__prev-icon
            transform: scale(-1) translateY(0px)
        &__next-icon
            transform: translateY(0px)
    .post-author
        &--pos
            top: -275px
    .post-slider
        &__button
            width: 40px
            height: 40px
            top: 140px
        &__container
            height: 515px
        &__slide-footer
            padding: 9px 10px
            text-align: center
            flex-direction: column-reverse
            height: 155px
        &__ava
            margin-left: 0
        &__author
            width: 100%
            height: 86px
            border-bottom: 1px solid #d9dadb
            flex-direction: column
            border-left: none
        &__text
            width: 100%
            padding-top: 9px
        &__img
            margin-left: 0
        &__info-wrapper
            margin-left: 0px
@media (max-width: 500px)
    .posts
        &-wrapper
            &__content
                grid-template-columns: repeat(2,215px)
    .article
        &__car
            width: 214px
    .real-project
        padding-left: 11px
@media (max-width: 480px)
    .search-form
        &__input
            width: 285px
    .main
        &-information
            height: 472px
            &__sm-btn
                top: 18%
            &__info
                padding-left: 14px
                padding-top: 36px
            &__title
                font-size: 24px
                max-width: 292px
                &-wrapper
                    max-height: 165px
            &__sidebar
                &-tile
                    height: 80px
                &:last-child h4
                    padding-top: 14px

                &-title
                    max-width: 175px
            &__tile-title
                padding-top: 14px
                padding-bottom: 4px
            &__main-content
                bottom: 0px
            &__button
                margin-top: 45px
    .posts
        &-wrapper
            &__content
                grid-template-columns: repeat(1,330px)
                grid-template-rows: repeat(14,160px)
                justify-content: center

            &__sidebar
                grid-row: 4/6
                grid-column: 1/2
    .links-post
        grid-row: 6/7
        grid-column: 1/2

    .article
        grid-column: 1/2
        &__car
            display: none
        &__title
            font-size: 26px
        &__text-wrapper
            padding-left: 16px
        &-comment
            flex-basis: 215px
            &__img
                width: 30px
                height: 30px
            &__text
                max-width: 135px
                font-size: 12px
            &__name
                font-size: 12px
                margin-left: 4px
            &__family
                display: none
    .article-description
        &__letter
            height: 57px
    .post
        padding-left: 57px
        &__text
            max-width: 215px
    .checklist
        grid-column: 1/2
        grid-row: 3/4
        background-position: 186px 20px
    .instruments-post
        grid-row: 7/9
        grid-column: 1/2
    .real-project
        padding-left: 26px
        grid-column: 1 / 2
        grid-row: 9 / 11
    .post
        &--references
            grid-row: 11/12
            grid-column: 1/2
        &--bosses
            grid-row: 12/13
            grid-column: 1/2
        &--work
            grid-row: 13/14
            grid-column: 1/2
        &--methods
            grid-row: 14/15
            grid-column: 1/2
    .salary
        &__title
            font-size: 18px
            &-wrapper
                max-width: 300px

    .slider
        &__content
            grid-template-columns: repeat(1,295px)
            grid-template-rows: repeat(7,160px)
        &-wrapper
            grid-column: span 1
    .questions-post
        grid-column: span 1
    .slide
        &__title
            font-size: 23px
            &-wrapper
                max-width: 270px
    .questions-post
        &__bg
            width: 620px
    .bottom-links
        flex-direction: column
        align-items: center
        &__social-links
            margin-left: 0
            margin-top: 20px
    .sm-link-menu
        width: 290px
        justify-content: center
        grid-column-gap: 10px
        display: grid
        grid-template-columns: 115px 50px 115px
    .social-links
        width: 183px
    .footer-lists-wrapper
        grid-template-columns: repeat(2,50%)
        justify-content: center
    .mailing
        &__title
            font-size: 22px
            max-width: 327px
            word-break: normal
            white-space: normal
            line-height: 28px
            text-align: center
        &-form
            width: 100%
            flex-direction: column
            align-items: center
            height: 100px
            &__input
                width: 280px
                &-wrapper
                    max-width: 290px
    .copy-info
        align-items: center
        text-align: center

        &__about
            max-height: 105px
            max-width: 313px
    .article-main
        &__title
            font-size: 23px
            max-width: 310px
            &-wrapper
                max-width: 310px
        &__description
            font-size: 13px
            max-width: 301px
        &__flag-icon
            width: 20px
            height: 20px
            left: -2px
            top: 28px
    .articles-navigation
        width: 284px
        &__home-link
            margin-right: 20px
    .article-tags
        padding-bottom: 30px
    .article-links
        &__wrapper
            flex-direction: column
            align-items: center
            height: 150px
            width: 100%
    .article-link
        padding: 10px 34px
    .reviews
        &__wrapper
            grid-template-columns: repeat(1,80%)
            justify-content: center
    .review
        &__title
            font-size: 15px
    .comments
        padding-top: 60px
        &__title
            font-size: 32px
        &__counter
            font-size: 34px
    .comment
        &--answer
            padding-left: 62px
        &__text
            font-size: 14px
            padding-top: 5px
            &--difficult
                padding-bottom: 30px
        &__avatar
            width: 55px
            height: 55px
        &__name
            font-size: 15px
    .modal-form
        width: 100%
@media (max-width: 420px)
    .rubrics
        &__content
            grid-template-columns: 100%
        &-wrapper
            padding: 0px 12px

    .rubric
        &__description
            font-size: 10.5px
            margin-top: 10px
        &__spaced-rubric
            white-space: nowrap
    .main-information
        &__title
            font-size: 23px
    .post-slider
        &__button
            &--next
                right: 18px
            &--prev
                left: 18px
@media (max-width: 380px)
    .article-main
        &__title
            font-size: 21px
            max-width: 282px
            line-height: 150%
            &-wrapper
                padding-top: 50px
        &__description
            font-size: 12.5px
            max-width: 240px
    .rubric
        &__title-wrapper
            max-height: 78px
    .comment
        &--answer
            padding-left: 18px
        &__date
            font-size: 10px
    .modal-form
        height: 493px
        &__title
            font-size: 20px
        &__input, &__message
            width: 88%
            margin-top: 10px
            border-radius: 15px
    .modal
        padding: 0px 12px
    .posts
        &-wrapper
            &__content
                grid-template-columns: 285px
@media (max-height: 510px)
    .modal-form
        height: 90%
        overflow-y: scroll
        &__content
            height: 470px
            padding-bottom: 10px
        &__title
            overflow-y: hidden
        &__button
            overflow-y: hidden
