@font-face {
  font-family: Geometria;
  src: url('fonts/Geometria.eot'),url('fonts/Geometria.woff'),
    url('fonts/Geometria.ttf');
}

@font-face {
    font-family: GeometriaB;
    src: url('fonts/Geometria-Bold.eot'),url('fonts/Geometria-Bold.woff'),
      url('fonts/Geometria-Bold.ttf');
}
