/* FONTS */
@font-face {
  font-family: "GilroyBlack";
  src: url("../fonts/Gilroy-Black.ttf") format("truetype"); }

@font-face {
  font-family: "GilroyBold";
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype"); }

 @font-face {
 font-family: "GilroySemibold";
 src: url("../fonts/Gilroy-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "GilroyHeavy";
  src: url("../fonts/Gilroy-Heavy.ttf") format("truetype"); }

@font-face {
  font-family: "GilroyMedium";
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "GilroyRegular";
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype"); }

/* FONTS */

$PrOrange: #fd9047;
$PrGray: #252525;

* {
	box-sizing: border-box;

}

body {
	margin: 0;
}

.overlay {
	display: none;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100vh;
	background-color: rgba(1,1,1,0.9);
}

.overlay_active {
	display: block;
}

.container_header {
	max-width: 1870px;
	margin: 0 auto;
	width: 95%;
}

.container_info {
	max-width: 1920px;
	margin: 0 auto;
}

.container__benefits {
	margin: 0 auto;
	max-width: 1920px;
	width: 100%;
}

.container__offers {
	max-width: 1920px;
	height: 1080px;
	margin: 0 auto;
	overflow: hidden;
}

.header {
	height: 780px;
	background: #252525;
	overflow: hidden;
}

.header__menu {
	width: 100%;
	height: 140px;
	display: flex;
	align-items: center;
}

.logo__img {
	position: relative;
	z-index: 1;
	width: 233px;
	height: 81px;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.menu__number {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 32px;
}

.menu__number-icon {
	margin-left: 70px;
}

.icon__img {
	width: 32px;
	height: 32px;
	background-image: url("../img/number.png");
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.menu__number-block__number {
	display: flex;
	align-items: flex-end;
}

.menu__item {
	transition: 0.3s;
	font-size: 24px;
	font-family: GilroyMedium;
	text-decoration: none;
	color: white;
	letter-spacing: 2px;
	line-height: 1;
}

.number-block__link {
	margin-left: 25px;
}

.menu__items {
	margin-left: auto;
	height: 32px;
	display: flex;
	align-items: flex-end;
	width: 55%;
	justify-content: space-between;
}

.menu__items-list {
	display: flex;
}

.menu_item-hover:hover {
	color: #975223;
	transition: 0.3s;
}

.header__info {
	margin-left: 18%;
	margin-top: 65px;
}

.info__title-item {
	font-size: 48px;
	font-family: GilroySemibold;
	color: white;
	letter-spacing: 6px;
	position: relative;
	z-index: 3;

	.title__orange {
		color: #fd9047;
		font-family: GilroyBlack;
		position: relative;
		z-index: 3;
	}
}

.info__description-item {
	font-size: 30px;
	font-family: GilroyMedium;
	color: white;
	letter-spacing: 2px;
	line-height: 1.3;
	position: relative;
	z-index: 3;
}

.header__btn-block {
	margin-top: 50px;
	position: relative;
	z-index: 3;
}

.info__btn-block {
	display: flex;
}

.info__btn-link {
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-family: GilroyBold;
	letter-spacing: 3px;
}

.info__btn {
	position: relative;
	background-color: $PrOrange;
	border: none;
	padding: 25px 30px;
	z-index: 3;
}

.btn-line__block {
	height: 72px;
	display: flex;
	align-items: center;
}

.dont_scroll {
	overflow: hidden;
}

.line_center {
	right: 10%;
	display: flex;
	background-color: black;
	background-color: lightgray;
	height: 1px;
	width: 110px;
	border: none;
	position: relative;
	z-index: 4;
}

.btn__line-item {
	font-size: 18px;
	font-family: GilroyMedium;
	color: $PrOrange;
	letter-spacing: 1px;
}

.header__background-title-block {
	width: 800px;
	position: relative;
	display: flex;
	z-index: 0;
	transform: translateY(-115%);
	left: 49%;
	overflow: hidden;

}


.background-title__item{
	font-size: 132px;
	font-family: GilroyHeavy;
	letter-spacing: 20px;
	color: #2b2b2b;
}

.info__img {
	display: flex;
	width: 848px;
	height: 409px;
	background-image: url("../img/car.png");
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.info_img_right {
	transform: translateY(-150%);
	left: 46%;
	margin-right: 10%;
	z-index: 1;
	position: relative;
}

.collapse__icon {
	display: none;
	width: 80px;
	height: 80px;
	background-color: #b3b3b3;
	border-radius: 50%;
	position: relative;
	z-index: 11;
}

.collapse {
	display: none;
	margin-left: auto;
}

.header__collapse-menu {
	position: fixed;
	width: 30%;
	height: 100vh;
	z-index: 11;
	background-color:rgba(26,26,26,0.9);
	border: 3px solid;
	border-width: 0 3px 0 0;
	border-color: yellow;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	transform: translateX(-1000%);
	transition: 0.5s;
}

.header_collapse-menu_active {
	transform: translateX(0%);
	transition: 0.3s;
}

.collapse__icon-img {
	display: flex;
	position: relative;
	transform: translateY(-20%);
	background-size: 200%;
	background-color: #2b2b2b;
	border-radius: 50%;
	padding: 15px;
}

.icon_2_active {
	display: none;
	transition: 0.3s;
}

.icon:nth-child(1) {
	position: relative;
	margin-bottom: 8px;
	transition: 0.3s;
}

.icon:nth-child(2) {
	transition: 0.3s;
}

.icon:nth-child(3) {
	position: relative;
	margin-top: 8px;
	transition: 0.3s;
}

.container__collapse {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 60vh;
	position: fixed;
}


.benefits {
	overflow: hidden;
}


.benefits__benefit-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	width: 700px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.benefit__title-block {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.benefit__title {
	font-size: 48px;
	width: auto;
	font-family: GilroyBold;
	color: #282828;
	display: inline-block;
}

.benefit__box {
	padding-bottom: 2%;
}

.box_center {
	padding-bottom: 2%;
}


.orange-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 7px;
	width: 85px;
	background-color: orange;
	position: relative;
	left: 17%;
	transform: translateX(-50%);
}

.line {
	background-color: #454545;
	height: 780px;
	width: 2px;
}

.header__line-1 {
	position: absolute;
	z-index: 0;
	display: flex;
	transform: translateY(-176.9%);
	right: 84%;
	align-items: flex-end;
}

.header__line-2 {
	position: absolute;
	z-index: 0;
	display: flex;
	transform: translateY(-176.9%);
	right: 32%;
}

.header__line-3 {
	position: absolute;
	z-index: 0;
	display: flex;
	transform: translateY(-176.9%);
	right: 15%;
}

.line__orange {
	background-color: #ec6311;
	width: 2px;
	position: relative;
}

.header__line-1-orange {
	height: 180px;
}

.header__line-2-orange {
	height: 120px;
	transform: translateY(200%);
}

.header__line-3-orange {
	height: 150px;
	transform: translateY(100%);

}

.center_modify{
	padding-top: 150px;
	padding-bottom: 150px;
}

.benefits__advantages {
	display: flex;
	position: relative;
	justify-content: center;
}

.orange-rectangle {
	height: 220px;
	width: 150px;
	background-color: #f99b47;
}

.benefits__advantage-img-block {
	display: flex;
	align-items: center;
}

.benefits__advantage-img-1,.benefits__advantage-img-2,.benefits__advantage-img-3{
	position: relative;
	z-index: 1;
}

.benefits__orange-rectangle-1 {
	position: relative;
	z-index: 0;
	transform: translateX(47%);
}

.benefits__orange-rectangle-2 {
	position: relative;
	z-index: 0;
	transform: translateX(42%);
}

.benefits__orange-rectangle-3 {
	position: relative;
	z-index: 0;
	transform: translateX(42%);
}

.benefits__advantage-1,.benefits__advantage-2,.benefits__advantage-3 {
	height: 300px;
	width: calc(100%/3);
	display: flex;
	justify-content: center;
	align-items: center;
}

.benefits__advantage-description-block {
	margin-left: 25px;
}

.advantage__description {
	font-size: 30px;
	font-family: GilroyBold;
	letter-spacing: 2px;
	line-height: 1.5;
}

.benefits__advantage-img-1,.benefits__advantage-img-2{
	transform: rotate(0deg);
	transition: 0.5s;
}

.benefits__advantage_hover-spin {
	transform: rotate(720deg);
	transition: 1s;
}

.benefits_advantage_hover-spin {
	transform: rotate(720deg);
	transition: 1s;
}


.animation_right {
	transform: rotate(20deg);
	transition: 0.3s;
	animation-delay: 0.3s;
}

.animation_stop{
	transform: rotate(0deg);
	transition: 0.3s;
	animation-delay: 0.6s;
}

.about {
	height: 745px;
	background-color: $PrGray;
	overflow: hidden;
	background-image: url("../img/about-background.png");
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.container__about {
	max-width: 1800px;
	width: 95%;
	margin: 0 auto;
}

.about__box-1 {
	display: flex;
	align-items: center;
}

.about__title-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	left: 50%;
	position: relative;
	transform: translateX(-50%);

}



.about__title {
	color: white;
}

.about__orange-block {
	left: 50%;
	transform: translateX(-50%);
}

.about__box-description {
	font-family: GilroyRegular;
    color: white;
    font-size: 36px;
    letter-spacing: 3px;
    line-height: 1.3;
}

.box__description-orange {
	color: #ff7a0f;
	font-family: GilroyBold;
	letter-spacing: 3px;
}

.about__box-description-block {
	z-index: 1;
	position: relative;
	left: 5%;
}

.box__description-we {
	font-size: 	40px;
	font-family: GilroyBold;
	letter-spacing: 3px;
	color: orange;
	text-transform: uppercase;
	line-height: 1.5;
}

.bottom_modify {
	padding-bottom: 150px;
	padding-top: 50px;
}

.about__background-title-item {
	z-index: 0;
	display: flex;
	position: absolute;
	margin-top: 0;
	margin-bottom: 0;
	transform: translateY(-300%);
	left: 8%;
}

.about__line-1 {
	position: absolute;
	z-index: 0;
	display: flex;
	transform: translateY(-6.7%);
	right: 87%;
	align-items: flex-end;
	height: 745px;
}

.about__line-1-orange {
	height: 180px;
}

.about__line-2 {
	position: absolute;
	z-index: 0;
	display: flex;
	transform: translateY(-6.7%);
	right: 53.4%;
	align-items: flex-end;
	height: 745px;
}

.about__line-3-orange {
	height: 150px;
}

.about__line-3 {
	position: absolute;
	z-index: 0;
	display: flex;
	transform: translateY(-6.7%);
	right: 33%;
	align-items: center;
	height: 745px;
}

.about__line-4-orange {
	transform: translateY(-50%);
	height: 180px;
}

.about__line-4 {
	position: absolute;
	z-index: 0;
	display: flex;
	transform: translateY(-6.7%);
	right: 9%;
	align-items: center;
	height: 745px;
}

.offers {
	padding-top: 100px;
	padding-bottom: -1000px;
	height: 500px;
}

.offers__title-block {
	display: flex;
	align-items: center;
	position: relative;
	left: 17%;
}

.blocks {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 750px;
}

.offers__block-1,.offers__block-2,.offers__block-3{
	display: flex;
	width: 1090px;
	flex-direction: row;
	justify-content: space-between;
}

.offers__slider-sm {
	display: none;
}

.slick-slider {
	display: none !important;
}

.offers__blocks  {
	position: relative;
	left: 3%;
	z-index: 3;
}

.offers__orange-block {
	left: 3.5%;
}

.block-item {
	width: 320px;
	height: 190px;
	background-color: rgba(241, 241, 241, 0.95);
}

.img-block {
	height: 80px;
	display: flex;
	align-items: center;
}

.offers__block-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.offers__description {
	font-size: 18px;
	font-family: GilroyBold;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
}

.bmw__orange-block {
	height: 875px;
	width: 635px;
	background-color: #fa9411;
}

.offers__bmw-orange-block {
	display: flex;
	transform: translateY(-95%);
	position: relative;
	left: 67%;
	z-index: 1;
}

.offers__bmw-img-block {
	display: flex;
	width: 300px;
}

.offers__background-title-item {
	color: #ed8705;
	letter-spacing: 3px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.offers__bmw-img-item {
	transform: translateY(-300%);
	position: relative;
	left: 62.5%;
	z-index: 2;
}

.bmw__img {
	background-image: url("../img/car2.png");
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	width: 723px;
	height: 444px;
}