@media (max-width: 1620px) {
  .headline {
    font-size: 48px; } }

@media (max-width: 1520px) {
  .advantages {
    left: 0px; }
  .headline {
    font-size: 44px; } }

@media (max-width: 1440px) {
  .headline {
    font-size: 40px; }
  .description_block {
    margin-top: 90px; }
  .contacts_line {
    margin-top: 0;
    margin-bottom: 10px; }
  .main {
    height: 1080px; }
  .advantages {
    margin-top: 280px; } }

@media (max-width: 1420px) {
  .advantages {
    left: -40px; } }

@media (max-width: 1370px) {
  .advantage {
    width: 150px; }
  .advantages {
    width: 1170px; }
  .text {
    font-size: 13px; } }

@media (max-width: 1350px) {
  .headline {
    font-size: 38px; }
  .headline_extra {
    font-size: 42px; } }

@media (max-width: 1300px) {
  .headline {
    font-size: 35px; } }

@media (max-width: 1240px) {
  .blur {
    display: none; }
  .logo-png2 {
    transform: translateX(-70%);
    position: relative; } }

@media (max-width: 1190px) {
  .text {
    font-size: 15px; }
  .advantages {
    width: 990px; }
  .blur {
    display: none; }
  .advantage {
    width: 130px; }
  .gr-line {
    width: 130px; }
  body {
    background-size: cover; } }

@media (max-width: 1015px) {
  .headline {
    font-size: 31px; } }

@media (max-width: 1000px) {
  .text {
    font-size: 13px; }
  .advantage {
    width: 125px; }
  .advantages {
    width: 790px; } }

@media (max-width: 982px) {
  .advantages {
    display: none; }
  .d_sm {
    display: block !important; }
  .d_lg {
    display: none !important; }
  .lg {
    display: none; }
  .sm {
    display: block !important; }
  .logo-png2 {
    display: none; }
  .description_block {
    margin-left: 0;
    display: flex;
    justify-content: center; }
  .advantage-sm {
    margin-bottom: 20px;
    position: relative;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start; }
  .gr-line {
    width: 440px; }
  .point {
    background-image: url("../img/wpoint.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 39px;
    height: 39px; }
  .main {
    height: 1800px; }
  .advantages-sm {
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    position: relative;
    left: 38%;
    transform: translateX(-50%); }
  .logo {
    display: flex; }
  .logo-png {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
  .headline_block {
    margin-left: 0; }
  .headline {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 57px;
    font-family: Montb;
    line-height: 69px;
    left: 50%;
    transform: translateX(-50%); }
  .headline_extra {
    font-family: Montb;
    font-size: 70px; }
  .description {
    text-align: left;
    right: 40px;
    position: relative;
    font-family: Montb;
    font-size: 40px;
    line-height: 47px;
    left: -20px; }
  .contacts_line {
    position: relative;
    margin-left: 0;
    left: 6%;
    margin-top: 80px; }
  .contacts_line {
    width: 800px;
    top: 40px; }
  .right {
    left: 155px; }
  .contacts {
    width: 800px; }
  .i_field {
    width: 345px; }
  .contacts {
    width: 641px;
    justify-content: center; }
  .c_w {
    display: block;
    position: relative;
    top: 100px; }
  .w_btn-block {
    position: relative;
    left: 33%;
    top: 60px; }
  .sm-text-block {
    width: 460px;
    position: relative; }
  .point {
    position: relative;
    right: 20px; }
  .gift {
    visibility: hidden; }
  .sm-text {
    font-family: Mont;
    font-size: 27px;
    line-height: 35px;
    color: #767676;
    margin-bottom: 10px; }
  body {
    margin: 0;
    background-image: url("../img/bgsm.png");
    background-color: purple;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: 100% cover; } }

@media (max-width: 500px) {
  .sm-text {
    font-size: 35px; }
  .sm-text-block {
    width: 600px; } }
