@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPTBook.woff') format('woff'),
    url('../fonts/FuturaPTBook.woff2') format('woff2');
    font-weight: 400;
    font-style: normal; 
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPTBold.woff') format('woff'),
        url('../fonts/FuturaPTBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPTExtraBold.woff') format('woff'),
        url('../fonts/FuturaPTExtraBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}