@media (max-width: 1520px) {
  .advantages {
    left: 0px; } }

@media (max-width: 1420px) {
  .advantages {
    left: -40px; } }

@media (max-width: 1370px) {
  .advantage {
    width: 150px; }
  .advantages {
    width: 1170px; }
  .text {
    font-size: 13px; } }

@media (max-width: 1320px) {
  .main {
    height: 1160px; } }

@media (max-width: 1190px) {
  .text {
    font-size: 15px; }
  .advantages {
    width: 990px;
    margin-top: 436px; }
  .advantage {
    width: 150px; }
  .main {
    height: 1380px; } }

@media (max-width: 1000px) {
  .text {
    font-size: 13px; }
  .advantage {
    width: 125px; }
  .advantages {
    width: 790px; } }

@media (max-width: 982px) {
  .advantages {
    display: none; }
  .advantage-sm {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .point {
    background-image: url("../img/wpoint.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 39px;
    height: 39px; }
  .main {
    height: 1800px; }
  .advantages-sm {
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
  .logo-png {
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
  .headline_block {
    margin-left: 0; }
  .headline {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
  .description {
    text-align: center; }
  .contacts_line {
    position: relative;
    margin-left: 0;
    left: 20%; }
  .w_btn-block {
    position: relative;
    left: 33%; }
  .sm-text-block {
    width: 460px;
    position: relative;
    left: 20px; }
  .point {
    position: relative;
    right: 20px; }
  .gift {
    visibility: hidden; }
  .sm-text {
    font-family: GothamProNormal;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 28px;
    color: #FFFFFF; }
  body {
    margin: 0;
    background-image: url("../img/bgsm.png");
    background-color: purple;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: cover; } }

@media (max-width: 500px) {
  .sm-text {
    font-size: 35px; }
  .sm-text-block {
    width: 600px; } }
