@font-face {
  font-family: "GothamProNormal";
  src: url("../fonts/GothamPro.ttf") format("truetype"); }

@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamPro-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Note";
  src: url("../fonts/15271.otf") format("truetype"); }

body {
  margin: 0;
  background-image: url("../img/bg.png");
  background-color: purple;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  background-size: cover; }

.container {
  width: 92%;
  margin: 0 auto;
  max-width: 1800px; }

.main {
  display: flex;
  overflow: hidden;
  height: 1080px; }

.logo {
  display: flex; }

.logo-png {
  padding-right: 60px;
  padding-bottom: 17px;
  width: 215px;
  height: 108px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  top: 10px;
  left: 13px; }

.headline {
  font-family: note;
  font-weight: bold;
  font-size: 60px;
  line-height: 87px;
  color: white;
  margin-top: 0;
  margin-bottom: 0; }

.headline_block {
  margin-left: 73px; }

.headline_extra {
  position: relative;
  font-family: note;
  font-weight: bold;
  font-size: 60px;
  line-height: 97px;
  color: black;
  text-shadow: 0px 0px 55px white, 0px 0px 55px white, 0px 0px 55px white, 0px 0px 55px white, 0px 0px 55px white, 0px 0px 55px white, 0px 0px 55px white, 0px 0px 55px white; }

.gift {
  width: 75px;
  height: 75px;
  background-image: url("../img/gift.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  right: 30px; }

.description_block {
  display: flex;
  align-items: center;
  margin-top: 20px; }

.description {
  font-family: GothamProNormal;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 29px;
  color: #3E3E3E;
  margin-top: 0;
  margin-bottom: 0; }

.contacts_line {
  margin-left: 60px;
  margin-top: 50px;
  width: 536px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 20px;
  transform: matrix(1, 0, 0, -1, 0, 0); }

.contacts {
  display: flex;
  align-items: center;
  width: 511px;
  height: 132.78px;
  background-color: white;
  border-radius: 20px;
  transform: matrix(1, 0, 0, -1, 0, 0); }

.field {
  top: 6px;
  position: relative;
  margin-left: 25px;
  display: flex; }

.i_field {
  width: 245px;
  padding: 0 3px;
  font-size: 25px;
  color: #D2859A;
  height: 50px;
  background: #E7E7E7;
  border: 1px solid #D2859A;
  box-sizing: border-box;
  border-radius: 201.181px; }

.i_field:focus {
  outline: none; }

.phone {
  width: 25px;
  height: 25px;
  position: relative;
  transform: translate(150%, 50%); }

.phone_btn {
  position: relative;
  transform: translateX(-22%);
  width: 208px;
  height: 50px;
  padding: 0 0 0 5px;
  border: none;
  background: #F59FAD;
  border-radius: 201.181px;
  border: 1px solid #D2859A;
  box-sizing: border-box; }

.phone_link {
  font-family: GothamProNormal;
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none; }

.contacts_info {
  position: relative;
  left: 63px;
  bottom: 6px; }

.contacts_info-item {
  font-weight: 500;
  font-size: 20px;
  font-family: GothamProNormal;
  color: #C1BEBE;
  font-weight: bolder; }

.right {
  position: relative;
  left: 55px; }

.w_btn-block {
  position: relative;
  top: 30px;
  left: 170px; }

.w_btn {
  background-color: white;
  border: none;
  border-radius: 201.181px;
  width: 297px;
  height: 50px; }

.w_btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: GothamProNormal;
  font-style: normal;
  font-weight: bolder;
  font-size: 17px;
  color: #F59FAD;
  text-decoration: none;
  position: relative;
  left: 5px; }

.wphone {
  position: relative;
  right: 10px; }

.advantages {
  position: relative;
  display: flex;
  width: 1250px;
  margin-top: 253px;
  left: 100px;
  justify-content: space-between; }

.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 181px;
  height: 161px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px 20px 0 0px; }

.round {
  background-image: url("../img/ppoint.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 72px;
  width: 72px; }

.text {
  text-align: center;
  font-family: GothamProNormal;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 18px;
  text-align: center;
  color: #B66976;
  margin-top: 0;
  position: relative;
  bottom: 10px; }
