body {
  /* Путь до изображения */
  background-image: url(../img/fon.jpg);
 
  /* Фоновое изображение всегда отцентрировано по вертикали и горизонтали */
  background-position: center center;
 
  /* Фоновое изображение не повторяется */
  background-repeat: no-repeat;
 
  /* Фоновое изображение зафиксировано в окне просмотра, поэтому оно не смещается, когда высота контента больше высоты изображения */
  background-attachment: fixed;
 
  /* Вот что позволяет фоновому изображению подстраиваться под размер контейнера */
  background-size: cover;
 
  /* Устанавливает фоновый цвет, который будет отображаться, пока загружается фоновое изображение */
  background-color: #464646;
  height: 100%;
}

html {
	height: 100%;
}

nav {
  background: rgb(43, 43, 43, 0.7) !important;
  border-width: 0 !important;
}



 a.header {
	color: yellow !important;
	font-family: segoe print;
	font-size: 180%;
	letter-spacing: 0.3em;
}

.header p {
	color:  !important;
	font-size:105%;
}

.headerActive {
	background-color: rgb(43, 43, 43, 0.7) !important;
}

ul.menubar1 {
	background: rgb(43, 43, 43, 0.7) !important;
}

ul.menubar1 a{
	color:white !important;
}

ul.menubar1 a:hover {
	background-color: #696969 !important;
}

.navbara {
	color: #FFD700;
	margin-top: 1%;
	float: none !important;
}

.navbara:hover {
	cursor: pointer;
	text-decoration: none;
	color: yellow;
}

.overlay {
	position: fixed;
	background-color: rgb(36, 36, 36,0.9);
	z-index: 3;
	width: 100%;
	height: 100%;
	display: none;
}


.login {
	position: fixed;
	background-color: rgb(20, 20, 20);
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-600%, -50%);
	z-index: 10;
	padding: 100px;
	border-color: gray;
	border-width: 1px;
}

.loginActive {
	transform: translate(-50%, -50%);
	transition: 0.5s;
}


.clearl {
	visibility: hidden;
}

.closeBtn {
	float: right;
	background-color: red;
	color:white;
	font-size: 150%;
	padding-right: 10px;
	padding-left: 10px;
	position: absolute;
    top: 0;
    right: 0;
    border-width: 0 0 1px 1px;
    border-color: darkred;
}

.closeBtn:hover {
	background-color: darkred;
}

.logint {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 100px;
	padding-left: 70px;
	background-color: black;
	border: solid;
	border-width: 0 0 2px 0;
	border-color: orange;
}

.login h3 {
	position: absolute;
	top:3px;
	text-align: center;
}

.loginb {
	position: relative;
	margin: auto;
	top: 73%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.loginb {
	background-color: rgb(20, 20, 20);
	font-size: 150%;
	color: orange;
	border:1px solid orange;
	padding-left: 20px;
	padding-right: 20px;
}

.loginb:hover {
	background-color: rgb(32, 32, 32);;
}

.login a  {
	position: relative;
	top:80%;
	text-decoration: none;
	color: orange;
}

.login a>span {
	color: yellow;
}

.login a>span:hover {
	text-decoration: underline;
}

#poisk {
	background-color: rgb(26, 24, 24) !important;
	border-width: 0;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

#k_poisk {
    color: #ded5d5 !important;
    background-color: #1a1818 !important;
    border-color: #1a1818;
}

.zagolovok {
	margin-top: 4%;
}

#osn {
	background: rgb(43, 43, 43, 0.9) !important;
	text-align: center;
}

#osn h1 {
	color: white;
	margin-top: 8%;
}

#osn p {
	margin-top: 3%;
	color: #b59e89;
	font-weight: bolder;
	font-size: 200% !important;
}

#osn a {
	color: #ffcc9d !important;
	transition: 1s;
}

#osn a:hover {
	color: #b59e89 !important;
	transition: 1s;
	text-decoration: none;
}


#hr1 {
	margin-bottom: 8%;
}

#hr2 {
	margin-top: 8%;
}

#ab {
	margin-top: 10px;
	background: rgb(43, 43, 43, 0.9) !important;
	padding-top:10px;
	padding-bottom:10px;
}

#h1ab {
	background: rgb(43, 43, 43, 0.9) !important;
	border-radius: 6px;
	margin-top: 10%;
	text-align: center;
}

#h1ab h1 {
	color: white;
	padding-top: 2%;
	padding-bottom: 2%;
}

#ab p {
	color: #989898;
	font-size: 130%;
	font-weight: lighter !important;
	font-family: calibri;
}

#abb {
	color: #989898;
	font-size: 100%;
	font-weight: lighter !important;
	font-family: calibri;
	background-color: rgb(43, 43, 43) ;
	border-radius: 5px;
}

#abb p {
	margin-left: 1%;
}
 
#h4abb {
	color: white;
	font-size: 600%;
	letter-spacing: 0.1em;
	font-family: calibri;
	margin-top: 6%;
	font-weight: bolder;
}

#hrabb {
	border-color:red !important;
	margin-top: 10%;
	border-width: 2px;
}

#ab2 {
	background: rgb(43, 43, 43, 0.9) !important;
	margin-top:10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

#ab22 {
	background: rgb(43, 43, 43, 0.9) !important;
	margin-top:10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

#ab22 p{
	color:white;
	margin-top: 0.5%;
	font-size: 120%;
	font-family: calibri;
	font-weight: bolder;
}

.cicle-slide {
  text-align: center;
  font-size: 180%;
  font-weight: bolder;
}

.cicle-slide {
	position: relative;
    display: inline-block;
}

.cicle-slide p {
	color:white;
	font-size:150%;
}

.cicle-slide span {
	position: absolute;
    right: 0;
    bottom: 35px;
    padding-right: 27px;
}


.cicle-slide img {
	position: relative;
	height: 110px;
    width: 110px;
}

.margin1 {
	margin-top: 1%;
}

.margin2 {
	margin-top: 2%;
}

.margin3 {
	margin-top: 3%;
}

.margin4 {
	margin-top: 4%;
}

.margin5 {
	margin-top: 5%;
}

.margin20 {
	margin-top: 20%;
}

.margin6{
	margin-top: 6%;
}

.margin7 {
	margin-top: 7%;
}

.margin8 {
	margin-top: 8%;
}

.margin9 {
	margin-top: 9%;
}

.margin10 {
	margin-top: 10%;
}

#info2h2 {
	font-size: 300%;
	color: white;
}

#info2hr{
	border-color: orange;
	border-width: 1px;
}

#zaebal {
	float: right !important;
}

#footer {
	width: 100%;
	background-color: rgb(43, 43, 43, 0.9);
	margin-top: 10%;
	overflow: auto;
	position: static;

}

#footh2 {
	color: white;
}

.foota {
	color: gray;
	font-size: 130%;
}

.foota:hover {
	color: yellow;
	text-decoration: none;
}

#foothr {
	border-color: orange;
}

#realms {
	margin-top: 3%;
}

#realms span {
	color: gray;
}

#fontLogoA:hover {
	cursor: pointer;
	text-decoration: none;
	color: lightgray;
}

#fontLogoA {
	position: relative;
	bottom: 10px;
	color:orange;
}

.jumbotronik {
	min-height: 100%;
	width: 100%;
	height: 100%;
}

@media (max-width: 768px) {
	.header{
		text-align: center !important;
	}

	.header p {
		display: none;
	}

	.navbar-nav>li {
		float:none;
	}
	
	.navbar-nav{
		text-align: center !important;
	}

	#ab2{
		display: none;
	}

	#kart img {
		display: none;
	}

	#h4abb {
		text-align: center;
	}

@media (min-width: 1920px) {
	
	#osn {
		width: 100%;
		height: 150vh !important;
	}

}
