@mixin flex-center {
  align-items: center;
  justify-content: center;
}

@mixin flex-jc-cent-col{
  justify-content: center;
  flex-direction: column;
}

@mixin flex-jc-spb-col {
  flex-direction: column;
  justify-content: space-between;
}

@mixin flex-jc-end-col {
  flex-direction: column;
  justify-content: flex-end;
}

@mixin flex-jc-st-col {
  flex-direction: column;
  justify-content: flex-start;
}

@mixin flex-ai-cent-col {
  align-items: center;
  flex-direction: column;
}

@mixin flex-ai-end-col {
  align-items: flex-end;
  flex-direction: column;
}

@mixin flex-ai-start-col {
  align-items: flex-start;
  flex-direction: column;
}

@mixin flex-ai-spb-col {
  align-items: space-between;
  flex-direction: column;
}

@mixin flex-st-cent{
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-end-cent{
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-cent-end{
  justify-content: center;
  align-items: flex-end;
}

@mixin flex-spb-center{
  justify-content: space-between;
  align-items: center
}

@mixin flex-center-spb{
  justify-content: center;
  align-items: space-between;
}

@mixin flex-spb-end{
  justify-content: space-between;
  align-items: flex-end;
}

@mixin image($size, $pos) {
  background-position: $pos;
  background-size: $size;
  background-repeat: no-repeat;
}

@mixin f($font, $size, $color, $weight, $lh) {
  font-family: $font;
  font-size: $size;
  color: $color;
  line-height: $lh;
  font-weight: $weight;
}

@mixin fw($font, $size, $color, $weight) {
  font-family: $font;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
//MIXINS

$blue: #19b5fe;
//VARS

.button_effect {
  transition: 0.4s;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::after {
    width: 0px;
    border-radius: 30px;
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    top: 0;
    background-color: #fff !important;
    height: 0px;
    transition: 0.4s;
  }
  
  &:hover {
    color: #19b5fe !important;
  }

  &:hover:after {
    width: 120%;
    height: 120%;
    transition: 0.4s;
  }
}

.navigation-block {
  width: 250px;
  height: 100vh;
  background-color: rgba(#000000, 0.9);
  display: flex;
  z-index: 2;
  @include flex-center;
  border-right: 6px solid #19b5fe;
  transition: 0.4s;

  &_toggle {
    transform: translate(-1000px, -50%) !important;
    transition: 0.4s;
  }

  &_pos {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__link {
    height: 23px;
    transition: 0.4s;
    width: auto;
    line-height: 1.3;

    &:hover {
      transition: 0.4s;

      &:after {
        width: 100%;
      }
    }

    &:focus:after {
      width: 100%;
    }

    &::after {
      display: block;
      content: "";
      background-color: #19b5fe;
      width: 0px;
      height: 6px;
      position: absolute;
      transition: width .3s ease-in-out;
      right: 0;
    }
  }
}

.tabulation-block {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__tabs-wrapper {
    height: 47px;
    border: 1px solid $blue;
    border-radius: 25px;
    display: flex;
    @include flex-spb-center;
    width: 824px;
  }

  &__tab {
    position: relative;
    width: 25%;
    height: 39px;
    border-right: 1px solid $blue;
    text-align: center;
    display: flex;
    @include flex-center;
    transition: 0.2s;
    cursor: pointer;

    &-text {
      @include fw(Roboto, 13px, $blue, 300);
    }

    &:last-child {
      border: none;
    }
  }

  &_tab_active {
    height: 53px;
    border-radius: 8px;
    background-color: $blue;
    color: white;
    border: none;
    border: 1px solid $blue;
    transition: 0.2s;
  }

  &_tab_active &__tab-text {
    color: white;
  }

  &_tab_active &__tab {
    border: none;
  }

  &__projects-wrapper {
    width: 1140px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 23px;
  }

  &__project {
    display: flex;
    flex-basis: 31%;
    margin-bottom: 30px;
    transition: 0.4s;
    cursor: pointer;

    &:hover {
      opacity: 0.3;
      transition: 0.4s;
    }
  }

  &_projects_active {
    display: flex;
  }
}

.advantages-block {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;

  &__advantage {
    width: 329px;
    flex-basis: 25%;
    display: flex;
    @include flex-ai-cent-col;
    margin-bottom: 40px;
  }

  &__img-wrapper {
    height: 78px;
    width: 124px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid $blue;
    margin-bottom: 23px;
  }

  &__text {
    @include f(Roboto, 14px, #3f3f3f, 400, 20px);
    width: 258px;
  }
}

.process-list-block {
  display: flex;
  @include flex-ai-cent-col;

  &__item {
    width: 1140px;
    display: flex;
    justify-content: center;
    height: 260px;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }

  &__img, &__text-wrapper {
    width: 50%;
    height: inherit;
  }

  &__text-wrapper {
    display: flex;
    text-align: center;
    @include flex-center;
  }

  &__text {
    @include fw(Roboto, 30px, #464646, 300);
  }
}

.team-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &__person {
    display: flex;
    align-items: center;
    flex-basis: 33%;
    @include flex-ai-cent-col;
    margin-bottom: 50px;
    text-align: center;
  }

  &__title {
    @include fw(Roboto, 24px, $blue, 300);
    margin-top: 17px;
    line-height: 30px;
  }

  &__description {
    @include fw(Roboto, 16px, #464646, 300);
    margin-top: 7px;
  }
}

.blog-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__elem {
    display: flex;
    @include flex-ai-cent-col;
    text-align: center;
    flex-basis: 34%;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  &__link {
    text-decoration: none;
    max-width: 520px;
    margin-top: 31px;
  }

  &__text {
    @include f(Roboto, 18px, $blue, 300, 24px);

    &:hover {
      border-bottom: 1px solid $blue;
    }
  }
}

.contacts-variants {
  
  &__img-wrapper {
    display: flex;
    @include flex-center;
    width: 27px;
    height: 27px;
    border: 1px solid white;
    border-radius: 3px;
  }

  &__elem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__description {
    margin-top: 29px;
    @include fw(Roboto, 16px, white, 300);
  }

  &__text {
    margin-left: 14px;
    @include fw(Roboto, 18px, white, 400);
  }

  &_left {
    margin-left: 30px;
    margin-top: 3px;
  }
}
//COMPONENTS-CLASSES

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}
//ALLPAGE

@keyframes scrollPulse {
  from {opacity: 1;}
  20% {opacity: 0.1;}
  40% {}
  60% {}
  70% {}
  80% {}
  90% {}
  to {}
}
//ANIMATIONS

.main-and-header {
  width: 100%;
  height: 700px;
  background-image: url('../img/headerAndMain/bg.jpg');
  @include image(1920px 700px, center center );
  z-index: -1;
}
//MAIN-AND-HEADER

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &_top {
    margin-top: 34px;
  }
}

.logo-block {
  display: flex;
  @include flex-spb-center;
  width: 158px;
  height: 60px;

  &__logo {
    width: 60px;
    height: 60px;
    @include image(60px 60px, center center);
    background-image: url('../img/headerAndMain/logo.png');

    &-text {
      @include fw(Roboto, 28px, white, 400);
    }
  }
}

.phone-and-menu-block {
  width: 313px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  background-image: url('../img/headerAndMain/phone.svg');
  @include image(32px 42px, left center);

  &__text,&__phone {
    margin-left: 35px;
  }

  &__text {
    @include fw(Roboto, 12px, white, 400);
  }

  &__phone {
    &-link {
      @include fw(Roboto, 21px, white, 700);
      text-decoration: none;
      transition: 0.1s;

      &:hover {
        color: lemonchiffon;
        transition: 0.1s;
      }
    }

    &-wrapper {
      display: flex;
      @include flex-jc-spb-col;
      height: 35px;
    }
  }

  &__menu-btn-wrapper {
    display: flex;
    @include flex-ai-cent-col;
    height: 45px;
    cursor: pointer;
    transition: 0.4s;
  }

  &__menu-btn-wrapper:hover &__elem {
    background-color: rgb(254, 255, 218);
    transition: 0.4s;
  }

  &__elem {
    width: 45px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #fff;

    &s-wrapper {
      height: 25px;
    }
  }

  &_elem {
    &_1_active {
      transform: rotate(45deg);
    }

    &_2_active {
      display: none;
    }

    &_3_active {
      transform: translateY(-7px) rotate(-45deg);
    }
  }

  &__menu-text {
    @include fw(Roboto, 12px, white, 400);
    margin-top: 5px;
  }
}
//HEADER

.main-information {
  position: relative;
  z-index: 1;
}

.main-title-block {
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: center;
  text-align: center;

  &__title {
    @include f(Roboto, 48px, white, 700, 44px);

    &-min {
      font-size: 36px;
    }
  }

  &_top {
    margin-top: 73px;
  }
}

.main-description-block {
  width: 100%;
  display: flex;
  justify-content: center;

  &__description {
    @include fw(Roboto, 22px, white, 100);

    &-small {
      vertical-align: super;
      font-size: 15px;
    }
  }

  &_top {
    margin-top: 37px;
  }
}

.main-feedback-block {
  width: 954px;
  height: 78px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  position: relative;
  display: flex;
  background-image: url('../img/headerAndMain/bgform.png');
  @include image(954px 78px, center center);
  @include flex-ai-cent-col;

  &__inputs-wrapper {
    width: 888px;
    display: flex;
    justify-content: space-between;
    transform: translateY(-26px);
    position: relative;
    background-color: rgba(#000000, 0);
    z-index: 2;
  }

  &_center {
    margin: 0 auto;
  }

  &_top {
    margin-top: 70px;
  }
}

.btn-block {
  &_header {
    transform: translateY(-5px);
  }
}

.main-garanty-block {
  display: flex;
  justify-content: center;

  &_top {
    margin-top: 52px;
  }

  &__garanty {
    @include fw(Roboto, 14px, white, 100);
    letter-spacing: 1.4px;
  }
}

.scroll-button-block {
  display: flex;
  justify-content: center;

  &__button {
    display: flex;
    @include flex-ai-cent-col;
    width: 30px;
    cursor: pointer;
    height: 60px;
    justify-content: space-between;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
      transition: 0.3s;
    }
  }

  &_top {
    margin-top: 76px;
  }

  &__mouse {
    width: 30px;
    height: 45px;
    background-image: url('../img/headerAndMain/mouse.svg');
    @include image(30px 45px, center center);
  }

  &__arrow {
    background-image: url('../img/headerAndMain/arrow.svg');
    @include image(30px 15px, center center);
    width: 30px;
    height: 15px;
    animation: scrollPulse 1.2s infinite;
    animation-delay: 1.2s;

    &:nth-of-type(2){
      animation-delay: 1s;
    }
  }
}
//MAIN-INFORMATION
.transfers {
  padding-bottom: 50px;
}

.transfer-list-block {

  &__elem {

    &:nth-of-type(2n){
      flex-direction: row-reverse;
    }
  }
}
//TRANSFERS

.calculator {
  width: 100%;
  height: 622px;
  overflow: hidden;
  background-image: url('../img/calculator/bg.jpg');
  @include image(1920px 622px, center center);

  &-description-block {
    display: flex;
    justify-content: center;

    &__description {
      @include fw(Roboto, 26px, white, 300);
    }
  }
}

.calculator-block {
  display: flex;
  justify-content: space-between;

  &__calculator-wrapper, &__packets-list {
    width: 654px;
    height: 129px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 22px;
  }

  &__calculator-wrapper {
    margin-bottom: 8px;
  }

  &__calculator {
    width: 605px;
    height: 9px;
    background-color: rgba(#ffffff, 0.5);
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;

    &-title {
      @include fw(Roboto, 20px, white, 400);
    }
  }

  &_top {
    margin-top: 39px;
  }

  &__checkbox-wrapper {
    display: flex;
    flex-direction: column-reverse;
    
    @include flex-spb-center;

    &:first-child {
      align-items: flex-start;
    }

    &:nth-of-type(2) {

    }

    &:nth-of-type(3) {
      
    }

    &:last-child{
      align-items: flex-end;
    }

  }

  &__checkbox {
    display: none;

    &-label {
      @include fw(Roboto, 16px, white, 300);
      display: flex;
      height: 43px;
      align-items: center;
      transform: translateY(4px);
      justify-content: space-between;
      flex-direction: column-reverse;

      &::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: white;
        border-radius: 50%;
        cursor: pointer;
    }

      &-up {
        vertical-align: super;
        font-size: 12px;
      }
    }

    &:checked+.calculator-block__checkbox-label::before {
      content: '';
      background-color: #19b5fe;
      background-image: url('../img/calculator/symbol.svg');
      @include image(5px 5px, center center);
    }
  }

  &_checkbox-label {

    &_first {
      align-items: flex-start;
      transform: translate(-2px, 4px);
    }

    &_last {
      align-items: flex-end;
      transform: translate(2px, 4px);
    }

    &-text_last {
      transform: translateX(3px);
    }
  }

  &__results-wrapper {
    display: flex;
    @include flex-ai-cent-col;
    text-align: center;
  }

  &__results-title {
    @include fw(Roboto, 16px, white, 400);
    margin-bottom: 7px;

    &-up {
      vertical-align: super;
      font-size: 10px;
    }
  }

  &__results-description {
    @include fw(Roboto, 32px, white,  400);
    margin-bottom: 26px;

    &-up {
      vertical-align: super;
      font-size: 20px;
    }
  }

  &__results-phone {
    margin-top: 22px;
    @include f(Roboto, 14px, white, 300, 24px);

    &-link {
      @include fw(Roboto, 18px, white, 400);
      text-decoration: none;
      transition: 0.4s;

      &:hover {
        color: lemonchiffon;
        transition: 0.2s;
        border-bottom: 1px solid lemonchiffon;
      }
    }
  }

  &__button {
    width: 193px;
    height: 45px;
    border: 1px solid #ffffff;
    display: flex;
    @include flex-center;
    position: relative;
    border-radius: 4px;
    transition: 0.2s;
    z-index: 0;
    cursor: pointer;

    &:hover &-modal {
      display: flex;
    }

    &-text {
      @include fw(Roboto, 16px, white, 400);
    }

    &s-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 19px;
    }

    &-modal {
      width: 443px;
      height: 133px;
      position: absolute;
      background-image: url('../img/calculator/modal.png');
      @include image(443px 133px, center center);
      display: none;
      justify-content: center;
      text-align: center;
      z-index: 2;
      top: 25px;

      &-text {
        @include fw(Roboto, 14px, #464646, 400);
        line-height: 24px;
        margin-top: 40px;
      }
    }
  }

  &__result-wrapper-sm {
    display: none;
  }

  &_button-modal_active {
    display: flex;
  }

  &_button_active {
    background-color: $blue;
    border-color: $blue;
    transition: 0.2s;
  }

  &__result {
    @include fw(Roboto, 21px, white, 400);
    margin-top: 30px;

    &-price {
      font-weight: 300;
    }
  }
}
//CALCULATOR

.portfolio {
  padding-bottom: 30px;
}
//PORTFOLIO

.advantages {
  background-color: #f5f9fa;
}
//ADVANTAGES

.process {
  padding-bottom: 50px;
}
//PROCESS

.team {
  padding-bottom: 50px;
}

.credit-block {
  display: flex;
  @include flex-ai-cent-col;
  text-align: center;
  position: relative;

  &_top {
    margin-top: 50px;
  }

  &__title {
    @include fw(Roboto, 30px, #464646, 300);
  }

  &__credit {
    @include f(Roboto, 18px, #464646, 300, 26px);
    max-width: 945px;
    margin-top: 15px;
  }

  &__name {
    @include fw(Roboto, 18px, #464646, 700);
    margin-top: 15px;
  }

  &__description {
    @include fw(Roboto, 16px, #464646, 300);
    margin-top: 10px;
  }

  &__quotes {
    background-image: url('../img/team/quotes.png');
    @include image(47px 37px, center center);
    width: 47px;
    height: 37px;
    position: absolute;

    &:nth-of-type(1) {
      left: 0;
      top: 0;
    }

    &:last-child {
      right: 0;
      bottom: 0;
      transform: scale(-1, 1);
    }
  }
}
//TEAM

.blog {
  padding-bottom: 50px;
  background-color: #f2f8f9;
}
//BLOG

.contacts {
  background-image: url('../img/contacts/bg.jpg');
  @include image(1920px 530px, center center);
  width: 100%;
  height: 530px;

  &-description {
    @include fw(Roboto, 26px, white, 300);
    position: relative;
    line-height: 25px;
    text-align: center;
  }

  &-wrapper {
    margin-top: 44px;
    display: flex;
  }
}

.contacts-feedback {
  width: 750px;
  height: 260px;

  &__small-field {
    width: 240px;
    height: 49px;
    border-radius: 7px;
    border: none;
    display: flex;
    align-items: center;
    padding-left: 15px;
    @include fw(Roboto, 13px, #606060, 300);

    &::placeholder {
      @include fw(Roboto, 13px, #606060, 300);
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 17px;
  }

  &__textarea {
    resize: none;
    width: 100%;
    height: 123px;
    border-radius: 7px;
    padding-left: 15px;
    padding-top: 20px;
    margin-top: 13px;
    
    &::placeholder {
      @include fw(Roboto, 13px, #606060, 300);
    }
  }
}
//CONTACTS

.footer {
  height: 128px;
  background-color: #24241f;
}

.footer-menu-block {
  display: flex;
  justify-content: space-between;

  &_top {
    margin-top: 41px;
  }

  &__elem {
    @include fw(Roboto, 14px, white, 300);
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: rgb(255, 247, 174);
      transition: 0.3s;
    }
    
    &s-wrapper {
      width: 491px;
      height: 41px;
      display: flex;
      justify-content: space-between;
    }

    &s-group {
      height: inherit;
      display: flex;
      @include flex-jc-spb-col;
    }
  }
}

.social-links-wrapper {
  display: flex;
  @include flex-jc-spb-col;
  height: 51px;

  &__text {
    @include fw(Roboto, 14px, white, 300);
  }

  &__img {
    border: 1px solid white;
    border-radius: 7px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 31px;
    height: 31px;
  }

  &_img {

    &_1 {
      background-size: 25px 19px;
      background-image: url('../img/footer/1.svg');
    }

    &_2 {
      background-size: 17px 17px;
      background-image: url('../img/footer/2.svg');
    }

    &_3 {
      background-size: 18px 18px;
      background-image: url('../img/footer/3.svg');
    }
  }

  &__links-wrapper {
    display: flex;
  }

  &__link {
    margin-right: 6px;
  }
}
//FOOTER

